<div class="panel panel-default summary-card">
  <div class="panel-heading clearfix">
    <h4 data-ng-if="!config.tableTitle || mode === 'graph'" class="panel-title pull-left" title="{{ title | translate }}">
      {{ title | translate }}
    </h4>
    <h4 data-ng-if="config.tableTitle && mode === 'table'" class="panel-title pull-left"
        title="{{ config.tableTitle | translate }}">
      {{ config.tableTitle | translate }}
    </h4>
    <div class="pull-right" data-ng-show="data.length">
      <i class="fa fa-eraser" data-ng-show="activeFilters && config.filterKey"
         data-ng-click="sc.clearFilters()" data-ng-keypress="sc.clearFilters()"></i>
      <i class="fa fa-pie-chart" data-ng-show="mode === 'table'"
         data-ng-click="mode = 'graph'"></i>
      <i class="fa fa-table" data-ng-show="mode === 'graph'"
         data-ng-click="mode = 'table'"></i>
    </div>
  </div>

  <div data-ng-if="!data.length" class="no-results" data-translate>
    {{ config.noResultsText || 'No Results in Query' }}
  </div>

  <pie-chart data="data" height="{{ height }}" config="config" data-title="{{ title }}"
             data-ng-if="mode === 'graph' && data.length" legend-limit="6"></pie-chart>

  <div class="card-table table-responsive" data-ng-if="mode === 'table' && data.length">
    <table id="{{ tableId ? tableId : title | spaceReplace:'-' | lowercase }}{{tableId ? '' : '-summary-card-table'}}"
      class="table table-striped table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th scope="col" data-translate>{{::groupingTitle}}</th>
          <th scope="col" data-translate>Cases</th>
          <th scope="col" data-translate>Files</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="item in tableData track by $index">
          <td class="truncated-cell">
            <div class="item-color" data-ng-style="{ 'background-color': item.color }"></div>
            <span>{{ item[config.displayKey] | humanify }}</span>
          </td>
          <td class="text-right">
            <a
              ng-if="item.case_count"
              href="/search/c?filters={{config.filters.default.params.filters(item[config.displayKey])}}"
            >
              {{ item.case_count | number }}
            </a>
            <span ng-if="!item.case_count">0</span>
          </td>
          <td class="text-right">
            <a
              ng-if="item[config.sortKey]"
              href="/search/f?filters={{config.filters.default.params.filters(item[config.displayKey])}}"
            >
              {{ item[config.sortKey] | number }}
            </a>
            <span ng-if="!item[config.sortKey]">0</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
