<div class="modal-header">
  <h2 class="modal-title" data-translate>{{ cufc.title }}
    <a style="font-size:1.5rem" class="pull-right" data-ng-click="cufc.closeModal()">Cancel</a>
  </h2>
  <div style="margin-bottom: 15px">
    <label for="quick-search-input">Search for a field:</label>
  <input type="text"
       placeholder="search"
       class="form-control"
       id="quick-search-input"
       data-ng-model="q"
       data-ng-change="cufc.inputChanged()"
       data-ng-keydown="keyboardListener($event)"
       autofocus />
  </div>
  <h3 style="display: inline">
    {{ filteredFields.length }} {{ cufc.docType }} fields
  </h3>
  <span class="pull-right"
       id="show-fields-checkbox"
       tabindex="0">
    <input data-ng-click="cufc.toggleEmpty()" id="show-facets-checkbox" type="checkbox" data-ng-checked="cufc.CustomFacetsService.nonEmptyOnlyDisplayed"  />
    <label for="show-facets-checkbox">Only show fields with values</label>
  </span>
</div>
<div class="modal-body no-pad" id="add-facets-modal" style="max-height: 500px; overflow-y: auto;">
  <div class="quick-search-list-container">
    <ul id="facets-list" class="list-unstyled">
      <li
        data-ng-repeat="field in (filteredFields = (cufc.facetFields | filter: q ))"
        id="{{::field.field | dotReplace:'-' }}"
        class="custom-facet-item"
        data-ng-mouseover="itemHover($index)"
        data-ng-keydown="keyboardListener($event)"
        data-ng-class="{'add-facet-selected': $index === cufc.selectedIndex }"
        data-ng-click="cufc.addFacet(field)"
      >
        <div>
          <i
            class="fa list-indent"
            data-ng-if="field.doc_type"
            style="padding: 1rem; width: 3.2rem"
            data-ng-class="{'files':'fa-file-o', 'cases':'fa-user', '':'fa-square'}[field.doc_type]">
          </i>
          <span data-ng-bind-html="field.field | highlight:q"></span>
          <em
            class="Gql_dropdown_item--type"
            data-ng-if="field.doc_type"
            data-ng-bind-html="field.type | highlight:q">
          </em>
        </div>

        <div
          data-ng-if="field.doc_type && field.description"
          class="custom-facet-description"
         >
          <em data-ng-bind-html="field.description | highlight:q | superscript"></em>
        </div>
      </li>
    </ul>
  </div>
</div>
