<div class="modal-header">
  <h2 class="modal-title" data-translate>Add a facet to the filter panel</h1>
  <div class="pull-right">
    <h4>
    <a data-ng-click="cufc.closeModal()">Cancel</a>
    </h4>
  </div>
  <div>
  <input type="text"
       placeholder="search"
       class="form-control"
       id="quick-search-input"
       data-ng-model="q"
       data-ng-change="cufc.inputChanged()"
       data-ng-keydown="keyboardListener($event)"
       autofocus />
  </div>
  <h3>{{ filteredFields.length }} {{ cufc.docType }} fields</h3>
</div>
<div class="modal-body" id="add-facets-modal" style="max-height: 500px; overflow-y: auto;">
    <div id="facets-list" class="quick-search-list-container">
    <ul class="list-unstyled" data-ng-repeat="field in (filteredFields = (cufc.facetFields | filter: q ))">
      <li id="{{::field.field | dotReplace:'-' }}"
          class="custom-facet-item"
          data-ng-mouseover="itemHover($index)"
          data-ng-keydown="keyboardListener($event)"
          data-ng-class="{'add-facet-selected': $index === cufc.selectedIndex }"
          data-ng-click="cufc.addFacet(field)">
        <div class="row">
          <div class="col-xs-1">
            <i class="fa"
               data-ng-if="field.doc_type"
               style="padding: 1rem; width: 3.2rem"
               data-ng-class="{'files':'fa-file-o', 'cases':'fa-user', '':'fa-square'}[field.doc_type]">
            </i>
          </div>
          <div class="col-xs-11"
               style="line-height: 32px; vertical-align: middle"
               data-ng-bind-html="field.field | highlight:q">
          </div>
        </div>

        <div class="row">
          <i data-ng-if="field.doc_type"
             class="col-xs-12"
             style="color:#888"
             data-ng-bind-html="field.description | highlight:q">
          </i>
        </div>

      </li>
    </ul>
  </div>
</div>
