<div class="current-filters" data-ng-if="cfc.currentFilters.length">

    <span class="btn-group">
      <button class="btn btn-default"
              data-ng-click="cfc.resetQuery()"
              aria-label="{{ 'Clear Query' | translate }}" data-translate>
        <i class="fa fa-rotate-left"></i> Clear
      </button>
    </span>

    <span class="filter" data-ng-repeat="filter in cfc.currentFilters">
      <span class="facet-block label label-primary facet-name"
            data-ng-click="cfc.removeTerm(filter.content.field, null, $event, filter.op)"
            data-ng-keypress="cfc.removeTerm(filter.content.field, null, $event, filter.op)">
        {{ filter.content.field | translate | humanify }}
      </span>
      <span data-ng-switch="filter.op">
        <span data-ng-switch-when="in">
          <span data-ng-if="filter.content.value.length === 1" class="facet-block is label label-danger">is</span>
          <span data-ng-if="filter.content.value.length > 1" class="facet-block in label label-danger">in</span>
        </span>
        <span data-ng-switch-default>
          <span class="facet-block range label label-danger">{{ filter.op }} </span>
        </span>
      </span>
      <span class="facet-block terms-container"
            data-ng-class="{ multiterm: filter.content.value.length > 1 }">
        <span data-ng-repeat="v in filter.content.value" class="facet-block">
          <span data-ng-hide="$index > 1 && !filter.expanded"
                class="facet-block label label-success term-container">
            <span class="facet-block facet-term"
                  data-ng-click="cfc.removeTerm(filter.content.field, v, $event, filter.op)"
                  data-ng-keypress="cfc.removeTerm(filter.content.field, v, $event, filter.op)">
              <span data-ng-if="filter.content.field.toLowerCase().indexOf('datetime') > -1"
                    class="facet-block"> {{ v | date:'yyyy-MM-dd'}} </span>
              <span data-ng-if="filter.content.field.toLowerCase().indexOf('datetime') === -1"
                    class="facet-block">{{ v | translate | humanify }}</span>
            </span>
            <span class="facet-block" data-ng-if="cfc.isInMyProjects(filter) && $last" data-ng-translate>
              and in My Projects
            </span>
          </span>
          <span data-ng-if="!$last" data-ng-hide="$index > 1 && !filter.expanded"
                class="facet-block term-separator">, </span>
        </span>
        <span data-ng-if="!filter.expanded && filter.content.value.length > 2" class="expand-terms"
              data-ng-click="cfc.expandTerms($event, filter)"
              data-ng-keypress="cfc.expandTerms($event, filter)">...</span>
        <span data-ng-if="filter.expanded && filter.content.value.length > 2" class="hide-terms"
              data-ng-click="cfc.expandTerms($event, filter)"
              data-ng-keypress="cfc.expandTerms($event, filter)"> ... Less</span>
      </span>
      <span class="facet-block label label-warning and" data-ng-if="!$last">AND</span>
    </span>

</div>
