<div class="current-filters" data-ng-if="cfc.currentFilters.length">

    <span class="btn-group">
      <button class="btn btn-default"
              aria-label="{{ 'Share Query' | translate }}" data-translate>
        <i class="fa fa-share"></i> Share
      </button>

      <button class="btn btn-default"
              data-ng-click="cfc.resetQuery()"
              aria-label="{{ 'Clear Query' | translate }}" data-translate>
        <i class="fa fa-rotate-left"></i> Clear
      </button>
    </span>

    <span class="filter" data-ng-repeat="filter in cfc.currentFilters">
      <span class="label label-primary facet-name"
            data-ng-click="cfc.removeTerm(filter.content.field, null, $event)"
            data-ng-keypress="cfc.removeTerm(filter.content.field, null, $event)">
        {{ filter.content.field | translate | humanify }}
      </span>
      <span data-ng-if="filter.content.value.length === 1" class="is label label-danger">is</span>
      <span data-ng-if="filter.content.value.length > 1" class="in label label-danger">in</span>
      <span class="terms-container"
            data-ng-class="{ multiterm: filter.content.value.length > 1 }">
        <span data-ng-repeat="v in filter.content.value">
          <span data-ng-hide="$index > 1 && !filter.expanded" class="label label-success term-container">
            <span class="facet-term"
                  data-ng-click="cfc.removeTerm(filter.content.field, v, $event)"
                  data-ng-keypress="cfc.removeTerm(filter.content.field, v, $event)">
              {{v | translate | humanify }}
            </span>
            <span data-ng-if="filter.content.field === 'participants.admin.disease_code' && cfc.UserService.currentUser && cfc.UserService.currentUser.isFiltered && $last"
                  data-ng-translate>
              and in My Projects
            </span>
          </span>
          <span data-ng-if="!$last" data-ng-hide="$index > 1 && !filter.expanded"
                class="term-separator">, </span>
        </span>
        <span data-ng-if="!filter.expanded && filter.content.value.length > 2" class="expand-terms"
              data-ng-click="cfc.expandTerms($event, filter)"
              data-ng-keypress="cfc.expandTerms($event, filter)">...</span>
        <span data-ng-if="filter.expanded && filter.content.value.length > 2" class="hide-terms"
              data-ng-click="cfc.expandTerms($event, filter)"
              data-ng-keypress="cfc.expandTerms($event, filter)"> ... Less</span>
      </span>
      <span class="label label-warning and" data-ng-if="!$last">AND</span>
    </span>

</div>
