<div class="list-group-item">
  <h4 class="list-group-item-heading facet-title">
    <span data-ng-click="dfc.toggle($event, 'collapsed')"
          data-ng-keypress="dfc.toggle($event, 'collapsed')"
          aria-expanded="{{ !dfc.collapsed }}"
          aria-label="{{ ::facet.value | translate }} Facet Collapse Toggle"
          role="button">
      <i class="fa" data-ng-class="{ 'fa-angle-down': !dfc.collapsed, 'fa-angle-right': dfc.collapsed }"></i>
      {{ title | translate }}
    </span>

    <span class="pull-right">
      <i class="fa fa-rotate-left"
        data-ng-if="dfc.facetAdded"
        data-ng-click="dfc.clear()"
      ></i>
      <i class="fa fa-times"
        data-ng-if="removable === 'true'"
        data-ng-click="removeFunction()"
      ></i>
    </span>
  </h4>
  <div data-ng-show="!dfc.collapsed" class="row">
      <div class="col-sm-12">
          <div class="input-group">
            <label for="{{::facet.value}}-date-input" class="input-group-addon">since</label>
            <input id="{{::facet.value}}-date-input" type="text" class="form-control"
            id="{{ 'input-'+title }}"
            data-uib-datepicker-popup
            data-datepicker-options="dateOptions"
            data-ng-model="date"
            data-is-open="opened"
            data-ng-required="true"
            data-close-text="Close" />
            <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default fa fa-calendar"
                      style="line-height: 1.42"
                      ng-click="dfc.open($event)">
                <span class="caret" style="margin-left: 0.5rem"></span>
                <span class="icon-btn-label">Calendar</span>
              </button>
              <button class="btn btn-default" type="button" data-ng-click="dfc.search()">Go!</button>
            </span>
          </div>
      </div>
  </div>
</div>
