<div class="list-group-item">
  <h4 class="list-group-item-heading"
      data-ng-click="ftc.toggle($event, 'collapsed')"
      data-ng-keypress="ftc.toggle($event, 'collapsed')"
      aria-expanded="{{ !ftc.collapsed }}"
      aria-label="{{ facet.value | translate }} Facet Collapse Toggle"
      role="button">
    <i class="fa" data-ng-class="{ 'fa-chevron-down': !ftc.collapsed, 'fa-chevron-right': ftc.collapsed }"></i>
    {{ title | translate }}
  </h4>

      <p class="text-success" data-ng-repeat="active in ftc.actives">
        <span data-ng-click="ftc.remove(active)"
              data-ng-keypress="ftc.remove(active)">
          <i class="fa fa-check-circle-o" aria-controls="data-table" aria-checked="true"></i>
            {{ active }}
        </span>
        <!--<span class="label label-success">{{ term.doc_count }}</span>-->
      </p>

  <p class="input-group" data-ng-if="!ftc.collapsed">
    <input type="text" class="form-control" placeholder="{{ placeholder }}" data-ng-model="ftc.searchTerm">
    <span class="input-group-addon">
      <span class="fa fa-search" data-ng-click="ftc.searchButtonClick()"></span>
    </span>
  </p>
</div>
