<div class="list-group-item" id="{{ title | lowercase | spaceReplace:'-' }}-facet-list-group">
  <facets-heading has-actives="tc.actives.length !== 0"
                  remove-function="removeFunction()"
                  clear-function="clear(tc.name)"
  ></facets-heading>
  <div data-ng-hide="collapsed">
    <p data-ng-show="(!tc.terms.length && !tc.error) || (tc.terms.length === 1 && tc.terms[0].key === '_missing')">
      No Data for this Field
    </p>
    <p data-ng-show="tc.error">
      {{tc.error}}
    </p>
    <p data-ng-show="tc.terms.length" data-ng-repeat="term in tc.actives track by term.key"
       class="list-group-item-text">
      <span data-ng-click="tc.remove(tc.name, term.key)"
            data-ng-keypress="remove(tc.name, term.key, $event)"
            tabindex="0"
            class="facet-term-label">
        <input id="facet-checkbox-true-{{term.key}}" type="checkbox" data-ng-checked="true"  />
        <label data-ng-if="tc.name.indexOf('project_id') !== -1"
              data-uib-tooltip="{{ ::ProjectsService.projectIdMapping[term.key] }}"
              data-tooltip-append-to-body="true"
              data-tooltip-placement="right"
              for="facet-checkbox-true-{{term.key}}">{{ ::term.key.toUpperCase() }}</label>
        <label data-ng-if="tc.name.indexOf('project_id') === -1" for="facet-checkbox-true-{{term.key}}">
          {{ ::term.key | translate }}
        </label>
      </span>
      <span class="label label-primary pull-right">{{ term.doc_count | number:0 }}</span>
    </p>

    <p data-ng-repeat="term in tc.inactives | limitTo: tc.displayCount track by term.key"
       data-ng-if="term.key !== '_missing'"
       class="list-group-item-text">
      <span data-ng-click="tc.add(tc.name, term.key)"
            data-ng-keypress="add(tc.name, term.key, $event)"
            tabindex="0"
            class="facet-term-label">
        <input id="facet-checkbox-false-{{term.key}}" type="checkbox" data-ng-checked="false"  />
        <label data-ng-if="tc.name.indexOf('project_id') !== -1"
              data-uib-tooltip="{{ ::ProjectsService.projectIdMapping[term.key] }}"
              data-tooltip-append-to-body="true"
              data-tooltip-placement="right"
              for="facet-checkbox-false-{{term.key}}">
          {{ ::term.key.toUpperCase() }}
        </label>
        <label data-ng-if="tc.name.indexOf('project_id') === -1 && showTooltip"
              data-tooltip-append-to-body="true"
              data-uib-tooltip="{{::term.key}}"
              for="facet-checkbox-false-{{term.key}}">
          {{ ::term.key | translate }}
        </label>
        <label data-ng-if="tc.name.indexOf('project_id') === -1 && !showTooltip" for="facet-checkbox-false-{{term.key}}">
          {{ ::term.key | translate }}
        </label>
      </span>
      <span class="label label-primary pull-right">{{ term.doc_count | number:0 }}</span>
    </p>

    <div class="text-right">
      <a data-ng-if="tc.inactives.length > tc.originalDisplayCount"
         data-ng-click="tc.toggle($event, 'expanded')"
         data-ng-keypress="tc.toggle($event, 'expanded')"
         aria-label="Expanded Terms Toggle"
         tabindex="0"
         role="button">
        <span data-ng-show="!tc.expanded">{{ tc.inactives.length - tc.displayCount }} More...</span>
        <span data-ng-show="tc.expanded">Less...</span>
      </a>
    </div>
  </div>
</div>
