<div class="list-group-item">
  <label class="list-group-item-heading h4 facet-title"
      data-ng-click="dfc.toggle($event, 'collapsed')"
      data-ng-keypress="dfc.toggle($event, 'collapsed')"
      aria-expanded="{{ !dfc.collapsed }}"
      aria-label="{{ facet.value | translate }} Facet Collapse Toggle"
      role="button"
      for="{{ 'autocomplete-' + title }}">
    <i class="fa" data-ng-class="{ 'fa-angle-down': !dfc.collapsed, 'fa-angle-right': dfc.collapsed }"></i>
    {{ title | translate }}
  </label>

  <div data-ng-show="!dfc.collapsed" class="row">
      <div class="col-sm-12">
          <div class="input-group">
          <input type="text" class="form-control"
            data-ng-change="dfc.datePicked()"
            id="{{ 'autocomplete-' + title }}"
            data-datepicker-popup="MM/DD/YYYY"
            data-datepicker-options="dateOptions"
            data-ng-model="date"
            data-is-open="opened"
            data-ng-required="true"
            data-close-text="Close" />
            <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default fa fa-calendar"
                      style="line-height: 1.42"
                      ng-click="dfc.open($event)">
                <span class="caret" style="margin-left: 0.5rem"></span>
                <span class="icon-btn-label">Calendar</span>
              </button>
              <button class="btn btn-default" type="button" data-ng-click="dfc.search()">Go!</button>
            </span>
          </div>
      </div>
  </div>
</div>

