<div class="list-group-item">
  <facets-heading has-actives="dfc.facetAdded"
                  remove-function="removeFunction()"
                  clear-function="clear()"
  ></facets-heading>
  <div data-ng-show="!collapsed" class="row">
      <div class="col-sm-12">
          <div class="input-group">
            <label for="{{::facet.value}}-date-input" class="input-group-addon">since</label>
            <input id="{{::facet.value}}-date-input" type="text" class="form-control"
            id="{{ 'input-'+title }}"
            data-uib-datepicker-popup
            data-datepicker-options="dateOptions"
            data-ng-model="date"
            data-is-open="opened"
            data-ng-required="true"
            data-close-text="Close" />
            <span class="input-group-btn">
              <button type="button"
                      class="btn btn-default fa fa-calendar"
                      style="line-height: 1.42"
                      ng-click="dfc.open($event)">
                <span class="caret" style="margin-left: 0.5rem"></span>
                <span class="icon-btn-label">Calendar</span>
              </button>
              <button class="btn btn-default" type="button" data-ng-click="dfc.search()">Go!</button>
            </span>
          </div>
      </div>
  </div>
</div>
