<div class="list-group-item" id="{{ title | lowercase | spaceReplace:'-' }}-facet-list-group">
  <facets-heading has-actives="ftc.actives.length !== 0"
                  remove-function="removeFunction()"
                  clear-function="clear()"
  ></facets-heading>
  <p class="text-success facet-title" data-ng-repeat="active in ftc.actives">
    <span data-ng-click="ftc.remove(active)"
          data-ng-keypress="ftc.remove(active)">
      <i class="fa fa-check-circle-o" aria-controls="data-table" aria-checked="true"></i>
        {{ active }}
    </span>
  </p>
  <div class="input-group" data-ng-if="!collapsed && !ftc.actives.length">
    <span class="input-group-addon">
      <span class="fa fa-search"></span>
    </span>
    <input data-ng-if="ftc.autocomplete"
           type="text" data-ng-model="ftc.searchTerm"
           placeholder="{{ 'Search for' | translate }} {{ placeholder | translate }}"
           data-uib-typeahead="id for id in ftc.prefixValue($viewValue)"
           data-typeahead-on-select="ftc.termSelected()"
           data-ng-change="ftc.saveInput()"
           data-typeahead-min-length="2"
           maxlength="100"
           id="{{ 'autocomplete-' + field }}"
           data-typeahead-template-url="{{ template }}"
           class="form-control"
           style="border-radius: 0px;">
  </div>
</div>
