<div class="list-group-item">
  <facets-heading has-actives="rfc.lowerFacetAdded || rfc.upperFacetAdded"
                  remove-function="removeFunction()"
                  clear-function="clear()"
  ></facets-heading>
  <div data-ng-show="!collapsed">
    <form name="{{field}}-radio" ng-if="convertDays">
      <label for="{{field}}-years-radio">
        <input type="radio" ng-model="rfc.selectedUnit" value="years" data-ng-change="rfc.unitClicked()" id="{{field}}-years-radio">
          Years
      </label>
      <label for="{{field}}-days-radio">
        <input type="radio" ng-model="rfc.selectedUnit" value="days" data-ng-change="rfc.unitClicked()" id="{{field}}-days-radio">
          Days
      </label><br/>
    </form>
    <p data-ng-if="rfc.error">
      {{rfc.error}}
    </p>
    <div class="input-group" data-ng-if="data">
      <label for="from-{{title}}" class="input-group-addon">From:</label>
      <input id="from-{{title}}"
             type="number"
             class="form-control"
             style="border-radius: 0px;"
             placeholder="{{ rfc.displayedMin }}"
             title="Min: {{ rfc.displayedMin | number}}; Max: {{ rfc.displayedMax | number}}"
             data-ng-model="rfc.lowerBound"
             aria-label="Min {{ field }}"
             data-ng-change="rfc.inputChanged()">
      <label for="to-{{title}}" class="input-group-addon" style="border-radius: 0px; border-right: 0px; border-left: 0px">To:</label>
      <input id="to-{{title}}"
             type="number"
             class="form-control"
             style="border-radius: 0px"
             placeholder="{{ rfc.displayedMax }}"
             title="Min: {{ rfc.displayedMin | number}}; Max: {{ rfc.displayedMax | number}}"
             data-ng-model="rfc.upperBound"
             aria-label="Max {{ field }}"
             data-ng-change="rfc.inputChanged()">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" data-ng-click="rfc.setBounds()">Go!</button>
      </span>
    </div>
  </div>
  <div style="margin-top: 10px; margin-bottom: 5px;"
       class="alert alert-warning"
       data-ng-show="(lowerBoundFinal >= rfc.warningDays) || (upperBoundFinal >= rfc.warningDays)"
       data-ng-if="title.toLowerCase().indexOf('age') !== -1">
    <p>
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      For health information privacy concerns, individuals over 89 will all appear as 90 years old. For more information,
      click <a href="https://gdc.nci.nih.gov/about-gdc/gdc-faqs#collapsible-item-618-question" target="_blank">here</a>.
    </p>
  </div>
</div>
