<a data-ng-if="!match.model.warning">
  <div class="typeahead-row">
    <div class="icon-container">
      <i class="fa fa-user"></i>
    </div>
    <div class="data-container">
      <div class="data-row">
        <span class="uuid">{{ match.model.case_id }}</span>
      </div>
      <div class="data-row sub-item">
        {{ match.model.submitter_id || 'Prefix search' }}
      </div>
    </div>
  </div>
</a>
<span data-ng-if="match.model.warning">
  <div class="typeahead-row">
    <em class="text-muted">
    {{ match.model.warning }}
    </em>
  </div>
</span>
