<a data-ng-if="!match.model.warning">
  <div class="typeahead-row">
    <div class="icon-container">
      <i class="fa fa-folder-o"></i>
    </div>
    <div class="data-container">
      <div class="data-row">
        <span class="uuid">{{ match.model.name }}</span>
      </div>
      <div class="data-row sub-item">
        {{ match.model.program.name }} - {{ match.model.project_id }}
      </div>
      <div class="data-row sub-item">
        {{ match.model.primary_site }}
      </div>
    </div>
  </div>
</a>
<span data-ng-if="match.model.warning">
  <div class="typeahead-row">
    <em class="text-muted">
    {{ match.model.warning }}
    </em>
  </div>
</span>
