button * {
  /* firefox event delegation issues
  in this component */
  pointer-events: none;
}

/* notifier style is based on our Notification.js  */

/* #root sibling selector helps override the plotly.js stylesheet */

#root ~ .plotly-notifier {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  max-width: 100%;
  top: 1rem;
  width: 100%;
  p {
    margin: 0;
    font-size: 14px;
  }
  .notifier-note {
    background-color: #EDF8FB;
    border-radius: 10px;
    border: 1px solid #B4CCD4;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    color: #5C5151;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    width: 40rem;
  }
  .notifier-close {
    color: #5C5151;
    font-size: 18px;
    font-weight: 300;
    height: 1em;
    line-height: 1;
    position: absolute;
    right: 5px;
    text-transform: lowercase;
    top: 2px;
    transform: scaleY(95%);
    width: 1em;
  }
}

// cluster table

.scrnaseq-projection {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media(min-width: 1300px) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media(min-width: 14400px) {
    justify-content: space-evenly;
  }
}

.scrnaseq-cluster-plot[style] {
  width: 500px;
}

.scrnaseq-cluster-table {
  width: 600px;
  @media(min-width: 1300px) {
    width: 400px;
  }
  @media(min-width: 1440px) {
    width: 500px;
  }
  @media(min-width: 1500px) {
    width: 600px;
  }
  @media(min-width: 1600px) {
    width: 700px;
  }
}

.scrnaseq-column {
  @media(min-width: 1300px) {
    float: left;
    width: calc(50% - 5px);
    &:nth-child(odd) {
      clear: both;
      margin-right: 5px;
    }
    &:nth-child(even) {
      margin-left: 5px;
    }
  }
}