<section class="row" id="biospecimen">
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" data-translate>Biospecimen</h3>
        <data-download-button ng-if="bc.bioSpecimenFile" data-files=bc.bioSpecimenFile data-copy="Download Biospecimen XML" data-dlcopy="Downloading" data-classes="btn pull-right" />
      </div>
      <div class="panel-body">
        <div class="col-lg-5 col-md-5">
          <div class="row biospecimen-tree-action-bar">
            <div class="col-xs-8">
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                <input type="text" class="form-control"
                  placeholder="Search.."
                  data-ng-change="search(searchTerm, participant)"
                  data-ng-model="searchTerm"
                />
              </div>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-default pull-right" data-ng-click="expandAll($event, participant, !participant.biospecimenTreeExpanded)">
                {{ participant.biospecimenTreeExpanded ? 'Collapse All' : 'Expand All' }}
              </button>
            </div>
          </div>
          <i class="fa fa-plus-square-o action" data-ng-if="!participant.samples.expanded"
             data-ng-click="expandTree($event, participant.samples)"
             data-ng-keypress="expandTree($event, participant.samples)"
             aria-label="Expand Portions for {{ sample.submitter_id }}"></i>
          <i class="fa fa-minus-square-o action" data-ng-if="participant.samples.expanded"
             data-ng-click="expandTree($event, participant.samples)"
             data-ng-keypress="expandTree($event, participant.samples)"
             aria-label="Collapse Samples for {{ participant.case_id }}"></i>
          <i class="fa fa-folder-o" data-ng-if="!participant.samples.expanded"></i>
          <i class="fa fa-folder-open-o" data-ng-if="participant.samples.expanded"></i>
          &nbsp;<span class="h5" data-translate>Samples</span>
          <!-- Start of Samples List -->
          <div data-ng-repeat="sample in participant.samples"
               data-ng-if="participant.samples.expanded">
            <div data-ng-if="sample.submitter_id" class="biospecimen-row document">
              <i class="fa fa-plus-square-o action" data-ng-if="!sample.expanded"
                 data-ng-click="expandTree($event, sample)"
                 data-ng-keypress="expandTree($event, sample)"
                 aria-label="Expand Sample {{ sample.submitter_id }}"></i>
              <i class="fa fa-minus-square-o action" data-ng-if="sample.expanded"
                 data-ng-click="expandTree($event, sample)"
                 data-ng-keypress="expandTree($event, sample)"
                 aria-label="Collapse Sample {{ sample.submitter_id }}"></i>
              <i class="fa fa-file-o" data-ng-if="!sample.expanded"></i>
              <i class="fa fa-file-o" data-ng-if="sample.expanded"></i>
              &nbsp;
              <span data-ng-click="bc.displayBioSpecimenDocument($event, sample, 'sample')"
                    data-ng-keypress="bc.displayBioSpecimenDocument($event, sample, 'sample')"
                    class="biospecimen-id"
                    data-ng-class="{ selected: sample === bc.activeBioSpecimenDoc, highlighted: foundBySearch(sample.submitter_id) }"
                    data-ng-bind-html="(sample.submitter_id | highlight:searchTerm ) || sample.submitter_id">
              </span>

              <div data-ng-if="sample.portions.length" data-ng-class="{ hidden: !sample.expanded }"
                   aria-expanded="sample.expanded">
                <div class="biospecimen-row section">
                  <i class="fa fa-plus-square-o action" data-ng-if="!sample.portions.expanded"
                     data-ng-click="expandTree($event, sample.portions)"
                     data-ng-keypress="expandTree($event, sample.portions)"
                     aria-label="Expand Portions for {{ sample.submitter_id }}"></i>
                  <i class="fa fa-minus-square-o action" data-ng-if="sample.portions.expanded"
                     data-ng-click="expandTree($event, sample.portions)"
                     data-ng-keypress="expandTree($event, sample.portions)"
                     aria-label="Collapse Portions for {{ sample.submitter_id }}"></i>
                  <i class="fa fa-folder-o" data-ng-if="!sample.portions.expanded"></i>
                  <i class="fa fa-folder-open-o" data-ng-if="sample.portions.expanded"></i>
                  &nbsp;<span class="h5" data-translate>Portions</span>

                  <!-- Start of Portions List -->
                  <div data-ng-repeat="portion in sample.portions" data-ng-if="sample.portions.expanded">
                    <div class="biospecimen-row">
                      <i class="fa fa-plus-square-o action"
                         data-ng-if="!portion.expanded && (portion.slides.length || portion.analytes.length)"
                         data-ng-click="expandTree($event, portion)"
                         data-ng-keypress="expandTree($event, portion)"
                         aria-label="Expand Portion {{ portion.submitter_id }}"></i>
                      <i class="fa fa-minus-square-o action"
                         data-ng-if="portion.expanded && (portion.slides.length || portion.analytes.length)"
                         data-ng-click="expandTree($event, portion)"
                         data-ng-keypress="expandTree($event, portion)"
                         aria-label="Collapse Portion {{ portion.submitter_id }}"></i>
                      <i class="fa fa-file-o"
                         data-ng-class="{ 'no-expand': !portion.slides.length && !portion.analytes.length }"></i>
                      &nbsp;
                      <span data-ng-click="bc.displayBioSpecimenDocument($event, portion, 'portion')"
                            data-ng-keypress="bc.displayBioSpecimenDocument($event, portion, 'portion')"
                            class="biospecimen-id"
                            data-ng-class="{ selected: portion === bc.activeBioSpecimenDoc }">
                        <span data-ng-if="portion.submitter_id"
                              data-ng-class="{ highlighted: foundBySearch(portion.submitter_id) }"
                              data-ng-bind-html="(portion.submitter_id | highlight:searchTerm) || portion.submitter_id">
                        </span>
                        <span data-ng-if="!portion.submitter_id">
                          <span data-translate>TARGET Portion</span>
                          {{ $index + 1 }}
                        </span>
                      </span>

                      <div data-ng-if="portion.slides.length" data-ng-class="{ hidden: !portion.expanded }"
                           aria-expanded="portion.expanded">
                        <div class="biospecimen-row section">
                          <i class="fa fa-plus-square-o action" data-ng-if="!portion.slides.expanded"
                             data-ng-click="expandTree($event, portion.slides)"
                             data-ng-keypress="expandTree($event, portion.slides)"
                             aria-label="Expand Slides for {{ portion.submitter_id }}"></i>
                          <i class="fa fa-minus-square-o action" data-ng-if="portion.slides.expanded"
                             data-ng-click="expandTree($event, portion.slides)"
                             data-ng-keypress="expandTree($event, portion.slides)"
                             aria-label="Collapse Slides for {{ portion.submitter_id }}"></i>
                          <i class="fa fa-folder-o" data-ng-if="!portion.slides.expanded"></i>
                          <i class="fa fa-folder-open-o" data-ng-if="portion.slides.expanded"></i>
                          &nbsp;
                          <span class="h5" data-translate>Slides</span>

                          <div data-ng-repeat="slide in portion.slides" class="biospecimen-row document biospecimen-id"
                               data-ng-click="bc.displayBioSpecimenDocument($event, slide, 'slide')"
                               data-ng-keypress="bc.displayBioSpecimenDocument($event, slide, 'slide')"
                               data-ng-if="portion.slides.expanded"
                               data-ng-class="{ selected: slide === bc.activeBioSpecimenDoc }">
                            <i class="fa fa-file-o"></i>
                            <span data-ng-if="slide.submitter_id"
                                  data-ng-class="{ highlighted: foundBySearch(slide.submitter_id) }"
                                  data-ng-bind-html="(slide.submitter_id | highlight:searchTerm) || slide.submitter_id"></span>
                            <span data-ng-if="!slide.submitter_id">
                              <span data-translate>TARGET Slide</span>
                              {{ $index + 1 }}
                            </span>
                          </div>
                        </div>
                      </div>

                      <div data-ng-if="portion.analytes.length" data-ng-class="{ hidden: !portion.expanded }"
                           aria-expanded="portion.expanded">
                        <div class="biospecimen-row section">
                          <i class="fa fa-plus-square-o action" data-ng-if="!portion.analytes.expanded"
                             data-ng-click="expandTree($event, portion.analytes)"
                             data-ng-keypress="expandTree($event, portion.analytes)"
                             aria-label="Expand Portions for {{ sample.submitter_id }}"></i>
                          <i class="fa fa-minus-square-o action" data-ng-if="portion.analytes.expanded"
                             data-ng-click="expandTree($event, portion.analytes)"
                             data-ng-keypress="expandTree($event, portion.analytes)"
                             aria-label="Collapse Portions for {{ sample.submitter_id }}"></i>
                          <i class="fa fa-folder-o" data-ng-if="!portion.analytes.expanded"></i>
                          <i class="fa fa-folder-open-o" data-ng-if="portion.analytes.expanded"></i>
                          &nbsp;
                          <span class="h5" data-translate>Analytes</span>

                          <div data-ng-repeat="analyte in portion.analytes" class="biospecimen-row"
                               data-ng-if="portion.analytes.expanded">
                            <i class="fa fa-plus-square-o" data-ng-if="!analyte.expanded"
                               data-ng-click="expandTree($event, analyte)"
                               data-ng-keypress="expandTree($event, analyte)"
                               aria-label="Expand Analytes {{ portion.submitter_id }}"></i>
                            <i class="fa fa-minus-square-o" data-ng-if="analyte.expanded"
                               data-ng-click="expandTree($event, analyte)"
                               data-ng-keypress="expandTree($event, analyte)"
                               aria-label="Collapse Analytes {{ portion.submitter_id }}"></i>
                            <i class="fa fa-folder-o" data-ng-if="!analyte.expanded"></i>
                            <i class="fa fa-folder-open-o" data-ng-if="analyte.expanded"></i>
                            &nbsp;
                            <span data-ng-click="bc.displayBioSpecimenDocument($event, analyte, 'analyte')"
                                  data-ng-keypress="bc.displayBioSpecimenDocument($event, analyte, 'analyte')"
                                  data-ng-if="portion.analytes.expanded"
                                  class="biospecimen-id"
                                  data-ng-class="{ selected: analyte === bc.activeBioSpecimenDoc }">
                              <span data-ng-if="analyte.submitter_id"
                                    data-ng-class="{ highlighted: foundBySearch(analyte.submitter_id) }"
                                    data-ng-bind-html="(analyte.submitter_id | highlight:searchTerm) || analyte.submitter_id">
                              </span>
                              <span data-ng-if="!analyte.submitter_id">
                                <span data-translate>TARGET Analyte</span>
                                {{ $index + 1 }}
                              </span>
                            </span>

                            <div data-ng-if="analyte.aliquots.length" data-ng-class="{ hidden: !analyte.expanded }"
                                 aria-expanded="analyte.expanded">
                              <div class="biospecimen-row section">
                                <i class="fa fa-plus-square-o action" data-ng-if="!analyte.aliquots.expanded"
                                   data-ng-click="expandTree($event, analyte.aliquots)"
                                   data-ng-keypress="expandTree($event, analyte.aliquots)"
                                   aria-label="Expand Aliquots for {{ analyte.submitter_id }}"></i>
                                <i class="fa fa-minus-square-o action" data-ng-if="analyte.aliquots.expanded"
                                   data-ng-click="expandTree($event, analyte.aliquots)"
                                   data-ng-keypress="expandTree($event, analyte.aliquots)"
                                   aria-label="Collapse Aliquots for {{ analyte.submitter_id }}"></i>
                                <i class="fa fa-folder-o" data-ng-if="!analyte.aliquots.expanded"></i>
                                <i class="fa fa-folder-open-o" data-ng-if="analyte.aliquots.expanded"></i>
                                &nbsp;
                                <span class="h5" data-translate>Aliquots</span>

                                <div data-ng-repeat="aliquot in analyte.aliquots" class="biospecimen-row document biospecimen-id"
                                     data-ng-click="bc.displayBioSpecimenDocument($event, aliquot, 'aliquot')"
                                     data-ng-keypress="bc.displayBioSpecimenDocument($event, aliquot, 'aliquot')"
                                     data-ng-if="analyte.aliquots.expanded"
                                     class="biospecimen-id"
                                     data-ng-class="{ selected: aliquot === bc.activeBioSpecimenDoc }">
                                  <i class="fa fa-file-o"></i>
                                  <span data-ng-if="aliquot.submitter_id"
                                        data-ng-class="{ highlighted: foundBySearch(aliquot.submitter_id) }"
                                        data-ng-bind-html="(aliquot.submitter_id | highlight:searchTerm) || aliquot.submitter_id">
                                  </span>
                                  <span data-ng-if="!aliquot.submitter_id">
                                    <span data-translate>TARGET Aliquot</span>
                                    {{ $index + 1 }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7" data-ng-class="{ hidden: !bc.activeBioSpecimenDoc }">
          <h4 data-translate>Details - {{ bc.activeBioSpecimenDocType | humanify | translate }}</h4>
          <table id="biospecimen-table" class="table table-striped table-hover table-condensed table-bordered">
            <tbody>
              <tr>
                <th scope="row" data-translate>Submitter ID</th>
                <td>{{ bc.activeBioSpecimenDoc.submitter_id }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>{{ bc.activeBioSpecimenDocType | humanify | translate }} ID</th>
                <td>{{ bc.activeBioSpecimenDoc[bc.activeBioSpecimenDocType + '_id'] }}</td>
              </tr>
              <tr data-ng-repeat="(key, value) in bc.activeBioSpecimenDoc"
                  data-ng-if="bc.displayBioSpecimenDocumentRow(key, value)">
                <th scope="row" data-translate>{{ key | humanify }}</th>
                <td>{{ bc.displayBioSpecimenDocumentRowValue(key, value) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
