// angular-ui-bootstrap fix
@import "colours.less";
@import "globals.less";
@import "utils.less";
@import "cart.less";
@import "entities.less";
@import "files.less";
@import "pagination.less";
@import "header.less";
@import "footer.less";
@import "search.less";
@import "../scripts/components/styles.less";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: @FOOTER_HEIGHT + 20;
  margin-top: -20px;
}

body {
  > a.skip-to-content {
    position: absolute;
    left: -999px;
    background-color: black;
    z-index: 1000;

    &:focus {
      left: 5px;
    }
  }
}

.full-page {
  padding-top: 20px;
}

.xhrCounter{
  position: fixed;
  z-index: 2000;
  top: 8rem;
  right: 5rem;
  height: 5rem;
  width: 5rem;
  font-weight: 300;
  font-size: 5rem;

}

.xhrCounter.ng-enter, .xhrCounter.ng-leave {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.xhrCounter.ng-enter,
.xhrCounter.ng-leave.ng-leave-active {
  opacity: 0;
}

.xhrCounter.ng-leave,
.xhrCounter.ng-enter.ng-enter-active {
  opacity: .5;
}

th, td {
  white-space: nowrap;
}

/* bootcard override */
.panel {
  border-radius: 0;
}
.panel-default .panel-heading,
.panel-default .panel-footer {
  background: #fff;
}
.list-group-item-heading.current a{
  color: #428bca;
}
.list-group-item {
  margin-left: 0 ;
  padding-left: 10px;

  i {
    width: 3rem;
    text-align: center;
  }
  i, img {
    margin-right: 0;
    opacity: 1;
  }
}
p {
  margin: 0 0 5px;
}
.pagination {
  margin: 0;
}
table .btn {
  padding: 4px 10px;
}
.table > thead > tr > th {
  vertical-align: middle;
}
.table>tbody>tr>td:first-child, .table>tbody>tr>th:first-child, .table>tfoot>tr>td:first-child, .table>tfoot>tr>th:first-child, .table>thead>tr>td:first-child, .table>thead>tr>th:first-child {
  padding-left: 5px;
}
.table-vertical {
  &>tbody>tr>td:first-child, &>tbody>tr>th:first-child, &>tfoot>tr>td:first-child, &>tfoot>tr>th:first-child, &>thead>tr>td:first-child, &>thead>tr>th:first-child {
    white-space: nowrap;
  }
  td,th {
    white-space: normal;
  }
}

