.entity {

  .entity-identifier {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
  }

  // Styling override to prevent having an extra thick border on first row
  // when there is also a header
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
  }

}
