#nci-header {
  background-colour: @NCI_COLOUR;
  height: @NCI_HEADER_HEIGHT;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;

  tr {
    background-color: @NCI_COLOUR;
  }
}

#gdc-header {

  &.navbar-static-top {
    z-index: auto;
  }

  .MyProjects {
    background: #337ab7;
  }

  .MyProjects__label {
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
  }
}


