.modal {
  z-index: 10020 !important;
}

.modal-backdrop {
  z-index: 10010 !important;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  cursor: pointer;
  color: #2a72a5;
  transition: 0.2s ease;
}
