.project-page {
  .summary-table {
    h3 {
      color: #6b6262 !important; // override style in app.less
    }
  }
}
.og-selection-region {
  fill: #1693c0;
}

.onco-track-legend {
  margin-right: 5px;
  display: inline-block;
  width: 12px;
  height: 12px;
}

#oncogrid-div {

  .background {
    fill: #fff;
    stroke: grey;
    stroke-width: 1;
    stroke-opacity: 0.5;
  }

  line {
    stroke: grey;
    stroke-opacity: .3;
  }
  .og-highlight {
    stroke: green;
    stroke-width: 1;
    z-index: 100;
  }
  .og-histogram-axis {
    stroke: black;
    stroke-opacity: .5;
  }
  .og-gene-label {
    cursor: move;
  }
  text.og-label-text-font {
    font-size: 0.9rem;
  }
  text.og-track-label {
    font-size: 0.9rem;
  }
  .og-sortable-rect:hover {
    stroke: red;
    stroke-width: 2;
  }
  .og-remove-gene {
    cursor: pointer;
    font-size: 0.98rem;
    font-family: sans-serif;
    fill: red;
    stroke: red;
  }

  div.og-tooltip-oncogrid {
    font-weight: 300;
    position: absolute;
    z-index: 100001;
    display: block;
    visibility: visible;
    font-size: 1.28rem;
    pointer-events: none;
    line-height: 2.2rem;
    border: 1px solid #b3b3b3;
    background-color: #fff;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 1px 3px rgba(180, 180, 180, 0.43));
    box-shadow: 0 1px 3px rgba(180, 180, 180, 0.43);
    -moz-box-shadow: 0 1px 3px rgba(180, 180, 180, 0.43);
    filter: drop-shadow(0 1px 3px rgba(180, 180, 180, 0.43));
    padding: 5px;
  }
  .og-horizontal-cross {
    stroke: black;
  }
  .og-vertical-cross {
    stroke: black;
  }
}