.search {

  .fa {
    cursor: pointer;
  }

  .search-bar {
    span.fa {
      margin-right: 10px;
      margin-top: 8px;
    }
  }

  .search-panel {
    margin: 10px 0;

    .panel {
      margin: 10px;

      .panel-body {
        padding: 0;

        .panel-group {
          margin-bottom: 0;
        }
      }
    }

    table {
      .cart-checkbox {
        /* Uses a non standard value implemented by both Firefox
         * and all webkit browsers. Only IE doesn't have an implemention, which
         * will use fallback instead.
         */
        vertical-align: bottom;
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle;
      }

      .action-button {
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .facets-sidebar, .table-area {
      padding: 0;
      padding-top: 15px;
    }

    .table-area .pane-section {
      border-left: 1px solid #DDD;
      padding: 15px;
      padding-right: 0;
    }

  }

}
