.search {

  .fa {
    cursor: pointer;
  }

  .search-panel {
    margin: 10px 0;

    .panel {
      margin: 10px;

      .panel-body {
        padding: 0;

        .panel-group {
          margin-bottom: 0;
        }
      }
    }

    .table-actions {
      margin-top: 10px;
      margin-bottom: -50px;
    }

    table {
      .cart-checkbox {
        /* Uses a non standard value implemented by both Firefox
         * and all webkit browsers. Only IE doesn't have an implemention, which
         * will use fallback instead.
         */
        vertical-align: bottom;
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle;
      }

      .dropdown-menu > li {
        display: block;

        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
      }

      .action-button {
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
      }
    }

    .facets-sidebar, .table-area {
      padding: 0;
      padding-top: 15px;
    }

    .table-area .pane-section {
      border-left: 1px solid @grey;
      padding: 15px;
      padding-right: 0;
    }

  }

}

.projects.search {
  .search-bar {
    margin-bottom: 10px;
  }
}
