// --- table

.table {
  background: #fff;
}

.table th[scope="row"] {
  white-space: normal;
}

td.truncated-cell,
th.truncated-cell {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.id-cell,
th.id-cell {
  max-width: 280px;
  white-space: pre-line;
}

td.id-cell {
  word-break: break-all;
}

th.id-cell {
  word-break: break-word;
}

.table .btn {
  padding: 0 5px;
  &.dropdown-toggle {
    padding-left: 4px;
    padding-right: 4px;
  }
  i {
    margin: 0;
  }
}

/* Order of specificity forces important here */
.table .dropdown-menu.wider {
  width: 250px;
}

.table > thead > tr > th {
  vertical-align: middle;
}
.table>tbody>tr>td:first-child, .table>tbody>tr>th:first-child, .table>tfoot>tr>td:first-child, .table>tfoot>tr>th:first-child, .table>thead>tr>td:first-child, .table>thead>tr>th:first-child {
  padding-left: 5px;
}
.table-vertical {
  &>tbody>tr>td:first-child, &>tbody>tr>th:first-child, &>tfoot>tr>td:first-child, &>tfoot>tr>th:first-child, &>thead>tr>td:first-child, &>thead>tr>th:first-child {
    white-space: nowrap;
  }
  td,th {
    white-space: normal;
    word-break: break-all;
  }
}

.long-scrollable-table {
  position: relative;
  padding-top: 26px;
  background-color: #dedddd;

  .long-scrollable-table-container {
    overflow-y: auto;
    max-height: 200px;
  }
  table {
    border-spacing: 0;
    width:100%;
  }

  th.sticky {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
  }

  th div {
    position: absolute;
    background: transparent;
    color: rgb(61, 61, 61);
    top: 0;
    line-height: 28px;;
  }
}

.Columns-dropdown-headings > li {
  outline: none;
}
.Columns-dropdown-headings > li:hover .sorting-radio-buttons-container {
  border-left: 2px solid rgb(28, 126, 198);
}
