<div data-ng-if="!addAllOnly" class="btn-group" data-dropdown>
  <button data-ng-if="CartService.areInCart(files)"
          type="button"
          class="btn btn-success fa fa-shopping-cart"
          data-ng-click="CartService.removeFiles(files)">
    <span class="icon-btn-label">Add to Cart</span>
  </button>
  <button data-ng-if="!CartService.areInCart(files)"
          type="button"
          class="btn btn-primary fa fa-shopping-cart"
          data-ng-click="CartService.addFiles(files)"
          data-ng-disabled="(CartService.getFiles().length + files.length) > CartService.getMaxSize()">
    <span class="icon-btn-label">Add to Cart</span>
  </button>
  <button type="button"
          class="btn btn-default dropdown-toggle"
          dropdown-toggle>
    <span class="caret"></span>
    <span class="icon-btn-label">Cart dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a data-ng-click="addAll()">
          <span class="fa-stack">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
          <span data-translate>Add all files to the Cart</span>
      </a>
    </li>
    <li>
      <a data-ng-click="removeAll()">
        <span class="fa-stack">
          <i class="fa fa-trash fa-stack-1x"></i>
        </span>
        <span data-translate>Remove all from the Cart</span>
      </a>
    </li>
  </ul>
</div>
<div data-ng-if="addAllOnly">
  <button class="btn btn-primary" data-ng-click="addAll()">
    <span class="fa-stack">
      <i class="fa fa-shopping-cart fa-stack-1x"></i>
    </span>
    <span data-translate>Add all files to the Cart</span>
  </button>
</div>
