<div class="btn-group" data-uib-dropdown>
  <button data-ng-if="ctrl.CartService.areInCart(ctrl.files)"
          type="button"
          class="btn btn-success fa fa-shopping-cart"
          data-ng-click="ctrl.CartService.removeFiles(ctrl.files)">
    <span class="icon-btn-label">Add to Cart</span>
  </button>
  <button data-ng-if="!ctrl.CartService.areInCart(ctrl.files)"
          type="button"
          class="btn btn-primary fa fa-shopping-cart"
          data-ng-click="ctrl.CartService.addFiles(ctrl.files)"
          data-ng-disabled="(ctrl.CartService.getFiles().length + ctrl.files.length) > CartService.getMaxSize()">
    <span class="icon-btn-label">Add to Cart</span>
  </button>
  <button type="button"
          class="btn btn-default dropdown-toggle"
          data-uib-dropdown-toggle>
    <span class="caret"></span>
    <span class="icon-btn-label">Cart dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a data-ng-click="ctrl.addAll()">
          <span class="fa-stack">
            <i class="fa fa-shopping-cart fa-stack-1x"></i>
          </span>
          <span data-translate>Add all files to the Cart</span>
      </a>
    </li>
    <li>
      <a data-ng-click="ctrl.removeAll()">
        <span class="fa-stack">
          <i class="fa fa-trash fa-stack-1x"></i>
        </span>
        <span data-translate>Remove all from the Cart</span>
      </a>
    </li>
  </ul>
</div>
