<div class="btn-group" data-dropdown>
    <button type="button"
            class="btn {{CartService.isInCart(file.file_uuid) ? 'btn-success' : 'btn-default'}}"
            add-to-cart-button
            file="file">
        <i class="fa fa-{{CartService.isInCart(file.file_uuid) ? 'check-circle' : 'circle-o'}}"></i>
    </button>
    <!--<button data-ng-if="!CartService.isInCart(file.file_uuid)" type="button" class="btn btn-default" add-to-cart-button file="file">-->
        <!--<i class="fa fa-circle-o"></i>-->
    <!--</button>-->
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="listitem"
            aria-label="{{ 'Download File' | translate }}">
            <a data-ng-href="{{ [file.file_uuid] | makeDownloadLink }}">
                <i class="fa-stack fa fa-cloud-download fa-stack"></i>
                <span data-translate>Download</span>
            </a>
        </li>
        <li role="listitem"
            aria-label="{{ 'Download File' | translate }}">
            <a data-ng-href="{{ [file.file_uuid] | makeDownloadLink }}">
                <i class="fa-stack fa fa-download fa-stack "></i>
                <span data-translate>Download File</span>
            </a>
        </li>
        <li role="listitem"
            aria-label="{{ 'Download Metadata' | translate }}">
            <a data-ng-href="{{ [file.file_uuid] | makeDownloadLink }}">
                <i class="fa fa-download fa-stack "></i>
                <span data-translate>Download Metadata</span>
            </a>
        </li>
        <li class="divider"></li>
        <li data-ng-if="file.archive.archive_uuid" role="listitem"
            aria-label="{{ 'Find Files in same archive' | translate }}">
            <a data-ng-href="search/f?filters={{ [{ name: 'files.archive.archive_uuid', value: file.archive.archive_uuid }] | makeFilter: true }}">
                <i class="fa fa-file-zip-o fa-stack "></i>
                <span data-translate>Find Files in same archive</span>
            </a>
        </li>
        <li class="divider"></li>
        <li role="listitem"
            aria-label="{{ 'View Metadata Files' | translate }}">
            <a data-ng-href="/files/{{ file.file_uuid }}#files">
                <i class="fa fa-file-text-o fa-stack "></i>
                <span data-translate>View Metadata Files</span>
            </a>
        </li>
    </ul>
</div>