<div class="btn-group" data-dropdown dropdown-append-to-body>
    <button type="button"
            class="btn btn-default dropdown-toggle"
            dropdown-toggle
            data-ng-click="getFiles()"
            aria-label="Case Actions">
        <i class="fa fa-shopping-cart"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li aria-label="{{ 'Add all related files' | translate }}"
            role="button"
            data-ng-class="{ disabled: !files.length }">
            <a data-ng-click="addRelatedFiles()" data-ng-if="files.length">
                <i class="fa fa-shopping-cart fa-stack"></i>
                <span data-translate>Add all Case files to the Cart</span> ({{ files.length }})
            </a>
            <a data-ng-if="!files.length">
                <span class="fa-stack">
                    <i class="fa fa-shopping-cart fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x"></i>
                </span>
                <span data-translate data-ng-if="retreivingFiles">Loading...</span>
            </a>
        </li>
        <li aria-label="{{ 'Add filtered related files' | translate }}"
            data-ng-if="areFiltersApplied"
            role="button" data-ng-class="{ disabled: !filteredRelatedFiles.pagination.total }">
            <a data-ng-click="addFilteredRelatedFiles(p)" data-ng-if="filteredRelatedFiles.pagination.total">
                <i class="fa fa-shopping-cart fa-stack"></i>
                <span data-translate>Add filtered Case files to the Cart</span> ({{ filteredRelatedFiles.pagination.total }})
            </a>
            <a data-ng-if="!filteredRelatedFiles.pagination.total">
                <span class="fa-stack">
                    <i class="fa fa-shopping-cart fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x"></i>
                </span>
                <span data-translate data-ng-if="retreivingFiles">Loading...</span>
            </a>
        </li>
    </ul>
</div>
