<div class="container-fluid cart full-page">
  <section class="row">
    <div class="col-lg-6 col-md-6 cart-summary">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" data-translate>Cart Summary</h3>
        </div>
        <table id="cart-table" class="table table-striped table-hover table-condensed table-bordered">
          <tbody>
          <tr>
            <th scope="row" data-translate>Last Update</th>
            <td>{{ cc.lastModified | date:'MM/DD/YYYY H:mm:ss' }}</td>
          </tr>
          <tr>
            <th scope="row">
              &#35;
              <span data-translate data-translate-comment="number of">of files</span>
            </th>
            <td>{{ cc.files.length | number:0 }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Size</th>
            <td>{{ cc.getTotalSize() | size }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-md-6" data-ng-if="cc.files.length">
      <div class="row charts-container">
        <div class="col-lg-6 col-md-6">
          <bar-chart data="cc.numberFilesGraph"
                     data-heading="Number of files in your cart"
                     data-direction="horizontal"
                     data-height="200">
          </bar-chart>
        </div>
        <div class="col-lg-6 col-md-6">
          <bar-chart data="cc.sizeFilesGraph"
                     data-heading="Size of files in your cart"
                     data-height="200"
                     data-format-filter="size"
                     data-direction="horizontal"
                     data-label-filter="size">
          </bar-chart>
        </div>
      </div>
    </div>
  </section>

  <h2 data-ng-if="!cc.files.length" data-translate>Your Cart is empty.</h2>

  <section data-ng-if="cc.files.length">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" data-translate>Cart Items</h3>

        <div data-ng-if="!cc.selected().length" class="pull-right">
          <i class="fa fa-warning"></i> <span data-translate>You have no items selected</span>
          <button type="button"
                  style="margin-left: 15px"
                  class="btn btn-primary"
                  data-ng-click="cc.selectAll()">
            <i class="fa fa-shopping-cart"></i> <span data-translate>Selected All Files</span>
          </button>
          <button type="button"
                  class="btn btn-danger"
                  data-ng-click="cc.removeAll()">
            <i class="fa fa-remove"></i> <span data-translate>Empty Cart</span>
          </button>
        </div>
        <div data-ng-if="cc.selected().length" class="pull-right">
          <strong>{{cc.selected().length}}</strong>&nbsp;
          <!-- angular-gettext also supports known variables like $count, which can
               be used here in the translate-plural text like {{ $count }} -->
          <span data-translate
                data-translate-n="cc.selected().length"
                data-translate-plural="files selected">
            file selected
          </span>
          (<strong>{{ cc.selectedSize() | size}}</strong>)
          <span style="margin-left: 15px" class="btn-group" data-dropdown>
            <a type="button"
                    data-ng-href="{{ cc.getFileIds() | makeDownloadLink }}"
                    class="btn btn-primary">
              <i class="fa fa-cloud-download"></i> <span data-translate>Download</span>
            </a>
            <button type="button"
                    class="btn btn-primary dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="listitem" aria-label="{{ 'Download Files' | translate }}">
                <a data-ng-href="{{ cc.getFileIds().concat(cc.getRelatedFileIds() || []) | makeDownloadLink }}">
                  <i class="fa fa-download fa-stack"></i>
                  <span data-translate>Download Files with Metadata</span>
                </a>
              </li>
              <li role="listitem" aria-label="{{ 'Download Manifest' | translate }}">
                <a data-ng-href="{{ cc.getFileIds() | makeManifestLink }}">
                  <i class="fa fa-file-code-o fa-stack"></i>
                  <span data-translate>Download Manifest</span>
                </a>
              </li>
              <li data-ng-class="{ disabled: cc.getRelatedFileIds().length === 0}"
                  role="listitem" aria-label="{{ 'Download Metadata Files' | translate }}">
                <a data-ng-href="{{ cc.getRelatedFileIds() || [] | makeDownloadLink }}">
                  <i class="fa fa-file-code-o fa-stack"></i>
                  <span data-ng-switch="cc.getRelatedFileIds().length">
                    <span data-ng-switch-when="0" data-translate>No Metadata Files to Download</span>
                    <span data-ng-switch-default data-translate>Download Metadata</span>
                  </span>
                </a>
              </li>
            </ul>
          </span>
          <button type="button"
                  class="btn btn-danger"
                  data-ng-click="cc.removeSelected()">
            <i class="fa fa-remove"></i>
            <span data-translate>Remove Selected Files from Cart</span>
          </button>
        </div>
      </div>
      <table class="table table-striped table-hover table-condensed table-bordered">
        <thead>
        <tr>
          <th scope="col">
            <button data-ng-if="cc.all()" type="button" class="btn btn-default" data-ng-click="cc.deselectAll()">
              <i class="fa fa-check-circle-o"></i>
            </button>
            <button data-ng-if="!cc.all()" type="button" class="btn btn-default" data-ng-click="cc.selectAll()">
              <i class="fa fa-circle-o"></i>
            </button>
          </th>
          <th scope="col" class="text-center"
              data-ng-if="cc.UserService.currentUser"
              data-translate>
            My Projects
          </th>
          <th scope="col" class="text-center" data-translate>Access</th>
          <th scope="col" class="text-center" data-translate>File Name</th>
          <th scope="col" class="text-center" data-translate>Annotations</th>
          <th scope="col" class="text-center" data-translate>Participant</th>
          <th scope="col" class="text-center" data-translate>Projects</th>
          <th scope="col" class="text-center" data-translate>Data Type</th>
          <th scope="col" class="text-center" data-translate>Status</th>
          <th scope="col" class="text-center" data-translate>Data Format</th>
          <th scope="col" class="text-center" data-translate>Size</th>
          <th scope="col" class="text-center" data-translate>Revision</th>
          <th scope="col" class="text-center" data-translate>Update date</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="file in cc.displayedFiles">
          <td>
            <div class="btn-group" data-dropdown>
              <button type="button" class="btn btn-default"
                      data-ng-click="file.selected = !file.selected">
                <i class="fa"
                   data-ng-class="file.selected ? 'fa-check-circle-o' : 'fa-circle-o'"></i>
              </button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="listitem" aria-label="{{ 'Download File with Metadata' | translate }}">
                  <a data-ng-href="{{ [file.file_id].concat(file.related_ids || []) | makeDownloadLink }}">
                    <i class="fa fa-cloud-download fa-stack"></i>
                    <span data-translate>Download File with Metadata</span>
                  </a>
                </li>
                <li role="listitem" aria-label="{{ 'Download Only File' | translate }}">
                  <a data-ng-href="{{ [file.file_id] | makeDownloadLink }}">
                    <i class="fa fa-download fa-stack"></i>
                    <span data-translate>Download Only File</span>
                  </a>
                </li>
                <li role="listitem" aria-label="{{ 'Download Manifest' | translate }}">
                  <a data-ng-href="{{ [file.file_id] | makeManifestLink }}">
                    <i class="fa fa-file-code-o fa-stack"></i>
                    <span data-translate>Download Manifest</span>
                  </a>
                </li>
                <li data-ng-class="{ disabled: file.related_ids.length === 0}"
                    role="listitem" aria-label="{{ 'Download Metadata Files' | translate }}">
                  <a data-ng-href="{{ file.related_ids || [] | makeDownloadLink }}">
                    <i class="fa fa-file-code-o fa-stack"></i>
                    <span data-translate>Download Metadata Files</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li role="listitem" aria-label="{{ 'Remove from Cart' | translate }}">
                  <a href="#" data-ng-click="cc.remove(file.file_id)">
                    <i class="fa fa-remove fa-stack"></i>
                    <span data-translate>Remove from Cart</span>
                  </a>
                </li>
              </ul>
            </div>
          </td>
          <td scope="col" class="text-center"
              data-ng-if="cc.UserService.currentUser">
            <i data-ng-if="cc.isUserProject(file)" class="fa fa-check fa-lg"></i>
            <i data-ng-if="!cc.isUserProject(file)" class="fa fa-close fa-lg"></i>
          </td>
          <td class="text-center">
            <i data-ng-if="file.access === 'protected'" class="fa fa-lock fa-lg"></i>
            <i data-ng-if="file.access !== 'protected'" class="fa fa-unlock-alt fa-lg"></i>
          </td>
          <td class="truncated-cell">
            <a data-ui-sref="file({ fileId: file.file_id })">
              {{ file.file_name }}
            </a>
          </td>
          <td class="truncated-cell">
            <a data-ng-if="file.annotations.length === 1"
               data-ui-sref="annotation(({annotationId: file.annotations[0].annotation_id }))">
               {{ file.annotations[0].annotation_id }}
            </a>
            <a data-ng-if="file.annotations.length > 1"
               data-ui-sref="annotations({ 'filters': {{
                [{ name: 'annotation_id', value: file.annotationIds }] | makeFilter }}
            })">
              {{ file.annotations.length }}
            </a>
            <span data-ng-if="!file.annotations.length">0</span>
          </td>
          <td class="truncated-cell" data-ng-if="file.participants.length === 1">
            <a data-ui-sref="participant({ participantId : '{{ file.participants[0].participant_id }}' })">
              {{file.participants[0].participant_id }}
            </a>
          </td>
          <td data-ng-if="file.participants.length > 1">
            <a data-ui-sref="search.participants({ 'filters': {{
                [{ name: 'files.file_id', value: file.file_id }] | makeFilter }}
            })">
              {{ file.participants.length }}
            </a>
          </td>
          <td>
            <a data-ng-if="file.participants.length === 1 || file.projectCodes.length === 1"
               data-ui-sref="project(({projectId: file.participants[0].project.code }))">
               {{ file.participants[0].project.code }}
            </a>
            <a data-ng-if="file.participants.length > 1 && file.projectCodes.length > 1"
               data-ui-sref="projects({ 'filters': {{
                [{ name: 'code', value: file.projectCodes }] | makeFilter }}
            })">
              {{ file.participants.length }}
            </a>
            <span data-ng-if="!file.participants.length">0</span>
          </td>
          <td>{{ file.data_type }}</td>
          <td>{{ file.state | humanify }}</td>
          <td>{{ file.data_format }}</td>
          <td>{{ file.file_size | size }}</td>
          <td>{{ file.archives[0].revision || "--" }}</td>
          <td>{{ file.update_date | date }}</td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer clearfix">
        <pagination-controls data-page="cart" data-paging="cc.pagination" update="cc.processPaging"></pagination-controls>
      </div>
    </div>
  </section>
</div>
