<section class="row items-pane" data-ng-if="cc.files.length">
  <div class="col-xs-12 button-row">
    <div data-ng-if="cc.selected().length">
      <strong>{{cc.selected().length}}</strong>&nbsp;
      <!-- angular-gettext also supports known variables like $count, which can
           be used here in the translate-plural text like {{ $count }} -->
      <span data-translate
            data-translate-n="cc.selected().length"
            data-translate-plural="files selected">
        file selected
      </span>
      (<strong>{{ cc.selectedSize() | size}}</strong>)
      <a type="button"
              download-button-all-cart
              data-selected-only="true"
              class="btn btn-primary">
        <i class="fa fa-cloud-download"></i> <span data-translate>Download Selected</span>
      </a>
      <a type="button"
              class="btn btn-primary"
              data-ng-click="cc.getManifest(true)">
        <i class="fa fa-file-code-o"></i>
        <span data-translate>Download Selected Manifests</span>
      </a>
      <button type="button"
              class="btn btn-danger"
              data-ng-click="cc.removeSelected()">
        <i class="fa fa-remove"></i>
        <span data-translate>Remove Selected Files from Cart</span>
      </button>
    </div>
    <div data-ng-if="!cc.selected().length">
      <i class="fa fa-warning"></i> <span data-translate>You have no items selected</span>
      <button type="button"
              style="margin-left: 15px"
              class="btn btn-primary"
              data-ng-click="cc.selectAll()">
        <i class="fa fa-shopping-cart"></i> <span data-translate>Select All Files</span>
      </button>
      <button type="button"
              class="btn btn-danger"
              data-ng-click="cc.removeAll()">
        <i class="fa fa-remove"></i> <span data-translate>Empty Cart</span>
      </button>
    </div>
    <div remove-unauthorized-files-button></div>
  </div>
</section>

<h2 data-ng-if="!cc.files.length" data-translate>Your Cart is empty.</h2>

<gdc-table data-ng-if="cc.files.length"
           data-data="cc.files"
           data-config="cc.cartTableConfig"
           data-paging="cc.pagination"
           data-page="cart"
           data-heading="Cart Items"
           data-id="cart-table"
           data-client-side="cc.processPaging"
           class="cart-table">
</gdc-table>