<div class="container-fluid cart full-page">
  <section class="row">
    <div class="col-lg-8" data-ng-if="!cc.files.hits.length">
      <h2 data-translate data-ng-if="!cc.CartService.getFileIds().length">Your Cart is empty.</h2>
      <h2 data-translate data-ng-if="cc.CartService.getFileIds().length">
        <i class="fa fa-spinner fa-spin"></i>
        Your Cart is loading.
      </h2>
    </div>
    <div data-ng-if="cc.files.hits.length">
      <div class="col-lg-3 col-sm-6">
        <count-card title="Files" icon="fa-file-o" data="cc.files.pagination.total | number"></count-card>
        <count-card title="Cases" icon="fa-user" data="cc.participantCount | number"></count-card>
        <count-card title="File Size" icon="fa-save" data="cc.summary.fs.value | size"></count-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <summary-card data-data="cc.summary['project.project_id'].buckets"
                      height="177"
                      data-mode="graph"
                      data-grouping-title="Project"
                      data-config="cc.projectCountChartConfig"
                      data-title="File Counts by Project"></summary-card>
      </div>
      <div class="col-lg-3 col-sm-6">
         <summary-card data-data="cc.fileCountChartData"
                height="177"
                data-mode="graph"
                data-grouping-title="Level"
                data-config="cc.fileCountChartConfig"
                data-title="File Counts by Authorization Levels"></summary-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title" data-translate>How to download files in my Cart?</h4>
          </div>
          <div style="padding: 10px">
            <span data-ng-include="'files/templates/download-manifest-info.html'"></span>
            <p data-translate>
              <strong>Download Cart</strong>: Download Files in your Cart directly from the Web Browser.
            </p>
          </div>
        </div>
        <div class="panel panel-default" data-ng-if="cc.UserService.currentUser">
          <div class="panel-heading">
            <h4 class="panel-title" data-translate>Notes</h4>
          </div>
          <div style="padding: 10px">
            <p data-translate>
              <strong>My Projects Filter</strong>: Please note that it does not affect the files shown in your cart below.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row items-pane" data-ng-if="cc.files.hits.length">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="pull-right">
          <split-control data-control-label-text="Download" data-no-split="true" data-icon-classes="fa fa-download">
              <split-control-option data-option-label-text="Download Manifest File">
                <button data-download-manifest-cart data-downloader id="manifest-button">
                  <i class="fa" ng-class="{'fa-download': !active, 'fa-spinner fa-pulse': active}"></i>
                  <span data-translate>Manifest</span>
                </button>
              </split-control-option>

              <split-control-option data-option-label-text="Download Cart (Web Browser)">
                <button download-button-all-cart data-downloader id="download-all-button" has-bam-files="{{cc.hasBamFiles}}">
                  <i class="fa" ng-class="{'fa-download': !active, 'fa-spinner fa-pulse': active}"></i>
                  <span data-translate>Cart</span>
                </button>
              </split-control-option>

              <hr class="dropdown-rule" />

              <split-control-option data-option-label-text="Download Clinical">
                <export-cases-button
                  data-filter-key-values="cc.clinicalDataExportFilters"
                  data-expands="cc.clinicalDataExportExpands"
                  data-filename="cc.clinicalDataExportFileName"
                  data-size="cc.participantCount"
                  data-text-normal="Clinical"
                  data-text-in-progress="Processing"
                  data-style-class="true"> <!-- this overrides the bootstrap button style -->
                </export-cases-button>
              </split-control-option>

              <split-control-option data-option-label-text="Download Biospecimen">
                <export-cases-button
                  data-filter-key-values="cc.biospecimenDataExportFilters"
                  data-expands="cc.biospecimenDataExportExpands"
                  data-filename="cc.biospecimenDataExportFileName"
                  data-size="cc.participantCount"
                  data-text-normal="Biospecimen"
                  data-text-in-progress="Processing"
                  data-style-class="true"> <!-- this overrides the bootstrap button style -->
                </export-cases-button>
              </split-control-option>

              <split-control-option data-option-label-text="Download Metadata">
                <download-metadata-button
                  data-text-normal="File Metadata"
                  data-filename="metadata.cart"
                  data-text-in-progress="Processing"
                  data-style-class="true">
                </download-metadata-button>
              </split-control-option>
          </split-control>

          <split-control data-control-label-text="Remove From Cart"
            data-btn-type="danger"
            data-no-split="true" data-icon-classes="fa fa-trash-o">
            <split-control-option data-option-label-text="Remove All Files">
              <span>
                <button
                   tabindex="0"
                    id="clear-button"
                    data-ng-click="cc.removeAll()">
                  <i class="fa fa-remove"></i>
                  <span data-translate>All Files ({{cc.CartService.getFiles().length}})</span>
                </button>
              </span>
            </split-control-option>
            <split-control-option data-option-label-text="Remove Unauthorized Files">
              <remove-unauthorized-files-button data-ng-if="cc.CartService.getUnauthorizedFiles().length"></remove-unauthorized-files-button>
            </split-control-option>
          </split-control>
        </div>
    </div>
  </section>

  <gdc-table data-ng-if="cc.files.hits.length"
           data-data="cc.files.hits"
           data-config="cc.cartTableConfig"
           data-paging="cc.files.pagination"
           data-page="files"
           data-heading="cart items"
           id="cart-table"
           class="cart-table">
  </gdc-table>

</div>
