<div class="container-fluid cart full-page">
  <section class="row">
      <div class="col-lg-8" data-ng-if="!cc.files.length">
        <h2 data-translate>Your Cart is empty.</h2>
      </div>
      
      <div data-ng-if="cc.files.length">
        <div class="col-lg-3 col-sm-6">
          <count-card title="Files" icon="fa-file-o" data="cc.files.length | number"></count-card>
          <count-card title="Cases" icon="fa-user" data="cc.summary.participants.doc_count | number"></count-card>
          <count-card title="File Size" icon="fa-save" data="cc.summary.fs.value | size"></count-card>
        </div>
        <div class="col-lg-3 col-sm-6">
          <pie-chart data="cc.summary.participants['participants.project.project_id'].buckets"
                     height="300" 
                     data-filter="true" 
                     config="cc.projectCountChartConfig"
                     data-title="File Counts by Project"></pie-chart>
        </div>
        <div class="col-lg-3 col-sm-6">
          <pie-chart data="cc.summary.access.buckets"
                     height="300" 
                     data-filter="true" 
                     config="cc.fileCountChartConfig"
                     data-title="File Counts by Access"></pie-chart>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" data-translate>How to download files in my Cart?</h4>
            </div>
            <div style="padding: 10px">
            <p data-translate>
              <strong>Manifest for Fast Download tool</strong>: Download a manifest file and use it with GDC High Performance Download Client. For more info on Fast Download, click
               <a href="https://beta-edits-gdc.oicr.on.ca/access-data/gdc-high-performance-download-client">here</a>.
            </p>
            <p data-translate>
              <strong>Download Cart (web browser)</strong>: Download Files in your Cart directly from Web-browser (recommended when File size of your Cart is less than XX MB).
            </p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="row items-pane" data-ng-if="cc.files.length">
    <div class="col-xs-12 button-row">
        <a type="button"
                class="btn btn-primary"
                data-ng-click="cc.getManifest(true)">
          <i class="fa fa-file-code-o"></i>
          <span data-translate>Manifest for Fast Download Tool</span>
        </a>
        <a type="button"
                download-button-all-cart
                data-selected-only="true"
                class="btn btn-primary">
          <i class="fa fa-cloud-download"></i> <span data-translate>Download Cart (web browser)</span>
        </a>
        <button type="button"
                class="btn btn-danger"
                data-ng-click="cc.removeAll()">
          <i class="fa fa-remove"></i>
          <span data-translate>Clear Cart</span>
        </button>
        <div remove-unauthorized-files-button data-ng-if="cc.CartService.getUnauthorizedFiles().length"></div>
    </div>
  </section>


  <gdc-table data-ng-if="cc.files.length"
             data-data="cc.files"
             data-config="cc.cartTableConfig"
             data-paging="cc.pagination"
             data-page="cart"
             data-heading="Cart Items"
             data-id="cart-table"
             data-client-side="cc.processPaging"
             class="cart-table">
  </gdc-table>
</div>
