<ul class="list-unstyled Gql_dropdown" data-nng-show="showResults()">
  <li class="Gql_dropdown_item"
      data-ng-click="click(e)"
      data-ng-class="{true:'Gql_dropdown_item-active'}[e.active]"
      data-ng-repeat="e in ddItems track by e.full">
    <i class="fa"
       data-ng-if="e.doc_type"
       style="margin-right: 10px;background: #5b5151;padding: 1rem;color: #fff;"
        data-ng-class="{'files':'fa-file', 'participants':'fa-user', '':'fa-square'}[e.doc_type]">
    </i>
    <i class="fa fa-square"
       data-ng-if="!e.doc_type"
       style="margin-right: 10px;background: #5b5151;padding: 1rem;color: #fff;">
    </i>
    {{::e.field}}
  </li>
</ul>