<div class="modal-header">
  <h4 data-translate>Warning</h4>
</div>
<div class="modal-body text-danger">
  <p data-translate>
  The GDC Data Portal does not support the web browser you are using. This will prevent you from accessing certain features.
  For a list of supported browsers, please refer to the <a href="https://gdc.cancer.gov/access-data/gdc-data-portal#SupportedInternetBrowsers">documentation</a>.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" data-ng-click="wc.acceptWarning()" data-translate>OK</button>
</div>
