<div class="modal-header">
  <h4 data-translate>Login Failed</h4>
</div>
<div class="modal-body text-danger">
  <p data-translate>
  Your ERA Commons account does not have dbGaP access to projects hosted by the GDC.
  Please request access to dbGap, click <a href="https://gdc.nci.nih.gov/access-data/obtaining-access-controlled-data">here</a> for more information.
  </p>
</div>
<div class="modal-footer">
  <button auth-button class="btn btn-primary" data-redirect="logout">
    <i class="fa fa-sign-out stock-icon"></i>
    <span data-translate>Logout from eRA commons</span>
  </button>
  <button class="btn btn-primary" data-ng-click="wc.acceptWarning()" data-translate>Continue Browsing</button>
</div>
