<div class="modal-header">
  <h4 data-translate>Access Error</h4>
</div>
<div class="modal-body">
 <p>
   You are attempting to download files that you are not authorized to access.
 </p>
 <p>
   <span class="label label-success">{{meta.authorized.length}}</span> open access files that you can download.
 </p>
 <p>
   <span class="label label-danger">{{meta.unauthorized.length}}</span> protected files that you are not authorized to download.
 </p>
 <p>
   Please <a auth-button>login <i class="fa fa-sign-in"></i>.</a>
 </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="wc.cancel()" data-translate>Cancel</button>
  <button class="btn btn-primary" ng-if="meta.authorized.length" ng-click="wc.goAuth()" data-translate>Download {{meta.authorized.length}} open access files</button>

</div>
