<div class="modal-header">
  <h4 data-translate>Access Error</h4>
</div>
<div class="modal-body">
  <p>
    You don't have access to this file.
  </p>
  <p>
   Please request dbGaP Access to the project (click
   <a href="https://gdc.nci.nih.gov/access-data/obtaining-access-controlled-data/registering-and-working-era-commons-and-dbgap"
      target="_blank">here</a> for more information).
  </p>
</div>
 <div class="modal-footer">
  <button class="btn btn-warning" ng-click="wc.cancel()" data-translate>Cancel</button>
</div>
