<div class="modal-header">
  <h4 data-translate>Access Error</h4>
</div>
<div class="modal-body">
  <p>
   You are attempting to download files that you are not authorized to access.
 </p>
<p>
   <span class="label label-success">{{meta.authorized.length}}</span> files that you are authorized to download.
 </p>
  <p>
   <span class="label label-danger">{{meta.unauthorized.length}}</span> files that you are not authorized to download.
  </p>
  <p>
   Please request dbGaP Access to the project (click
   <a href="https://gdc.nci.nih.gov/access-data/obtaining-access-controlled-data/registering-and-working-era-commons-and-dbgap"
      target="_blank">here</a> for more information).
  </p>
</div>
 <div class="modal-footer">
  <button class="btn btn-warning" ng-click="wc.cancel()" data-translate>Cancel</button>

  <button class="btn btn-primary"  ng-if="meta.authorized.length" ng-click="wc.goAuth()" data-downloader data-translate>Download {{meta.authorized.length}} authorized files</button>
</div>
