{
  "extends": ["@knit/socks-react"],
  "rules": {
    "flowtype/no-weak-types": 0,
    "object-curly-spacing": 1,
    "comma-dangle": 1,
    "keyword-spacing": 1,
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": true }],
    "fp/no-this": 0,
    "no-invalid-this": 2,
    "comma-spacing": 1,
    "max-len": 1,
    "import/extensions": 1,
    "import/first": 1
  }
}
