# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp

# Runtime data
pids
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pid
*.seed

# Testing
coverage

# Dependencies
node_modules
jspm_packages

# Optional npm cache directory
.npm
.jest
.history
.tmp

# Optional REPL history
.node_repl_history

# IDEs
.idea
*.iml
.vscode/chrome

# production folders
dist
build

# OS
.DS_Store
__generated__

#OncoJS development
