<facets-free-text data-field="annotation_id" data-title="Annotation" placeholder="{{ 'Annotation ID' | translate }}"
                            entity="annotations"
                            data-template="components/facets/templates/typeahead-annotations.html"></facets-free-text>
<terms data-name="annotations.project.program.name"
     data-title="Program"
     data-facet="asc.annotations.aggregations['project.program.name']" data-collapsed="true"></terms>
<terms data-name="annotations.project.name"
     data-title="Project"
     data-facet="asc.annotations.aggregations['project.name']" data-collapsed="true"></terms>
<terms data-name="annotations.project.primary_site"
     data-title="Primary Site"
     data-facet="asc.annotations.aggregations['project.primary_site']" data-collapsed="true"></terms>
<terms data-name="annotations.entity_type"
     data-title="Entity Type"
     data-facet="asc.annotations.aggregations['entity_type']"></terms>
<terms data-name="annotations.category"
     data-title="Annotation Category"
     data-facet="asc.annotations.aggregations.category"></terms>
<terms data-name="annotations.classification"
     data-title="Annotation Classification"
     data-facet="asc.annotations.aggregations.classification"></terms>
<terms data-name="annotations.status"
     data-title="Status"
     data-facet="asc.annotations.aggregations.status"></terms>

