<facets-free-text data-field="annotation_id" data-title="Annotation ID" placeholder="{{ 'Annotation ID' | translate }}"
                  entity="annotations"
                  data-template="components/facets/templates/typeahead-annotations.html"></facets-free-text>
<facets-free-text data-field="entity_id" data-title="Entity ID" placeholder="{{ 'Entity ID' | translate }}"
                  entity="annotations"
                  data-autocomplete="false"></facets-free-text>
<facets-free-text data-field="annotation.case_id" data-title="Case UUID" placeholder="{{ 'Case UUID' | translate }}"
                  entity="annotations"
                  data-autocomplete="false"></facets-free-text>
<terms data-name="annotations.project.primary_site"
     data-title="Primary Site"
     data-facet="asc.annotations.aggregations['project.primary_site']"></terms>
<terms data-name="annotations.project.project_id"
     data-title="Project"
     data-facet="asc.annotations.aggregations['project.project_id']"></terms>
<terms data-name="annotations.entity_type"
     data-title="Entity Type"
     data-facet="asc.annotations.aggregations['entity_type']"></terms>
<terms data-name="annotations.category"
     data-title="Annotation Category"
     data-facet="asc.annotations.aggregations.category"></terms>
<date-facet data-name="annotations.created_datetime"
     data-title="Annotation Created"
     data-facet="asc.annotations.aggregations.created_datetime"></date-facet>
<terms data-name="annotations.classification"
     data-title="Annotation Classification"
     data-facet="asc.annotations.aggregations.classification"></terms>
