<div class="container entity" data-scroll-spy="">
  <h1 data-scroll-fix=85>
    <span class="entity-identifier">An</span>
    {{ ::ac.annotation.id }}
  </h1>

  <div class="col-lg-2 col-md-2">
    <aside data-scroll-fix=85>
      <div data-spy="summary" class="current">
        <a data-scroll-to href="#summary" data-translate>Summary</a>
      </div>
      <div data-spy="notes">
        <a data-scroll-to href="#notes" data-translate>Notes</a>
      </div>
    </aside>
  </div>

  <div class="col-lg-8 entity-body">
      <section class="row" id="summary">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" data-translate>Summary</h3>
            </div>
            <table class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th data-translate scope="row">Annotation ID</th>
              <td>{{ ::ac.annotation.id }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">UUID</th>
              <td>??? {{ ::ac.annotation.uuid }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Item ID</th>
              <td>{{ ::ac.annotation.item }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Item Type</th>
              <td>{{ ::ac.annotation.itemType }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Participant ID</th>
              <td>
                <a data-ui-sref="participant({ participantId: ac.annotation.participant.id })">
                  ??? {{ ::ac.annotation.participant.id }}
                </a>
              </td>
            </tr>
            <tr>
              <th data-translate scope="row">Project</th>
              <td>
                <a data-ui-sref="project({ projectId: ac.annotation.project.id })">
                  ??? {{ ::ac.annotation.project.name }}
                </a>
              </td>
            </tr>
            <tr>
              <th data-translate scope="row">Classification</th>
              <td>{{ ::ac.annotation.annotationClassificationName }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Category</th>
              <td>{{ ::ac.annotation.categoryName }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Created On</th>
              <td>{{ ::ac.annotation.dateCreated | date }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Created By</th>
              <td>{{ ::ac.annotation.createdBy }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Status</th>
              <td>{{ ::ac.annotation.status }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="row" id="notes">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Notes</h3>
          </div>
          <div class="list-group">
            <div class="list-group-item" data-ng-repeat="note in ac.annotation.notes">
              <h4 class="list-group-item-heading">{{ ::note.noteText}}</h4>
              <p class="list-group-item-text"><span data-translate>Added by</span> <strong>{{ ::note.addedBy }}</strong>
                <span data-translate>on</span> <strong>{{ ::note.dateAdded | date }}</strong></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
