<div class="container entity" data-scroll-spy="">
  <h1 data-scroll-fix=85>
    <i class="fa fa-align-left"></i>
    {{ ::ac.annotation.annotation_id }}
  </h1>

  <div class="col-lg-2 col-md-2">
    <aside data-scroll-fix=85>
      <div class="panel panel-default">
        <div class="list-group">
          <div class="list-group-item">
            <h4 data-spy="summary" class="current list-group-item-heading">
              <a data-scroll-to href="#summary" data-translate>Summary</a>
            </h4>
          </div>
          <div class="list-group-item">
            <h4 data-spy="notes" class="list-group-item-heading">
              <a data-scroll-to href="#notes" data-translate>Notes</a>
            </h4>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-8 entity-body">
          <div class="panel panel-default" id="summary">
            <div class="panel-heading">
              <h3 class="panel-title" data-translate>Summary</h3>
            </div>
            <table id="summary-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th data-translate scope="row">Annotation ID</th>
              <td>{{ ::ac.annotation.annotation_id  }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Item UUID</th>
              <td>{{ ::ac.annotation.item_id }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Item Barcode</th>
              <td>tbd {{ ::ac.annotation.barcode }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Item Type</th>
              <td>{{ ::ac.annotation.item_type }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Participant ID</th>
              <td>
                <a data-ui-sref="participant({ participantId: ac.annotation.participant.id })">
                  tbd {{ ::ac.annotation.participant.id }}
                </a>
              </td>
            </tr>
            <tr>
              <th data-translate scope="row">Project Code</th>
              <td>
                <a data-ui-sref="project({ projectId: ac.annotation.project.project_id })">
                  {{ ::ac.annotation.project.code}}
                </a>
              </td>
            </tr>
            <tr>
              <th data-translate scope="row">Classification</th>
              <td>{{ ::ac.annotation.classification }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Category</th>
              <td>{{ ::ac.annotation.category }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Created On</th>
              <td>tbd {{ ::ac.annotation.dateCreated | date }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Created By</th>
              <td>{{ ::ac.annotation.creator }}</td>
            </tr>
            <tr>
              <th data-translate scope="row">Status</th>
              <td>{{ ::ac.annotation.status }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="panel panel-default" id="notes">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Notes</h3>
          </div>
          <div class="list-group">
            <div class="list-group-item clearfix">
              <p class="list-group-item-text" style="word-break: break-all">{{ ::ac.annotation.notes }}</p>
            </div>
          <!--  <div class="list-group-item clearfix" data-ng-repeat="note in ac.annotation.notes">-->
              <!--<p class="list-group-item-text" style="word-break: break-all">{{ ::note.noteText}}</p>-->
              <!--<p class="list-group-item-text pull-right"><span data-translate>Added by</span> <strong>{{ ::note.addedBy }}</strong>-->
                <!--<span data-translate>on</span> <strong>{{ ::note.dateAdded | date }}</strong></p>-->
            <!--</div>-->
          </div>
        </div>
    </div>
  </div>
