<div class="container entity annotations">
  <h1 data-translate>Annotations</h1>
  <table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
    <tr>
      <th data-translate>ID</th>
      <th data-translate>Item ID</th>
      <th data-translate>Item Type</th>
      <th data-translate>Participant ID</th>
      <th data-translate>Project</th>
      <th data-translate>Classification</th>
      <th data-translate>Category</th>
      <th data-translate>Created By</th>
      <th data-translate>Created On</th>
      <th data-translate>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="a in asc.annotations.hits track by a.id">
      <td><a data-ui-sref="annotation({ annotationId : a.id })">{{ a.id }}</a></td>
      <td>{{ a.item }}</td>
      <td>{{ a.type }}</td>
      <td>
        <a data-ui-sref="participant({ participantId: a.participant.id })">
          {{ a.participant.id }}
        </a>
      </td>
      <td>
        <a data-ui-sref="project({ projectId: ac.annotation.project.id })">
          {{ a.project.name }}
        </a>
      </td>
      <td>{{ a.classification }}</td>
      <td>{{ a.category }}</td>
      <td>{{ a.createdBy }}</td>
      <td>{{ a.dateCreated | date }}</td>
      <td>{{ a.status }}</td>
    </tr>
    </tbody>
  </table>
</div>
