<div class="container-fluid full-page">
  <div class="row search-panel">
    <div class="col-lg-3 col-md-4 facets-sidebar">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Facets</h3>
        </div>
        <div class="list-group">
          <facets-free-text data-field="id" data-title="Annotation" placeholder="{{ 'Annotation ID' | translate }}"
                            entity="annotations"
                            data-template="components/facets/templates/typeahead-annotations.html"></facets-free-text>

          <terms data-name="itemType"
                 data-title="Annotated Item"
                 data-facet="asc.annotations.aggregations.itemType"></terms>
          <terms data-name="categoryName"
                 data-title="Category"
                 data-facet="asc.annotations.aggregations.categoryName"></terms>
          <terms data-name="annotationClassificationName"
                 data-title="Classification"
                 data-facet="asc.annotations.aggregations.annotationClassificationName"></terms>
          <terms data-name="status"
                 data-title="Status"
                 data-facet="asc.annotations.aggregations.status"></terms>
        </div>
      </div>

    </div>

    <h4 class="col-lg-9 col-md-8" data-ng-if="asc.annotations.hits.length === 0" data-translate>
      No annotations found using those filters.
    </h4>

    <div class="col-lg-9 col-md-8" data-ng-if="asc.annotations.hits.length > 0">
      <div data-ng-if="!modelLoaded" class="app-loading table-loader">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
      </div>

      <div class="alert alert-info clearfix">
        <span data-ng-if="!cfc.currentFilters.length">
          <i class="fa fa-long-arrow-left"></i> Start searching by selecting a facet
        </span>
        <current-filters></current-filters>
      </div>

      <div class="panel panel-default">

        <div class="panel-heading clearfix">

          <h3 class="panel-title table-heading pull-left">
            <span data-translate>Annotations</span> ({{asc.annotations.pagination.total}})
          </h3>

          <div class="pull-right">
            <div class="btn-group" role="group" aria-label="Filter and sort table">
              <sort-table data-sort-columns="asc.sortColumns"
                          data-paging="asc.annotations.pagination" data-page="annotations"></sort-table>
              <arrange-columns list="tableConfig.headings" order="tableConfig.order"></arrange-columns>
              <reset-table target="tableConfig">

              </reset-table>
            </div>
          </div>

        </div>
        <div class="table-responsive">
          <tableicious data=asc.annotations.hits config=tableConfig></tableicious>
        </div>
        <div class="panel-footer clearfix">
          <pagination-controls data-page="annotations" data-paging="asc.annotations.pagination"></pagination-controls>
        </div>
      </div>

    </div>
  </div>
</div>
