<div class="panel panel-default CountCard" id="{{title | spaceReplace:'-' | lowercase}}-count-card">
  <div class="row">
    <div class="col-xs-10 col-sm-8">
      <div class="CountCard-title">{{ title | translate }}</div>
      <div class="CountCard-data" data-ng-if="data === '0' || !sref">{{ data }}</div>
      <div class="CountCard-data" data-ng-if="data !== '0' && sref">
        <a id="{{title | spaceReplace:'-' | lowercase }}-count-link" data-ui-sref="{{ sref }}">
          {{ data }}
        </a>
      </div>
    </div>
    <div class="col-xs-2 col-sm-4 text-right">
      <i class="CountCard-icon fa fa-3x {{ icon }}"></i>
    </div>
  </div>
</div>
