<div class="container projects search">
  <h1>Projects</h1>

  <div class="row">
    <div class="col-lg-8 col-md-8 pull-right no-padding-left search-bar">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <button class="btn btn-default pull-right">Share</button>
          <span class="fa fa-refresh pull-right"></span>
        </div>
        <div class="col-lg-10 col-md-10 hidden">
          <input class="form-control" type="text" />
        </div>
      </div>
    </div>
  </div>

  <div class="row search-panel">
    <div class="col-lg-4 col-md-4 col-sm-4 facets-sidebar">
      <facets-free-text header="Project" placeholder="(Project Name or Code)"></facets-free-text>
      <facets facets="prsc.projects.facets"></facets>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-4 table-area">
      <table class="table table-striped table-hover table-condensed table-bordered">
        <thead>
          <tr>
            <th rowspan="2" class="text-center">Code</th>
            <th rowspan="2" class="text-center">Name</th>
            <th rowspan="2" class="text-center">Disease Type</th>
            <th rowspan="2" class="text-center">Program</th>
            <th rowspan="2" class="text-center">&#35; Participants</th>
            <th colspan="7" rowspan="1" class="text-center">Available Data Files per Data Type</th>
            <th rowspan="2" class="text-center">Status</th>
            <th rowspan="2" class="text-center">Last Update</th>
          </tr>
          <tr>
            <th rowspan="1" data-ng-repeat="(key, value) in prsc.projects.hits[0].data">
                {{ key }}
            </th>
          </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="p in prsc.projects.hits track by p.id">
            <td><a data-ui-sref="project({ projectId: p.id })">{{ p.code }}</a></td>
            <td>{{ p.name }}</td>
            <td>{{ p.site }}</td>
            <td>{{ p.program }}</td>
            <td><a data-ui-sref="search.participants( { projectId: p.id })">{{ p.numDonors }}</a></td>
            <td data-ng-repeat="(key, value) in p.data">
              <a data-ui-sref="search.files( {projectId: pid })">{{ value }}</a>
            </td>
            <td>{{ p.status}}</td>
            <td>{{ p.date | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
