<div class="container entity" data-scroll-spy="">
  <h1 data-scroll-fix=85>
    <i class="fa fa-folder-o"></i>
    {{ ::prc.project.project_code }}
  </h1>

  <div class="col-lg-2 col-md-2">
    <aside data-scroll-fix=85>
      <div class="panel panel-default">
        <div class="list-group">
          <div class="list-group-item">
            <h4 data-spy="summary" class="current list-group-item-heading">
              <a data-scroll-to href="#summary" data-translate>Summary</a>
            </h4>
          </div>
          <div class="list-group-item">
            <h4 data-spy="reports" class="list-group-item-heading">
              <a data-scroll-to href="#reports" data-translate>Reports</a>
            </h4>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-10 col-md-10 entity-body">
    <section class="row" id="summary">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Summary</h3>
          </div>
          <table id="summary-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th scope="row" data-translate>Code</th>
              <td>{{ ::prc.project.project_code }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Name</th>
              <td>{{ ::prc.project.project_name }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Disease Type</th>
              <td>{{ ::prc.project.disease_type }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Program</th>
              <td>{{ ::prc.project.program }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Sequencing Center</th>
              <td>tbc {{ ::prc.project.sequencing_center }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Status</th>
              <td>{{ ::prc.project.status }}</td>
            </tr>
            <tr>
              <th scope="row">
                Participants
              </th>
              <td>
                <a data-ui-sref="search.participants({ 'filters':
                  {{ [{ name: 'participants.admin.disease_code',value: prc.project.project_code }] | makeFilter }}
                })">
                  {{ prc.project.summary.participant_count }}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                Files
              </th>
              <td>
                <a data-ui-sref="search.files({ 'filters':
                  {{ [{ name: 'participants.admin.disease_code', value: prc.project.project_code }] | makeFilter }}
                })">
                  {{ prc.project.summary.data_file_count | number:0 }}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Experimental Strategy</h3>
          </div>
          <div class="panel-body" data-ng-if="!prc.project.summary.experimental_strategies">
            <h4 class="list-group-item-heading" data-translate>No experimental strategies were found.</h4>
          </div>
          <table id="experimental-strategy-table" class="table table-striped table-hover table-condensed table-bordered" data-ng-if="prc.project.summary.experimental_strategies">
            <thead>
            <tr>
              <th scope="col" data-translate>Analysis</th>
              <th scope="col" data-translate>Participants</th>
              <th scope="col" data-translate>Files</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="es in prc.project.summary.experimental_strategies">
              <td>{{ ::es.experimental_strategy }}</td>
              <td class="text-right">
                <a data-ui-sref="search.participants({ 'filters':
                  {{ [
                      { name: 'participants.admin.disease_code',value: prc.project.project_code },
                      { name: 'files.experimental_strategy', value: es.experimental_strategy }
                     ] | makeFilter
                  }}
                })">
                  {{ ::es.participant_count | number:0 }}
                </a>
              </td>
              <td class="text-right">
                <a data-ui-sref="search.files({ 'filters':
                  {{ [
                      { name: 'participants.admin.disease_code',value: prc.project.project_code },
                      { name: 'files.experimental_strategy', value: es.experimental_strategy }
                     ] | makeFilter
                  }}
                })">
                  {{ ::es.file_count | number:0 }}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Available Data</h3>
          </div>
          <div class="panel-body" data-ng-if="!prc.project.summary.data_types">
            <h4 class="list-group-item-heading" data-translate>No available data.</h4>
          </div>
          <table id="available-data-table" class="table table-striped table-hover table-condensed table-bordered" data-ng-if="prc.project.summary.data_types">
            <thead>
            <tr>
              <th scope="col" data-translate>Data Type</th>
              <th scope="col" data-translate>Participants</th>
              <th scope="col" data-translate>Files</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="dt in prc.project.summary.data_types">
              <td>{{ ::dt.data_type }}</td>
              <td class="text-right">
                <a data-ui-sref="search.participants({ 'filters':
                  {{ [
                      { name: 'participants.admin.project_code',value: prc.project.project_code },
                      { name: 'files.data_type', value: dt.data_type }
                     ] | makeFilter
                  }}
                })">
                    {{ dt.participant_count | number:0 }}
                </a>
              </td>
              <td class="text-right">
                <a data-ui-sref="search.files({ 'filters':
                  {{ [
                      { name: 'participants.admin.disease_code',value: prc.project.project_code },
                      { name: 'files.data_type', value: dt.data_type }
                     ] | makeFilter
                  }}
                })">
                  {{ dt.file_count | number:0 }}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </section>
    <section class="row" id="reports">
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" data-translate>Reports</h3>

            <div class="btn-group pull-right">
              <button class="btn btn-primary">
                <i class="fa fa-calendar"></i>
                Select Date
              </button>
            </div>
          </div>
          <div class="panel-body">
            <h4 class="list-group-item-heading">No reports found for {{prc.project.project_code}}</h4>
          </div>
          <div class="table-responsive" data-ng-if="prc.project.reports.length">
            <table id="reports-table" class="table table-striped table-hover table-condensed table-bordered">
              <thead>
              <tr>
                <th scope="col" data-translate>ID</th>
                <th scope="col" data-translate>Type</th>
                <th scope="col" data-translate>Date</th>
                <th scope="col" data-translate>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="report in prc.project.reports">
                <td> {{ report.id }}</td>
                <td> {{ report.type }}</td>
                <td> {{ report.date | date }}</td>
                <td><a href="" data-translate>View</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
