<div class="container entity">
  <h1 class="col-lg-12">
    <i class="fa fa-align-left"></i>
    {{ ::prc.project.project_id }}

    <span class="btn-row">
      <export-cases-button
        data-ng-disabled="prc.biospecimenCount === 0"
        data-filter-key-values=prc.biospecimenDataExportFilters
        data-expands=prc.biospecimenDataExportExpands
        data-filename=prc.biospecimenDataExportFileName
        data-text-normal="{{prc.biospecimenCount === 0 ? 'No Biospecimen Data' : 'Download Biospecimen'}}"
        data-text-in-progress="Processing"
        data-style-class="btn pull-right btn-primary">
      </export-cases-button>

      <export-cases-button
        data-ng-disabled="prc.clinicalCount === 0"
        data-filter-key-values=prc.clinicalDataExportFilters
        data-expands=prc.clinicalDataExportExpands
        data-filename=prc.clinicalDataExportFileName
        data-text-normal="{{prc.clinicalCount === 0 ? 'No Clinical Data' : 'Download Clinical' }}"
        data-text-in-progress="Processing"
        data-style-class="btn pull-right btn-primary">
      </export-cases-button>

      <download-manifest-button
        classes="btn btn-primary pull-right"
        data-ng-disabled="!prc.project.summary.file_count"
        data-icon="fa-download"
        data-copy="Download Manifest"
        data-dlcopy="Downloading"
        data-size="prc.project.summary.file_count"
        data-project-id="prc.project.project_id">
      </download-manifest-button>
    </span>
  </h1>

  <div class="col-lg-12">
    <section class="row" id="summary">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Summary</h3>
          </div>
          <table id="summary-table"
                 class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
              <tr>
                <th scope="row" data-translate>Project ID</th>
                <td>{{ ::prc.project.project_id }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Project Name</th>
                <td>{{ ::prc.project.name }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Disease Type</th>
                <td>{{ ::prc.project.disease_type }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Primary Site</th>
                <td>{{ ::prc.project.primary_site }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Program</th>
                <td>{{ ::prc.project.program.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <count-card title="Cases" icon="fa-user" data="prc.project.summary.case_count | number"
                        data-sref="search.participants({ 'filters':
                  {{ [{ field: 'cases.project.project_id', value: prc.project.project_id}] | makeFilter }}
                })"></count-card>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <count-card title="Files" icon="fa-file-o" data="prc.project.summary.file_count | number"
                        data-sref="search.files({ 'filters':
                  {{ [{ field: 'cases.project.project_id', value: prc.project.project_id}] | makeFilter }}
                })"></count-card>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <count-card data-ng-if="prc.project.annotations.pagination.total > 1" title="Annotations" icon="fa-edit"
                        data="prc.project.annotations.pagination.total | number"
                        data-sref="annotations({ 'filters':
                    {{ [{ field: 'project.project_id', value: prc.project.project_id }] | makeFilter }} })"></count-card>
            <count-card data-ng-if="prc.project.annotations.pagination.total === 1" title="Annotations" icon="fa-edit"
                        data="prc.project.annotations.pagination.total | number"
                        data-sref="annotation({ annotationId: '{{ prc.project.annotations.hits[0].annotation_id }}' })"></count-card>
            <count-card data-ng-if="!prc.project.annotations.pagination.total" title="Annotations" icon="fa-edit"
                        data="0"></count-card>
          </div>
        </div>
      </div>
    </section>

    <section class="row" id="graphs">
      <div class="col-md-6">
        <project-summary-card
          data-data="prc.experimentalStrategies"
          height="250"
          data-mode="table"
          class="no-ellipsis"
          data-show-cases="true"
          data-config="prc.expStratConfig"
          data-table-id="file-case-counts-by-experimental-strategy-summary-card-table"
          data-grouping-title="Experimental Strategy"
          data-title="File Counts by Experimental Strategy">
        </project-summary-card>
      </div>
      <div class="col-md-6">
        <project-summary-card
          data-data="prc.dataCategories"
          height="250"
          data-mode="table"
          data-show-cases="true"
          class="no-ellipsis"
          data-config="prc.dataCategoriesConfig"
          data-table-id="file-case-counts-by-data-category-summary-card-table"
          data-grouping-title="Data Category"
          data-title="File Counts by Data Category">
        </project-summary-card>
      </div>
    </section>
  </div>
</div>
