<facets-free-text data-title="Project" field="project_id" placeholder="{{ 'Project Name or ID' | translate }}"
                  data-entity="projects"
                  data-template="components/facets/templates/typeahead-projects.html"></facets-free-text>
<terms data-name="primary_site"
       data-facet="prsc.projects.aggregations.primary_site" data-title="Primary Site" data-has-value-search="true"></terms>
<terms data-name="program.name"
      data-facet="prsc.projects.aggregations['program.name']" data-title="Cancer Program"></terms>
<terms data-name="disease_type"
       data-title="Disease Type"
       data-show-tooltip="true"
       data-has-value-search="true"
       data-facet="prsc.projects.aggregations.disease_type"></terms>
<terms data-name="summary.data_categories.data_category"
       data-facet="prsc.projects.aggregations['summary.data_categories.data_category']" data-title="Data Category"></terms>
<terms data-name="summary.experimental_strategies.experimental_strategy"
       data-facet="prsc.projects.aggregations['summary.experimental_strategies.experimental_strategy']" data-title="Experimental Strategy"></terms>
