<div class="container-fluid full-page projects">
  <div class="search-panel">
    <div class="facets-sidebar" ng-class="{ collapsed: prsc.facetsCollapsed }">
      <uib-tabset>
        <div
          class="collapse-facets-button"
          ng-click="prsc.facetsCollapsed = true"
        >
          <span class="fa fa-close" aria-hidden="true"></span>
        </div>
      </uib-tabset>
      <div class="panel panel-default">
        <div class="list-group">
          <div data-ng-include="'projects/templates/projects.facets.html'"
               class="facet-section" role="form"></div>
        </div>
      </div>
    </div>

    <div
      class="expand-facets-button"
      ng-class="{ expanded: prsc.facetsCollapsed }"
      ng-click="prsc.facetsCollapsed = false"
    >
      Expand Facets <span class="fa fa-arrow-right" aria-hidden="true"></span>
    </div>

    <div class="content" ng-class="{ expanded: prsc.facetsCollapsed }">
      <div class="alert alert-info clearfix">
        <div class="col-sm-12 col-lg-9">
          <current-filters></current-filters>
          <span data-ng-if="!cfc.currentFilters.length"  style="line-height: 3.4rem">
            <span data-translate>
              Start searching by selecting a facet or try the Data Search
            </span>
          </span>
        </div>

        <div class="col-sm-12 col-lg-3 text-right" data-ng-if="cfc.currentFilters.length">
          <a class="btn btn-primary" data-translate data-ng-click="prsc.gotoQuery()">
            <i class="fa fa-gears"></i> <span data-translate>Open Query in Data Page</span>
          </a>
        </div>
      </div>



      <h3 class="col-lg-9 col-md-8" data-ng-if="!prsc.projects.hits.length && !prsc.loading" data-translate>
        No projects found using those filters.
      </h3>

      <ul class="nav nav-tabs" data-ng-if="prsc.projects.hits.length">
        <li role="presentation"
            data-ng-class="{ active: prsc.ProjectsState.tabs.table.active }"
            data-ng-click="prsc.select('tabs', 'table')"
            id="projects-table">
            <a
              data-ng-href="{{
              prsc.$state.href('projects.table', prsc.LocationService.search().filters
              )}}">
              {{ 'Table' | translate }}
            </a>
        </li>
        <li role="presentation"
            data-ng-class="{ active: prsc.ProjectsState.tabs.graph.active }"
            data-ng-click="prsc.select('tabs', 'graph')"
            id="projects-graph">
            <a
              data-ng-href="{{
              prsc.$state.href('projects.graph', prsc.LocationService.search().filters
              )}}">
              {{ 'Graph' | translate }}
            </a>
        </li>
      </ul>
      <div class="pane-section" data-ng-show="prsc.ProjectsState.tabs.table.active">
        <gdc-table data-data="prsc.projects.hits"
                   data-config="tableConfig"
                   data-heading="Projects ({{prsc.projects.pagination.total}})"
                   data-id="project-table"
                   data-endpoint="projects"
                   data-paging="prsc.projects.pagination"
                   data-sort-columns="true"
                   data-page="projects"
                   data-ng-if="prsc.projects.hits.length">
        </gdc-table>
      </div>
      <!-- NOTE: 'ng-if' is used here intentionally. Otherwise the width of the
           container will not be the expected size for the graph.
        -->
      <div class="pane-section" data-ng-if="prsc.ProjectsState.tabs.graph.active">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">Available Cases per Data Category ({{ prsc.projects.pagination.total }})</h3>
          </div>

          <git-hut data-ng-if="prsc.githutData" data="prsc.githutData" config="prsc.githutConfig"></git-hut>
        </div>
      </div>
    </div>
  </div>
</div>
