.bar:hover {
  fill: 'rgb(131,0,30)';
}

.pointer {
  cursor: pointer;
}

.svgDownload {
  display: none !important;
}

.exported-svg-class .svgDownload {
  display: block !important;
}

.exported-svg-class .displayOnly {
  display: none !important;
}
