<div class="btn-group Columns" data-dropdown auto-close="outsideClick">
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">
        <span class="fa fa-bars"></span>
    </button>

    <ul class="dropdown-menu pull-right Columns-dropdown" role="menu">
      <li>
          <div class="input-group input-group-sm Columns-dropdown-search">
          <span class="input-group-addon Columns-dropdown-search-icon">
            <i class="fa fa-search"></i>
          </span>
          <input
           type="text" class="form-control Columns-dropdown-search-input" placeholder="Filter columns"
                 data-ng-model="search.th" />
        </div>
        </li>
        <li class="Columns-dropdown-reset">
          <a href=""

          data-ng-click="acc.reset()" data-translate>
            Restore Defaults
          </a>
      </li>
       <li>
         <ul data-as-sortable data-ng-model="headings" class="Columns-dropdown-headings">
          <li data-ng-repeat="item in headings | filter:search:strict"
              data-as-sortable-item>
              
              <i class="fa fa-stack fa-{{item.hidden ? 'square-o' : 'check-square-o'}}" data-ng-click="toggleVisibility(item)"></i>
              {{ item.th | ellipsicate:18 }}
              <i class="pull-right text-right fa fa-bars fa-stack" as-sortable-item-handle data-ng-class="{ 'fa-disabled': search.th }"></i>
              
          </li>
         </ul>
       </li>
    </ul>
</div>
