<div class="btn-group Columns" data-uib-dropdown auto-close="outsideClick">
    <button type="button"
            class="btn btn-default fa fa-bars"
            data-uib-dropdown-toggle
            aria-expanded="false"
            data-tooltip-popup-delay=1000
            data-uib-tooltip="Arrange Columns"
            data-tooltip-append-to-body="true"
            aria-label="Arrange Columns">
      <span class="icon-btn-label">Arrange Columns</span>
    </button>

    <ul class="dropdown-menu pull-right Columns-dropdown" role="menu">
      <li>
          <div class="input-group input-group-sm Columns-dropdown-search">
          <span class="input-group-addon Columns-dropdown-search-icon">
            <i class="fa fa-search"></i>
          </span>
          <input
           title="Filter columns"
           type="text" class="form-control Columns-dropdown-search-input" placeholder="Filter columns"
                 data-ng-model="search.name"
                 data-ng-click="$event.stopPropagation()"
                 />
        </div>
        </li>
        <li class="Columns-dropdown-reset">
          <a href="" data-ng-click="restoreDefaults()" data-translate>
            Restore Defaults
          </a>
      </li>
       <li>
         <ul data-as-sortable="sortOptions" data-ng-model="headings" class="Columns-dropdown-headings">
          <li data-ng-repeat="item in headings | filter:search"
              data-as-sortable-item
              data-dragEnd
              data-ng-hide="item.inactive(this)"
              style="display: flex; justify-content: space-between; align-items: center;"
              >
              <i class="fa fa-stack fa-{{item.hidden ? 'square-o' : 'check-square-o'}}" data-ng-click="toggleVisibility(item)"></i>
              <div style="flex: 1;">
                {{ item.name | ellipsicate:18 }}
              </div>
              <i class="fa fa-bars"
                as-sortable-item-handle
                data-ng-class="{ 'fa-disabled': search.name }"></i>
          </li>
         </ul>
       </li>
    </ul>
</div>
