<div class="btn-group" data-dropdown>
  <button data-ng-if="!text" type="button" class="btn btn-default dropdown-toggle"
          data-tooltip="Export Table"
          data-tooltip-popup-delay=1000
          data-tooltip-append-to-body="true"
          data-dropdown-toggle aria-expanded="false">
          <span class="fa fa-table"></span>
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle"
          data-dropdown-toggle
          data-ng-if="etc.formats.length > 1 && text"
          data-aria-expanded="false">
          {{ text }}
  </button>
  <button type="button" class="btn btn-primary"
          data-ng-if="etc.formats.length === 1 && text"
          data-ng-click="etc.exportTable(etc.formats[0])">
          {{ text }}
  </button>
  <ul class="dropdown-menu pull-right" role="menu" data-ng-if="etc.formats.length > 1">
    <li data-ng-if="etc.formats.indexOf('JSON') !== -1">
      <a data-ng-click="etc.exportTable('JSON')">
        <span class="fa-stack">
          <span class="fa-stack-1x filetype-text">JSON</span>
          <i class="fa fa-file-o fa-stack-2x"></i>
        </span>
        <span data-translate>JSON</span>
      </a>
    </li>
    <li data-ng-if="etc.formats.indexOf('XML') !== -1">
      <a data-ng-click="etc.exportTable('XML')">
        <span class="fa-stack">
          <span class="fa-stack-1x filetype-text">XML</span>
          <i class="fa fa-file-o fa-stack-2x"></i>
        </span>
        <span data-translate>XML</span>
      </a>
    </li>
    <li data-ng-if="etc.formats.indexOf('CSV') !== -1">
      <a data-ng-click="etc.exportTable('CSV')">
        <span class="fa-stack">
          <span class="fa-stack-1x filetype-text">CSV</span>
          <i class="fa fa-file-o fa-stack-2x"></i>
        </span>
        <span data-translate>CSV</span>
      </a>
    </li>
    <li data-ng-if="etc.formats.indexOf('TSV') !== -1">
      <a data-ng-click="etc.exportTable('TSV')">
        <span class="fa-stack">
          <span class="fa-stack-1x filetype-text">TSV</span>
          <i class="fa fa-file-o fa-stack-2x"></i>
        </span>
        <span data-translate>TSV</span>
      </a>
    </li>
  </ul>
</div>

