<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title table-heading pull-left">
      {{ heading | translate }}
    </h3>

    <div class="pull-right" data-ng-if="endpoint || sortColumns || gtc.sortingHeadings.length">
      <div class="btn-group" role="group" aria-label="Filter, sort or export table">
        <sort-table data-ng-if="gtc.sortingHeadings"
                    data-config="config"
                    data-update="clientSide"
                    data-data="data"
                    data-paging="paging" data-page="{{ page }}"></sort-table>
        <arrange-columns data-ng-if="gtc.sortingHeadings.length"
                         data-list="config.headings"
                         data-config="config"
                         data-hidden="config.hidden"></arrange-columns>
        <export-table data-endpoint="{{ endpoint }}" data-size="{{ paging.total }}"
                      data-fields="config.fields" data-ng-if="endpoint"></export-table>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <tableicious id="{{ id }}" data-data="gtc.displayedData" data-config="config" data-paging="paging"></tableicious>
  </div>
  <div class="panel-footer clearfix" data-ng-if="page && paging && page !== 'projects'">
    <pagination-controls data-page="{{ page }}" data-paging="paging" data-update="clientSide"></pagination-controls>
  </div>
</div>
