<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 data-ng-if="paging.total === 0">
      No {{ heading | translate }} found using those filters.
    </h3>
    <span data-ng-if="paging.total !== 0">
      <div class="pull-left">
        <h3 class="panel-title table-heading">
          {{ heading | translate | humanify }}
        </h3>
        <pagination-heading
          data-page="{{ page }}"
          data-paging="paging"
          data-update="clientSide"
          data-title="{{ heading }}"
          data-ng-if="page && paging && page !== 'projects'">
        </pagination-heading>
      </div>
      <div class="pull-right" data-ng-if="endpoint || sortColumns || gtc.sortingHeadings.length">
        <div class="btn-group" role="group" aria-label="Filter, sort or export table">
          <sort-table data-ng-if="gtc.sortingHeadings"
                      data-headings="gtc.displayedHeadings"
                      data-title="{{ config.title }}"
                      data-update="clientSide"
                      data-data="data"
                      data-saved="saved"
                      data-paging="paging" data-page="{{ page }}"></sort-table>
          <arrange-columns data-title="{{ config.title }}"
                           data-saved="saved"
                           data-default-headings="gtc.defaultHeadings"
                           data-headings="gtc.displayedHeadings"></arrange-columns>
          <export-table
            data-ng-if="endpoint"
            data-size="{{ paging.total }}"
            data-endpoint="{{ endpoint }}"
            data-headings="gtc.displayedHeadings"></export-table>
        </div>
      </div>
    </span>
  </div>
  <span data-ng-if="paging.total !== 0">
    <div class="table-responsive" data-ng-if="paging.total !== 0">
      <tableicious
          id="{{ id }}"
          data-row-id="{{ config.rowId }}"
          data-headings="gtc.displayedHeadings"
          data-data="gtc.displayedData"
          data-title="{{config.title}}"
          data-saved="saved"
          data-paging="paging"></tableicious>
    </div>
    <div class="panel-footer clearfix" data-ng-if="page && paging && page !== 'projects'">
      <pagination-controls data-page="{{ page }}" data-paging="paging" data-update="clientSide"></pagination-controls>
    </div>
  </span>
</div>
