<div class="panel panel-default" data-ng-class="{ 'table-loading': !gtc.tableRendered }">
<!--  <div class="table-loader app-loading" data-ng-show="!gtc.tableRendered">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>-->

  <div class="panel-heading clearfix">
    <div class="pull-left">
    <h3 class="panel-title table-heading">
      {{ heading | translate | humanify }}
    </h3>
    <pagination-heading data-page="{{ page }}" data-paging="paging" data-update="clientSide" data-title="{{ heading }}"
                        data-ng-if="page && paging && page !== 'projects'">
    </pagination-heading>
    </div>
    <div class="pull-right" data-ng-if="endpoint || sortColumns || gtc.sortingHeadings.length">
      <div class="btn-group" role="group" aria-label="Filter, sort or export table">
        <sort-table data-ng-if="gtc.sortingHeadings"
                    data-config="config"
                    data-update="clientSide"
                    data-data="data"
                    data-saved="saved"
                    data-paging="paging" data-page="{{ page }}"></sort-table>
        <arrange-columns data-title="{{ config.title }}"
                         data-saved="saved"
                         data-headings="config.headings"></arrange-columns>
        <export-table data-size="{{ paging.total }}"
                      data-endpoint="{{ endpoint }}"
                      data-headings="config.headings" data-ng-if="endpoint"></export-table>
      </div>
    </div>
  </div>
  <div class="table-responsive" data-nng-show="gtc.tableRendered">
    <tableicious
        id="{{ id }}"
        data-row-id="{{ config.rowId }}"
        data-headings="config.headings"
        data-data="gtc.displayedData"
        data-title="{{config.title}}"
        data-saved="saved"
        data-paging="paging"></tableicious>
  </div>
  <div class="panel-footer clearfix" data-ng-if="page && paging && page !== 'projects'"
       data-nng-show="gtc.tableRendered">
    <pagination-controls data-page="{{ page }}" data-paging="paging" data-update="clientSide"></pagination-controls>
  </div>
</div>
