<div class="pagination-controls">
  <div class="number-results pull-left">
    <span data-translate>Show</span>

    <div class="btn-group dropup" data-uib-dropdown>
      <button type="button" class="btn btn-default" data-uib-dropdown-toggle>
        {{ paging.size }} <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu">
        <li data-ng-click="pc.setCount($event, 20)"
            data-ng-keypress="pc.setCount($event, 20)"
            role="button"
            aria-label="Data Sample Size">20
        </li>
        <li data-ng-click="pc.setCount($event, 40)"
            data-ng-keypress="pc.setCount($event, 40)"
            role="button"
            aria-label="Data Sample Size">40
        </li>
        <li data-ng-click="pc.setCount($event, 60)"
            data-ng-keypress="pc.setCount($event, 60)"
            role="button"
            aria-label="Data Sample Size">60
        </li>
        <li data-ng-click="pc.setCount($event, 80)"
            data-ng-keypress="pc.setCount($event, 80)"
            role="button"
            aria-label="Data Sample Size">80
        </li>
        <li data-ng-click="pc.setCount($event, 100)"
            data-ng-keypress="pc.setCount($event, 100)"
            role="button"
            aria-label="Data Sample Size">100
        </li>
      </ul>
    </div>
    <span data-translate>entries</span>
  </div>

  <uib-pagination boundary-links="true"
              total-items="paging.total"
              data-ng-model="paging.page"
              items-per-page="paging.size"
              class="pagination-sm pull-right"
              data-ng-change="pc.refresh()"
              num-pages="paging.pages"
              max-size="10"
              rotate="false"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;"></uib-pagination>
</div>
