<div class="btn-group filter-dropdown-group" data-dropdown>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
   <span class="fa fa-magic"></span> Columns
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li data-ng-repeat="column in filters">
      <a data-ng-click='column.enabled = !column.enabled;'>
        <i data-ng-show='column.enabled' class="fa fa-check fa-stack"></i>
        <i data-ng-show='!column.enabled' class="fa fa-ban fa-stack"></i>
        <span data-translate>{{column.displayName}}</span>
      </a>
    </li>
  </ul>
</div>