<div class="btn-group filter-dropdown-group table-sort" data-dropdown>
  <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle aria-expanded="false">
    <span data-translate>Sort</span>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu sort-menu pull-right" role="menu">
    <li data-ng-repeat="item in sortColumns" class="column-heading">
      <div class="sort-item">
        <i class="fa fa-{{item.sort ? 'check' : 'circle-o'}} fa-stack fa-lg" ng-click="tsc.toggleSorting(item)"></i>

        <span>{{ item.name | translate }}</span>
        <span data-ng-if="item.sort">
          <i class="fa fa-sort-alpha-asc"></i>
          <input type="radio" aria-label="Sort Data Ascending" value="asc"
              data-ng-model="item.order" data-ng-change="tsc.updateSorting()"
              data-ng-checked="!item.order || item.order === 'asc'"
              name="{{ item.id }}-sort-order">
        </span>
        <span data-ng-if="item.sort">
          <i class="fa fa-sort-alpha-desc"></i>
          <input type="radio" aria-label="Sort Data Descending" value="desc"
                 data-ng-model="item.order" data-ng-change="tsc.updateSorting()"
                 name="{{ item.id }}-sort-order">
        </span>
      </div>
    </li>
  </ul>
</div>
