<div class="btn-group" data-uib-dropdown auto-close="outsideClick">
  <button type="button"
          class="btn btn-default fa fa-sort-alpha-asc"
          data-uib-tooltip="Sort Table"
          data-tooltip-popup-delay="1000"
          data-tooltip-trigger="mouseenter"
          data-uib-dropdown-toggle
          aria-expanded="false"
          title="Sort Table"
          aria-label="Sort Table">
    <span class="icon-btn-label">Sort Table</span>
  </button>

  <ul class="pull-right Columns-dropdown Columns-dropdown-headings"
      data-uib-dropdown-menu
      role="menu">
    <li data-ng-repeat="item in sortColumns">
      <div
        style="display: flex;"
        class="sort-item"
        ng-click="tsc.toggleSorting(item)"
      >
        <span>
          <i class="fa fa-{{item.sort ? 'check-square-o' : 'square-o'}} fa-stack"></i>
          <span>{{ item.name | translate }}</span>
        </span>

        <span
          style="
            margin: 0 -10px 0 auto;
            padding: 3px 10px;
            background-color: white;
            cursor: default;
          "
          class="text-right sorting-radio-buttons-container"
        >

          <i class="fa fa-long-arrow-down"></i>
          <input
            type="radio" aria-label="Sort Data Ascending" value="asc"
            style="cursor:pointer;"
            title="Sort Data Ascending"
            data-ng-model="item.order" data-ng-click="tsc.updateSorting($event)"
            data-ng-checked="!item.order || item.order === 'asc'"
            name="{{ item.id }}-sort-order"
          >
          <i class="fa fa-long-arrow-up"></i>
          <input
            type="radio" aria-label="Sort Data Descending" value="desc"
            style="cursor:pointer;"
            data-ng-model="item.order" data-ng-click="tsc.updateSorting($event)"
            name="{{ item.id }}-sort-order"
          >
        </span>
      </div>
    </li>
  </ul>
</div>
