<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th
        scope="{{::h.children ? 'colgroup' : 'col'}}"
        data-cell="::h.th ? h.th : h.name"
        data-data="data"
        data-paging="paging"
        data-ng-class="h.thClassName"
        rowspan="{{::h.children ? 1 : 2}}"
        colspan="{{::h.children ? h.children.length : 1}}"
        data-ng-hide="h.inactive(this)"
        data-ng-repeat="h in enabledHeadings">
      </th>
    </tr>
    <tr>
      <th
        scope="col"
        data-cell="h.th ? h.th : h.name"
        data-ng-class="h.thClassName"
        data-ng-repeat="h in subHeaders">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="d in data track by d[rowId]">
      <td
        data-cell="getCell(h,d)"
        data-row="d"
        data-ng-class="h.tdClassName"
        data-ng-hide="h.inactive(this)"
        data-uib-tooltip="{{getToolTipText(h,d)}}"
        data-tooltip-enable="h.toolTipText"
        data-tooltip-append-to-body="true"
        data-tooltip-popup-delay="1000"
        data-container="body"
        data-ng-repeat="h in dataCols track by h.id">
      </td>
    </tr>
    <tr>
      <td data-ng-repeat="h in dataCols track by h.name"
          data-ng-if="h.total"
          colspan="{{h.colSpan}}"
          data-ng-class="h.tdClassName"
          ng-bind-html="h.total(data, this)"></td>
    </tr>
  </tbody>
</table>
