<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th
        rowspan="{{h.children ? 1 : 2}}" 
        colspan="{{h.children ? h.children.length : 1}}" 
        data-ng-repeat="h in config.headings" 
        data-ng-if="!h.hidden">
          {{ ::h.displayName }}
      </th>
    </tr>
    <tr>
      <th
        data-ng-repeat="h in subHeaders">
          {{ ::h.displayName }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="d in data track by d[config.rowId]">
      <td 
        data-cell="c.render(d, filter)"
        data-ng-repeat="c in dataCols" 
        data-ng-if="!c.hidden">
      </td>
    </tr>
  </tbody>
</table>
