<div class="row">
  <div class="col-lg-12 icon-row">
    <i class="fa fa-user fa-12x"></i>
  </div>
</div>
<table class="table table-striped table-hover table-condensed table-bordered table-vertical">
  <tbody>
    <tr data-ng-if="displayItem.participant_id">
      <th scope="row" data-translate>Case UUID</th>
      <td>{{ displayItem.participant_id }}</td>
    </tr>
    <tr data-ng-if="displayItem.project.project_id">
      <th scope="row" data-translate>Project</th>
      <td>{{ displayItem.project.project_id }}</td>
    </tr>
    <tr data-ng-if="displayItem.clinical.gender">
      <th scope="row" data-translate>Gender</th>
      <td>{{ displayItem.clinical.gender | humanify }}</td>
    </tr>
    <tr data-ng-if="displayItem.project.primary_site">
      <th scope="row" data-translate>Primary Site</th>
      <td>{{ displayItem.project.primary_site | humanify }}</td>
    </tr>
  </tbody>
</table>
