<div class="row">
  <div class="col-lg-12 icon-row">
    <i class="fa fa-files-o fa-12x"></i>
  </div>
</div>
<table class="table table-striped table-hover table-condensed table-bordered table-vertical">
  <tbody>
    <tr data-ng-if="displayItem.project_id">
      <th scope="row" data-translate>Project ID</th>
      <td>{{ displayItem.project_id }}</td>
    </tr>
    <tr data-ng-if="displayItem.name">
      <th scope="row" data-translate>Project Name</th>
      <td>{{ displayItem.name }}</td>
    </tr>
    <tr data-ng-if="displayItem.primary_site">
      <th scope="row" data-translate>Primary Site</th>
      <td>{{ displayItem.primary_site | humanify }}</td>
    </tr>
  </tbody>
</table>
