<div class="clearfix quick-search-list-container">
  <ul class="col-md-5 col-sm-12" id="quick-search-list" data-ng-show="results.hits.length">
    <li data-ng-repeat="item in results.hits track by item._id"
         data-ng-class="{ selected: item.selected }" class="quick-search-result row"
         data-ng-click="goTo(item._type, item._id)"
         data-ng-switch="item._type"
         data-ng-mouseover="itemHover(item)">
      <div class="col-xs-2">
        <i class="fa fa-user fa-2x" data-ng-switch-when="case"></i>
        <i class="fa fa-file-o fa-2x" data-ng-switch-when="file"></i>
        <i class="fa fa-files-o fa-2x" data-ng-switch-when="project"/></i>
        <i class="fa fa-align-left fa-2x" data-ng-switch-when="annotation"/></i>
      </div>
      <div class="col-xs-10">
        <span class="entity-id">{{ item._id }}</span>
        <ul class="highlighted-terms" data-ng-switch-when="annotation">
          <li data-ng-bind-html="item.annotation_id| highlight:searchQuery"></li>
        </ul>
        <ul class="highlighted-terms" data-ng-switch-when="file">
          <li data-ng-bind-html="item.file_name | highlight:searchQuery"></li>
          <li data-ng-bind-html="item.file_id | highlight:searchQuery"></li>
        </ul>
        <ul class="highlighted-terms" data-ng-switch-when="project">
          <li data-ng-bind-html="item.project_id | highlight:searchQuery"></li>
          <li data-ng-bind-html="item.name | highlight:searchQuery"></li>
          <li data-ng-bind-html="item.primary_site | highlight:searchQuery"></li>
        </ul>
        <ul class="highlighted-terms" data-ng-switch-when="case">
          <li data-ng-bind-html="item.case_id | highlight:searchQuery"></li>
          <li data-ng-bind-html="item.project.project_id | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.sample_id"
              data-ng-bind-html="item.sample_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.sample_id"
              data-ng-bind-html="item.submitter_sample_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.portion_id"
              data-ng-bind-html="item.portion_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.portion_id"
              data-ng-bind-html="item.submitter_portion_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.analyte_id"
              data-ng-bind-html="item.analyte_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.analyte_id"
              data-ng-bind-html="item.submitter_analyte_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.aliquot_id"
              data-ng-bind-html="item.aliquot_ids | highlight:searchQuery"></li>
          <li data-ng-if="item.bioSpecimen.aliquot_id"
              data-ng-bind-html="item.submitter_aliquot_ids | highlight:searchQuery"></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="col-md-7 hidden-sm hidden-xs details-container" data-ng-if="selectedItem">
    <div data-ng-include="'components/quick-search/templates/annotation.html'"
         data-ng-show="selectedItem._type === 'annotation'"></div>
    <div data-ng-include="'components/quick-search/templates/file.html'"
         data-ng-show="selectedItem._type === 'file'"></div>
    <div data-ng-include="'components/quick-search/templates/participant.html'"
         data-ng-show="selectedItem._type === 'case'"></div>
    <div data-ng-include="'components/quick-search/templates/project.html'"
         data-ng-show="selectedItem._type === 'project'"></div>
  </div>
  <div class="no-results" data-ng-if="!results.hits.length && searchQuery && !activeQuery" data-translate>
    No Results
  </div>
</div>
