<div class="modal-body" id="quick-search-modal">
  <div class="input-group search-input">
    <span class="fa fa-search"></span>
    <input type="text" 
           placeholder="{{ 'Search for IDs..' | translate }}"
           class="form-control"
           data-ng-model="qsmc.searchQuery"
           data-ng-change="qsmc.search()"
           autofocus>
  </div>
  <div class="row" data-ng-show="qsmc.results">
    <div class="col-lg-5" id="quick-search-list">
      <div data-ng-repeat="item in qsmc.results.hits track by $index"
           data-ng-class="{ selected: $first }" class="quick-search-result"
           data-ng-click="qsmc.goTo(item._type, item._id)"
           data-ng-mouseover="qsmc.itemHover($event, item)">
        <i class="fa fa-user" data-ng-if="item._type === 'participant'"></i>
        <i class="fa fa-file-o" data-ng-if="item._type === 'file'"></i>
        <img src="/images/icon-projects-large.png" width="30" height="30"
             data-ng-if="item._type === 'project'"/>
        {{ item._id }}

        <div data-ng-repeat="term in item.matchedTerms track by $index">
          <matched-term data-term="term" query="qsmc.searchQuery"></matched-term>
        </div>
      </div>
    </div>
    <div class="col-lg-7" data-ng-if="qsmc.selectedItem">
      <div data-ng-include="'components/quick-search/templates/file.html'"
           data-ng-show="qsmc.selectedItem._type === 'file'"></div>
      <div data-ng-include="'components/quick-search/templates/participant.html'"
           data-ng-show="qsmc.selectedItem._type === 'participant'"></div>
      <div data-ng-include="'components/quick-search/templates/project.html'"
           data-ng-show="qsmc.selectedItem._type === 'project'"></div>
    </div>
  </div>
</div>
