.DateInput {
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
}

.SingleDatePicker__picker {
  z-index: 999;
  top: 34px;
}

.DateInput--with-caret::before {
  top: 0;
  border: 0;
}

.DateInput--with-caret::after {
  top: 0;
  border: 0;
}
