<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">Query Result Summary</h3>
  </div>
  <table id="summary-table" class="table table-striped table-hover table-bordered table-vertical">
    <tbody>
    <tr>
      <th scope="row"># <span data-translate>of Files</span></th>
      <td>{{ sc.files.pagination.total | number }}</td>
    </tr>
    <tr>
      <th scope="row" data-translate>File Size</th>
      <td>{{ sc.summary.fs.value | size}}</td>
    </tr>
    <tr>
      <th scope="row"># <span data-translate>of Participants</span></th>
      <td>{{ sc.participants.pagination.total | number }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div data-add-to-cart-all data-files="sc.files" data-paging="sc.files.pagination"
     data-add-all-only=true></div>

<h3>
  Breakdowns
</h3>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Data Type</h4>
      </div>
      <table id="summary-table-dt" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Data Type</th>
          <th># Files</th>
          <th>
            File Size
          </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat='type in sc.summary.data_type.buckets'>
          <th scope="row" data-translate>{{type.key | humanify: true:true }}</th>
          <td ng-click="sc.FacetService.addTerm('files.data_type', type.key)" class="text-right">
          <a href="">{{ type.doc_count | number }}</a></td>
          <td class="text-right">{{ type.file_size.value | size}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Experimental Strategy</h4>
      </div>
      <table id="summary-table-es" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Experimental Strategy</th>
          <th># Files</th>
          <th>File Size</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat='type in sc.summary.experimental_strategy.buckets'>
          <th scope="row" data-translate>{{type.key | humanify: true:true }}</th>
          <td ng-click="sc.FacetService.addTerm('files.experimental_strategy', type.key)" class="text-right"  class="text-right">
          <a href="">{{ type.doc_count | number }}
          </a></td>
          <td class="text-right">{{ type.file_size.value | size}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Data Format</h4>
      </div>
      <table id="summary-table-df" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Data Format</th>
          <th># Files</th>
          <th>File Size</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat='type in sc.summary.data_format.buckets'>
          <th scope="row" data-translate>{{type.key | humanify: true:true }}</th>
          <td ng-click="sc.FacetService.addTerm('files.data_format', type.key)" class="text-right">
          <a href="">{{ type.doc_count | number }}</a></td>
          <td class="text-right">{{ type.file_size.value | size}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Data Access</h4>
      </div>
      <table id="summary-table-da" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Data Access</th>
          <th># Files</th>
          <th>File Size</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat='type in sc.summary.access.buckets'>
          <th scope="row" data-translate>{{type.key | humanify: true:true }}</th>
          <td ng-click="sc.FacetService.addTerm('files.access', type.key)"  class="text-right"><a href="">{{ type.doc_count | number }}</a></td>
          <td class="text-right">{{ type.file_size.value | size}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

