<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{ title | translate }}</h4>
  </div>
  <table id="{{ id }}" class="table table-striped table-hover table-bordered"
         data-ng-class="{ 'summary-table': buckets.length > 5 }">
    <thead>
    <tr>
      <th>{{ title | translate }}</th>
      <th># <span data-translate>Files</span></th>
      <th data-translate>File Size</th>
    </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat='type in buckets'
          data-ng-hide="!expanded && $index > 5 && buckets.length > 5">
        <th scope="row">{{type.key | translate | humanify: true:true }}</th>
        <td data-ng-click="FacetService.addTerm(facet, type.key)" class="text-right">
          <a href="">{{ type.doc_count | number }}</a>
        </td>
        <td class="text-right">{{ type.file_size.value | size}}</td>
      </tr>
    </tbody>
  </table>
  <a class="summary-toggle" data-ng-click="toggleTableExpand()"
     data-ng-if="buckets.length > 5">
    <span data-ng-show="!expanded">
      <span data-translate>Show</span>
      {{ buckets.length - 5}}
      <span data-translate>more</span>
    </span>
    <span data-ng-show="expanded" data-translate>Show Less</span>
  </a>
</div>