<div class="container-fluid search">
  <h1>Search</h1>

    <div class="row">
        <div class="col-lg-10 col-md-8 col-sm-12 pull-right no-padding-left search-bar">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-default pull-right">Share</button>
                    <span class="fa fa-refresh pull-right"></span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>

  <div class="row search-panel">
    <div class="col-lg-2 col-md-3 facets-sidebar">
      <tabset>
        <tab heading="Participants">
          <facets facets="sc.participants.facets"></facets>
        </tab>

        <tab heading="Files">
          <facets facets="sc.files.facets"></facets>
        </tab>
      </tabset>
    </div>
    <div class="col-lg-10 col-md-9 table-area">
      <tabset>
        <tab heading="Participants ({{sc.participants.hits.length}})"
             active="sc.State.tabs.participants.active"
             select="sc.select('participants')">
          <div class="pane-section">
            <div ng-include="'search/templates/search.participants.html'"></div>
          </div>
        </tab>
        <tab heading="Files ({{sc.files.hits.length}})"
             active="sc.State.tabs.files.active"
             select="sc.select('files')">
          <div class="pane-section">
            <div ng-include="'search/templates/search.files.html'"></div>
          </div>
        </tab>
        <tab heading="Annotations ({{sc.annotations.hits.length}})"
             active="sc.State.tabs.annotations.active"
             select="sc.select('annotations')">
          <div class="pane-section">
            <div ng-include="'search/templates/search.annotations.html'"></div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
