<facets-free-text data-title="Participant" placeholder="{{ 'Participant Barcode or Uuid' | translate }}"
                  data-field="participants.bcr_patient_uuid"
                  data-entity="participants"
                  data-template="components/facets/templates/typeahead-participants.html"></facets-free-text>
<terms data-name="participants.admin.project_code" data-title="Cancer Program"
       data-facet="sc.participants.aggregations['admin.project_code']" data-collapsed="true"></terms>
<terms data-name="participants.admin.disease_code" data-title="Project"
       data-facet="sc.participants.aggregations['admin.disease_code']" data-collapsed="true"></terms>
<terms data-name="participants.admin.disease_code" data-title="Disease Type"
       data-facet="sc.participants.aggregations['admin.disease_code']" data-collapsed="true"></terms>
<terms data-name="participants.tumor_tissue_site" data-title="Tumor Tissue Site"
       data-facet="sc.participants.aggregations.tumor_tissue_site"></terms>
<facets-free-text data-title="ICD10"
                  placeholder="{{ 'e.g. C50.9, C64.1' | translate }}"
                  data-field="icd_10"
                  data-entity="participants"></facets-free-text>
<terms data-name="participants.ethnicity" data-title="Ethnicity"
       data-facet="sc.participants.aggregations.ethnicity"></terms>
<terms data-name="participants.gender" data-title="Gender" data-facet="sc.participants.aggregations.gender"></terms>
<terms data-name="participants.histological_type" data-title="Histological Type"
       data-facet="sc.participants.aggregations.histological_type"></terms>
<terms data-name="participants.race" data-title="Race" data-facet="sc.participants.aggregations.race"
       data-collapsed="true"></terms>
<terms data-name="participants.vital_status" data-title="Vital Status"
       data-facet="sc.participants.aggregations.vital_status" data-collapsed="true"></terms>
<terms data-name="participants.stage_event.pathologic_stage" data-title="Pathologic Stage"
       data-facet="sc.participants.aggregations['stage_event.pathologic_stage']" data-collapsed="true"></terms>