<h4 class="clearfix">
  <span data-translate>Participants</span>
  <span class="pull-right">
    <select-columns></select-columns>
    <export-table></export-table>
  </span>
</h4>

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" data-translate>Participant ID</th>
    <th scope="col" data-translate>Project</th>
    <th scope="col" data-translate>Disease Type</th>
    <th scope="col" data-translate>Gender</th>
    <th scope="col" data-translate>Tumor Stage</th>
    <th scope="col" data-translate>Files</th>
    <th scope="col" data-translate>Annotations</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="p in sc.participants.hits track by p.id">
    <td style="width: 35px;">
      <div class="btn-group pull-right" dropdown>
        <button type="button" class="btn btn-default action-button dropdown-toggle">
          A
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a data-ng-click="sc.CartService.addFiles(sc.files.hits)">
              <i class="fa fa-download"></i>
              <span data-translate>Add filtered files to Cart</span> (145)
            </a>
          </li>
          <li>
            <a data-ng-click="sc.CartService.addAllFiles()">
              <i class="fa fa-download"></i>
              <span data-translate>Add all files to Cart</span> (231)
            </a>
          </li>
        </ul>
      </div>
    </td>
    <td><a data-ui-sref="participant({ participantId : p.id })">{{ p.id }}</a></td>
    <td><a data-ui-sref="project({ projectId : p.project.id })">{{ p.project.name }}</a></td>
    <td>{{ p.diseaseType }}</td>
    <td>{{ p.gender }}</td>
    <td>{{ p.tumorStage }}</td>
    <td>
      <a data-ui-sref="files({ participantId: p.id })">
        {{ p.files.length }}
      </a>
    </td>
    <td>
      <a data-ui-sref="annotations({ participantId: p.id })">
        {{ p.annotations.length }}
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-controls">
  <div class="number-results pull-left">
    <span data-translate>Show</span>

    <div class="btn-group dropup" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        {{ sc.participants.pagination.count }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-click="sc.searchQuery(10)">10</li>
        <li ng-click="sc.searchQuery(20)">20</li>
        <li ng-click="sc.searchQuery(40)">40</li>
        <li ng-click="sc.searchQuery(60)">60</li>
        <li ng-click="sc.searchQuery(80)">80</li>
        <li ng-click="sc.searchQuery(100)">100</li>
      </ul>
    </div>
    <span data-translate>entries</span>
  </div>
  <pagination boundary-links="true"
              total-items="sc.participants.pagination.total"
              ng-model="sc.participants.pagination.page"
              items-per-page="sc.participants.pagination.count"
              class="pagination-sm pull-right"
              ng-change="sc.searchQuery()"
              num-pages="sc.participants.pagination.pages"
              max-size="6"
              rotate="false"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;"></pagination>
</div>
