<terms data-name="files.data_type" data-title="Data Type" data-facet="sc.files.aggregations.data_type"></terms>
<terms data-name="files.data_format" data-title="Data Format" data-facet="sc.files.aggregations.data_format"></terms>
<terms data-name="files.data_level" data-title="Data Level" data-facet="sc.files.aggregations.data_level"></terms>
<terms data-name="files.data_access" data-title="Data Access" data-facet="sc.files.aggregations.data_access"></terms>
<terms data-name="files.platform" data-title="Platform" data-facet="sc.files.aggregations.platform" data-collapsed="true"></terms>
<terms data-name="files.file_extension" data-title="File Extension" data-facet="sc.files.aggregations.file_extension" data-collapsed="true"></terms>
<terms data-name="files.data_subtype" data-title="Data Subtype" data-facet="sc.files.aggregations.data_subtype" data-collapsed="true"></terms>
