<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Participants &nbsp;
      <div table-filters-dropdown filters='searchParticipantColumns'></div>
    </h3>
  </div>
  <table id="participant-table" class="table table-striped table-hover table-condensed table-bordered">
    <thead>
    <tr>
      <th scope="col" rowspan=2 ></th>
      <th ng-if="participantColumnIsEnabled('participant_id')" scope="col" rowspan=2 data-translate>Participant ID</th>
      <th ng-if="participantColumnIsEnabled('project')"  scope="col" rowspan=2 data-translate>Project</th>
      <th ng-if="participantColumnIsEnabled('primary_site')" scope="col" rowspan=2 data-translate>Primary Site</th>
      <th ng-if="participantColumnIsEnabled('disease_type')" scope="col" rowspan=2  data-translate>Disease Type</th>
      <th ng-if="participantColumnIsEnabled('gender')" scope="col" rowspan=2  data-translate>Gender</th>
      <th ng-if="participantColumnIsEnabled('tumor_stage')" scope="col" rowspan=2 data-translate>Tumor Stage</th>
      <th ng-if="participantColumnIsEnabled('files')" scope="col" rowspan=2 data-translate>Files</th>
      <th ng-if="participantColumnIsEnabled('available_data_files')" scope="col" rowspan=1 colspan='6' data-translate class="text-center">Available Data Files Per Type</th>
      <th ng-if="participantColumnIsEnabled('annotations')" scope="col" rowspan=2 data-translate>Annotations</th>
    </tr>

    <tr ng-if="participantColumnIsEnabled('available_data_files')" >
      <th scope="col" data-translate>Clinical</th>
      <th scope="col" data-translate>SNV</th>
      <th scope="col" data-translate>mRNA</th>
      <th scope="col" data-translate>miRNA</th>
      <th scope="col" data-translate>CNV</th>
      <th scope="col" data-translate>Meth</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="p in sc.participants.hits track by p.patient_id">
      <td style="width: 35px;">
        <div class="btn-group" data-dropdown>
          <button type="button"
                  class="btn btn-default dropdown-toggle"
                  data-ng-click="sc.getFilteredRelatedFiles(p)"
                  aria-label="Participant Actions">
            <i class="fa fa-shopping-cart"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li aria-label="{{ 'Add all related files' | translate }}"
                role="button">
              <a data-ng-click="sc.addRelatedFiles(p)">
                <i class="fa fa-shopping-cart fa-stack"></i>
                <span data-translate>Add all related files</span> ({{ p.files.length }})
              </a>
            </li>
            <li aria-label="{{ 'Add filtered related files' | translate }}"
                role="button">
              <a data-ng-click="sc.addFilteredRelatedFiles(p)">
                <i class="fa fa-shopping-cart fa-stack"></i>
                <span data-translate>Add filtered related files</span> ({{ p.filteredRelatedFiles.pagination.total }})
              </a>
            </li>
          </ul>
        </div>
      </td>
      <td ng-if="participantColumnIsEnabled('participant_id')"><a data-ui-sref="participant({ participantId : p.bcr_patient_uuid })">{{ ::p.bcr_patient_barcode }}</a></td>
      <td ng-if="participantColumnIsEnabled('project')">tbc <a data-ui-sref="project({ projectId : p.project.id })">{{ ::p.project.name }}</a></td>
       <td ng-if="participantColumnIsEnabled('primary_site')" >{{ ::p.tumor_tissue_site }}</td>
      <td ng-if="participantColumnIsEnabled('disease_type')">{{ ::p.admin.disease_code }}</td>
     
      <td ng-if="participantColumnIsEnabled('gender')">{{ ::p.gender }}</td>

      <td ng-if="participantColumnIsEnabled('tumor_stage')">{{ ::p.person_neoplasm_cancer_status }}</td>
      <td ng-if="participantColumnIsEnabled('files')" class="text-right">
        <a data-ui-sref="search.files({ 'filters': makeFilter([
      {
        name: 'participant_id', value: p.bcr_patient_uuid
      }
    ])})">
          tbc {{ ::p.files.length | number:0 }}
        </a>
      </td>
      <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
          }
        ])})">
          {{ ::p.filesByType['Clinical']}}
       </a>
      </td>
      <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
        }
        ])})">
        {{ ::p.filesByType['SNV']}}
       </a>
      </td>
      <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
        }
        ])})">
        {{ ::p.filesByType['mRNA']}}
       </a>

      </td>
      <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
        }
        ])})">
        {{ ::p.filesByType['miRNA']}}
       </a>
      </td>
      <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
        }
        ])})">
        {{ ::p.filesByType['CNV']}}
       </a>
       <td ng-if="participantColumnIsEnabled('available_data_files')" >
        <a data-ui-sref="search.files({ 'filters': makeFilter([
        {
            name: 'participants.participant_id', value: p.bcr_patient_uuid
        }
        ])})">
        {{ ::p.filesByType['Meth']}}
       </a>
      </td>
      </td>
      <td ng-if="participantColumnIsEnabled('annotations')" class="text-right" >
        <a data-ui-sref="annotations({ participantId: p.id })">
          tbc {{ ::p.annotations.length | number:0 }}
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="panel-footer clearfix">
    <pagination-controls data-page="participants" data-paging="sc.participants.pagination"></pagination-controls>
  </div>
</div>
