<facets-free-text data-title="Participant" placeholder="{{ 'Participant Barcode or Uuid' | translate }}"
                  data-field="participants.participant_id"
                  data-entity="participants"
                  data-template="components/facets/templates/typeahead-participants.html"></facets-free-text>
<terms data-name="participants.project.program.name" data-title="Cancer Program"
       data-facet="sc.participants.aggregations['project.program.name']" data-collapsed="true"></terms>
<terms data-name="participants.project.code" data-title="Project"
       data-facet="sc.participants.aggregations['project.code']" data-collapsed="true"></terms>
<terms data-name="participants.project.name" data-title="Disease Type"
       data-facet="sc.participants.aggregations['project.name']" data-collapsed="true"></terms>
<terms data-name="participants.project.primary_site" data-title="Primary Site"
       data-facet="sc.participants.aggregations['project.primary_site']"></terms>
<facets-free-text data-title="ICD10"
                  placeholder="{{ 'e.g. C50.9, C64.1' | translate }}"
                  data-field="clinical.icd_10"
                  data-entity="participants"></facets-free-text>
<terms data-name="participants.clinical.gender" data-title="Gender" data-facet="sc.participants.aggregations['clinical.gender']"
       data-collapsed="true"></terms>
<terms data-name="participants.clinical.vital_status" data-title="Vital Status"
       data-facet="sc.participants.aggregations['clinical.vital_status']"></terms>
       <terms data-name="participants.stage_event.pathologic_stage" data-title="Pathologic Stage"
              data-facet="sc.participants.aggregations['stage_event.pathologic_stage']" data-collapsed="true"></terms>
<terms data-name="participants.histological_type" data-title="Histological Type"
       data-facet="sc.participants.aggregations.histological_type"></terms>
<terms data-name="participants.clinical.race" data-title="Race" data-facet="sc.participants.aggregations['clinical.race']"
       data-collapsed="true"></terms>
<terms data-name="participants.clinical.ethnicity" data-title="Ethnicity"
       data-facet="sc.participants.aggregations['clinical.ethnicity']" data-collapsed="true"></terms>
