<div class="pull-right table-actions">
  <select-columns></select-columns>
  <export-table></export-table>
</div>

<table id="data-table" class="table table-striped table-hover table-condensed table-bordered">
  <caption class="h4" data-translate>Participants</caption>
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col" data-translate>Participant ID</th>
    <th scope="col" data-translate>Project</th>
    <th scope="col" data-translate>Disease Type</th>
    <th scope="col" data-translate>Gender</th>
    <th scope="col" data-translate>Tumor Stage</th>
    <th scope="col" data-translate>Files</th>
    <th scope="col" data-translate>Annotations</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="p in sc.participants.hits track by p.patient_id">
    <td style="width: 35px;">
      <div class="btn-group pull-right" dropdown>
        <button type="button"
                class="btn btn-default action-button dropdown-toggle"
                aria-label="Participant Actions">
          A
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-click="sc.CartService.addFiles(sc.files.hits)"
              data-ng-keypress="sc.addFilesKeyPress($event)"
              aria-label="{{ 'Add filtered files to Cart' | translate }}"
              role="button">
            <i class="fa fa-download"></i>
            <span data-translate>Add filtered files to Cart</span> (145)
          </li>
          <li data-ng-click="sc.CartService.addAllFiles()"
              data-ng-keypress="sc.addFilesKeyPress($event, 'all')"
              aria-label="{{ 'Add all files to Cart' | translate }}"
              role="button">
            <i class="fa fa-download"></i>
            <span data-translate>Add all files to Cart</span> (231)
          </li>
        </ul>
      </div>
    </td>
    <td><a data-ui-sref="participant({ participantId : p.bcr_patient_uuid })">{{ ::p.patient_id }}</a></td>
    <td>??? <a data-ui-sref="project({ projectId : p.project.id })">{{ ::p.project.name }}</a></td>
    <td>??? {{ ::p.diseaseType }}</td>
    <td>{{ ::p.gender }}</td>
    <td>??? {{ ::p.tumor_stage }}</td>
    <td>
      <a data-ui-sref="files({ participantId: p.bcr_patient_uuid })">
        ??? {{ ::p.files.length }}
      </a>
    </td>
    <td>
      <a data-ui-sref="annotations({ participantId: p.id })">
        ??? {{ ::p.annotations.length }}
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-controls">
  <div class="number-results pull-left">
    <span data-translate>Show</span>

    <div class="btn-group dropup" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
        {{ sc.participants.pagination.count }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li data-ng-click="sc.searchQuery($event, 10)"
            data-ng-keypress="sc.searchQuery($event, 10)"
            role="button"
            aria-label="Data Sample Size">10</li>
        <li data-ng-click="sc.searchQuery($event, 20)"
            data-ng-keypress="sc.searchQuery($event, 20)"
            role="button"
            aria-label="Data Sample Size">20</li>
        <li data-ng-click="sc.searchQuery($event, 40)"
            data-ng-keypress="sc.searchQuery($event, 40)"
            role="button"
            aria-label="Data Sample Size">40</li>
        <li data-ng-click="sc.searchQuery($event, 60)"
            data-ng-keypress="sc.searchQuery($event, 60)"
            role="button"
            aria-label="Data Sample Size">60</li>
        <li data-ng-click="sc.searchQuery($event, 80)"
            data-ng-keypress="sc.searchQuery($event, 80)"
            role="button"
            aria-label="Data Sample Size">80</li>
        <li data-ng-click="sc.searchQuery($event, 100)"
            data-ng-keypress="sc.searchQuery($event, 100)"
            role="button"
            aria-label="Data Sample Size">100</li>
      </ul>
    </div>
    <span data-translate>entries</span>
  </div>
  <pagination boundary-links="true"
              total-items="sc.participants.pagination.total"
              ng-model="sc.participants.pagination.page"
              items-per-page="sc.participants.pagination.count"
              class="pagination-sm pull-right"
              ng-change="sc.searchQuery()"
              num-pages="sc.participants.pagination.pages"
              max-size="6"
              rotate="false"
              previous-text="&lsaquo;"
              next-text="&rsaquo;"
              first-text="&laquo;"
              last-text="&raquo;"></pagination>
</div>
