<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>
  <div class="table-responsive">

    <table id="file-table" class="table table-striped table-hover table-condensed table-bordered">
      <thead>
      <tr>
        <th class="text-center">
          <div class="btn-group" data-dropdown>
            <button data-ng-if="sc.CartService.areInCart(sc.files.hits)" type="button" class="btn btn-success" disabled>
              <i class="fa fa-check-circle"></i>
            </button>
            <button data-ng-if="!sc.CartService.areInCart(sc.files.hits)" type="button" class="btn btn-primary"
                    data-ng-click="sc.CartService.addFiles(sc.files.hits)">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a>
                  <i class="fa fa-shopping-cart fa-stack"></i>
                  <span data-translate>Add all in Search Result</span>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-shopping-cart fa-stack"></i>
                  <span data-translate>Remove all in Search Result</span>
                </a>
              </li>
            </ul>
          </div>
        </th>
        <th scope="col" class="text-center" data-translate>Access</th>
        <th scope="col" class="text-center" data-translate>File Name</th>
        <th scope="col" class="text-center" data-translate>File type</th>
        <th scope="col" class="text-center" data-translate>Participants</th>
        <th scope="col" class="text-center" data-translate>Annotations</th>
        <th scope="col" class="text-center" data-translate>Project</th>
        <th scope="col" class="text-center" data-translate>Data Category</th>
        <th scope="col" class="text-center" data-translate>Status</th>
        <th scope="col" class="text-center" data-translate>Size</th>
        <th scope="col" class="text-center" data-translate>Revision</th>
        <th scope="col" class="text-center" data-translate>Update date</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="file in sc.files.hits track by file.file_uuid">
        <td class="text-center">
          <div class="btn-group" data-dropdown>
            <button data-ng-if="sc.CartService.isInCart(file.file_uuid)" type="button" class="btn btn-success" disabled>
              <i class="fa fa-check-circle"></i>
            </button>
            <button data-ng-if="!sc.CartService.isInCart(file.file_uuid)" type="button" class="btn btn-default"
                    data-ng-click="sc.CartService.add(file)">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="listitem"
                  aria-label="{{ 'Download File' | translate }}">
                <a href="">
                  <i class="fa-stack fa fa-cloud-download fa-stack "></i>
                  <span data-translate>Download</span>
                </a>
              </li>
              <li role="listitem"
                  aria-label="{{ 'Download File' | translate }}">
                <a href="">
                  <i class="fa-stack fa fa-download fa-stack "></i>
                  <span data-translate>Download File</span>
                </a>
              </li>
              <li role="listitem"
                  aria-label="{{ 'Download Metadata' | translate }}">
                <a>
                  <i class="fa fa-download fa-stack "></i>
                  <span data-translate>Download Metadata</span>
                </a>
              </li>
              <li class="divider"></li>
              <li role="listitem"
                  aria-label="{{ 'View Files in same Archive' | translate }}">
                <a>
                  <i class="fa fa-file-zip-o fa-stack "></i>
                  <span data-translate>View Files in same Archive</span>
                </a>
              </li>
              <li role="listitem"
                  aria-label="{{ 'View Metadata Files' | translate }}">
                <a>
                  <i class="fa fa-file-text-o fa-stack "></i>
                  <span data-translate>View Metadata Files</span>
                </a>
              </li>
            </ul>
          </div>
        </td>
        <td class="text-center">
          <i data-ng-if="file.data_access=='protected'" class="fa fa-lock fa-lg"></i>
          <i data-ng-if="file.data_access!='protected'" class="fa fa-unlock-alt fa-lg"></i>
        </td>
        <td>
          <a data-ui-sref="file({ fileId: file.file_uuid })">
            {{ ::file.file_name | ellipsicate }}
          </a>
        </td>
        <td>{{ ::file.file_extension }}</td>
        <td class="text-right">
          {{ ::file.participants.length | number:0 }}
        </td>
        <td class="text-right">{{ ::file.annotations.length | number:0 }}</td>
        <td>
          <a data-ui-sref="project({ projectId: file.project.id })">
            {{ ::file.archive.disease_code}}
          </a>
        </td>
        <td>{{ ::file.data_type }}</td>
        <td>tbc {{ ::file.state }}</td>
        <td>{{ file.file_size | size }}</td>
        <td>{{ ::file.archive.revision }}</td>
        <td>{{ file.modified | date }}</td>
      </tr>
      </tbody>
    </table>
    </div>
    <div class="panel-footer clearfix">
      <div class="pagination-controls">
        <div class="number-results pull-left">
          <span data-translate>Show</span>

          <div class="btn-group dropup" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" data-ng-disabled="disabled">
              {{ sc.files.pagination.count }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-ng-click="sc.searchQuery($event, 10)"
                  data-ng-keypress="sc.searchQuery($event, 10)"
                  role="button"
                  aria-label="Data Sample Size">10
              </li>
              <li data-ng-click="sc.searchQuery($event, 20)"
                  data-ng-keypress="sc.searchQuery($event, 20)"
                  role="button"
                  aria-label="Data Sample Size">20
              </li>
              <li data-ng-click="sc.searchQuery($event, 40)"
                  data-ng-keypress="sc.searchQuery($event, 40)"
                  role="button"
                  aria-label="Data Sample Size">40
              </li>
              <li data-ng-click="sc.searchQuery($event, 60)"
                  data-ng-keypress="sc.searchQuery($event, 60)"
                  role="button"
                  aria-label="Data Sample Size">60
              </li>
              <li data-ng-click="sc.searchQuery($event, 80)"
                  data-ng-keypress="sc.searchQuery($event, 80)"
                  role="button"
                  aria-label="Data Sample Size">80
              </li>
              <li data-ng-click="sc.searchQuery($event, 100)"
                  data-ng-keypress="sc.searchQuery($event, 100)"
                  role="button"
                  aria-label="Data Sample Size">100
              </li>
            </ul>
          </div>
          <span data-translate>entries</span>
        </div>
        <pagination boundary-links="true"
                    total-items="sc.files.pagination.total"
                    data-ng-model="sc.files.pagination.page"
                    items-per-page="sc.files.pagination.count"
                    class="pagination-sm pull-right"
                    data-ng-change="sc.searchQuery()"
                    num-pages="sc.files.pagination.pages"
                    max-size="6"
                    rotate="false"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></pagination>
      </div>
    </div>
  </div>
