<h4>Files</h4>
<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="f in sc.files.hits track by f.id">
      <td><a data-ui-sref="file({ fileId : f.id })">{{ f.id }}</a></td>
      <td>{{ f.filename }}</td>
    </tr>
  </tbody>
</table>
<div class="number-results pull-left">
  Show
  <div class="btn-group dropup" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
      {{ sc.files.pagination.count }}  <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-click="sc.searchQuery(10)">10</li>
      <li ng-click="sc.searchQuery(20)">20</li>
      <li ng-click="sc.searchQuery(40)">40</li>
      <li ng-click="sc.searchQuery(60)">60</li>
      <li ng-click="sc.searchQuery(80)">80</li>
      <li ng-click="sc.searchQuery(100)">100</li>
    </ul>
  </div>
  entries
</div>
<pagination boundary-links="true"
            total-items="sc.files.pagination.total"
            ng-model="sc.files.pagination.page"
            items-per-page="sc.files.pagination.count"
            class="pagination-sm pull-right"
            ng-change="sc.searchQuery()"
            num-pages="sc.files.pagination.pages"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"></pagination>