<div class="panel panel-default summary-panel">
  <div class="row">
    <div class="col-lg-12">
      <div data-add-to-cart-all data-files="sc.files" data-paging="sc.files.pagination"
         data-add-all-only=true></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <count-card title="Files" icon="fa-file-o" data="sc.files.pagination.total"></count-card>
  </div>
  <div class="col-lg-4">
    <count-card title="Cases" icon="fa-user" data="sc.participants.pagination.total"></count-card>
  </div>
  <div class="col-lg-4">
    <count-card title="File Size" icon="fa-save" data="sc.summary.fs.value"
                data-filter="true"></count-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <donut-chart data="sc.summary.participants['participants.project.project_id'].buckets"
                 height="400" data-filter="true" config="sc.projectIdChartConfig"
                 data-title="File Counts by Project"></donut-chart>
  </div>
  <div class="col-lg-6">
    <donut-chart data="sc.summary.participants['participants.project.primary_site'].buckets"
                 height="400" data-filter="true" config="sc.primarySiteChartConfig"
                 data-title="File Counts by Primary Site"></donut-chart>
  </div>
</div>
