
.current-filters {
  font-size: 1.9rem;

  .filter {
    margin-right: 5px;
  }

  .facet-name {
    cursor: pointer;
    line-height: 3rem;

    &:hover, &:focus {
      text-decoration: line-through;
    }
  }

  .label.and {
    margin-left: 5px;
  }
}

.facet-title {
  cursor: pointer;
}

.facet-term-label {
  cursor: pointer;
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-group-addon:hover {
  cursor: pointer;
}

.typeahead-row {
  cursor: pointer;
  padding: 5px;

  .uuid {
    font-size: 0.9em;
    font-weight: 700;
  }

  .sub-item {
    font-size: 0.751em;
    word-wrap: break-word;
  }

  .icon-container, .data-container {
    display: inline-block;
  }

  .data-container {
    max-width: 80%;
  }
}
