.facet-section {
  > .list-group:first-child, .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  > .list-group:last-child, .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  label {
    margin: 0;
  }
}

.current-filters {
  font-size: 1.9rem;

  .filter {
    margin-right: 5px;

    span.facet-block {
      display: inline-block;
      line-height: 2rem;
    }

    // This is applied to only immediate child spans to prevent
    // extra padding added
    ~ span {
      padding: 5px;
    }

    .facet-name:hover ~ .terms-container .term-container,
    .facet-name:focus ~ .terms-container .term-container {
      text-decoration: line-through;
      color: white;
    }

    .facet-name, .facet-term {
      cursor: pointer;
      line-height: 2rem;
      padding: 4px 5px;

      &:hover, &:focus {
        text-decoration: line-through;
        color: white;
      }
    }

    .terms-container {
      white-space: inherit;
      padding: 5px 0;

      .term-container {
        padding: 0;
      }

      .term-separator {
        color: @orange;
        margin: 0 2px 0 -3px;
        text-decoration: none;
      }

      .expand-terms, .hide-terms {
        cursor: pointer;
      }

      .hide-terms {
        font-size: 0.8em;
        margin-left: 5px;
      }
    }
  }

  .in, .is {
    text-transform: uppercase;
    cursor: default;
  }

  .multiterm {
    &:before {
      content: "( ";
      color: @orange;
    }

    &:after {
      content: " )";
      margin-left: 5px;
      color: @orange;
    }
  }
}

.facet-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;

  h4 {
    max-width: 85%;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }
}

.facet-term-label {
  cursor: pointer;
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-group-item-text {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.search-input {
  width: 100%;

  .fa.fa-search {
    position: relative;
    left: 10px;
    top: 12px;
    z-index: 1000;
  }

  input {
    margin-top: -15px;
    padding-left: 30px;
  }

  .dropdown-menu {
    z-index: 100000000;
  }
}

.clear-term-value-search {
  position: absolute;
  top: 43px;
  right: 20px;
  padding: 8px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
  outline: 0;

  &.active {
    opacity: 1;
    z-index: 20;
  }

  &:hover {
    color: rgb(186, 37, 37);
  }
}

.facet-actions {
  display: flex;
  align-items: center;
}

.typeahead-row {
  cursor: pointer;
  padding: 5px;

  .uuid {
    font-size: 0.9em;
    font-weight: 700;
  }

  .sub-item {
    font-size: 0.751em;
    word-wrap: break-word;
  }

  i.fa {
    vertical-align: super;
  }

  .icon-container, .data-container {
    display: inline-block;
  }

  .data-container {
    margin-left: 20px;
    max-width: 80%;
  }
}

.add-facet-selected,
.add-facet-selected .custom-facet-description {
  color: #fff;
}

.add-facet-selected {
  background-color: #1f486c;
}

li:focus {
  outline: none
}

.custom-facet-description {
  padding: 0.7rem 1.5rem;
  border-left: 32px solid #636869;
  color: rgb(82, 82, 82);
  display: inline-block;
}
