.facet-section {
  > .list-group:first-child, .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  > .list-group:last-child, .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
  }
}

.current-filters {
  font-size: 1.9rem;

  .filter {
    margin-right: 5px;

    span.facet-block {
      display: inline-block;
      line-height: 2rem;
    }

    // This is applied to only immediate child spans to prevent
    // extra padding added
    ~ span {
      padding: 5px;
    }

    .facet-name:hover ~ .terms-container .term-container,
    .facet-name:focus ~ .terms-container .term-container {
      text-decoration: line-through;
      color: white;
    }

    .facet-name, .facet-term {
      cursor: pointer;
      line-height: 2rem;
      padding: 4px 5px;

      &:hover, &:focus {
        text-decoration: line-through;
        color: white;
      }
    }

    .terms-container {
      white-space: inherit;
      padding: 5px 0;

      .term-container {
        padding: 0;
      }

      .term-separator {
        color: @orange;
        margin: 0 2px;
        text-decoration: none;
      }

      .expand-terms, .hide-terms {
        cursor: pointer;
      }

      .hide-terms {
        font-size: 0.8em;
        margin-left: 5px;
      }
    }
  }

  .in, .is {
    text-transform: uppercase;
    cursor: default;
  }

  .multiterm {
    &:before {
      content: "( ";
      color: @orange;
    }

    &:after {
      content: " )";
      margin-left: 5px;
      color: @orange;
    }
  }
}

.facet-title {
  cursor: pointer;
}

.facet-term-label {
  cursor: pointer;
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-group-item-text {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.search-input {
  width: 100%;

  .fa.fa-search {
    position: relative;
    left: 10px;
    top: 12px;
    z-index: 1000;
  }

  input {
    margin-top: -15px;
    padding-left: 30px;
  }

  .dropdown-menu {
    z-index: 100000000;
  }
}

.typeahead-row {
  cursor: pointer;
  padding: 5px;

  .uuid {
    font-size: 0.9em;
    font-weight: 700;
  }

  .sub-item {
    font-size: 0.751em;
    word-wrap: break-word;
  }

  i.fa {
    vertical-align: super;
  }

  .icon-container, .data-container {
    display: inline-block;
  }

  .data-container {
    margin-left: 20px;
    max-width: 80%;
  }
}

.add-facet-selected  {
  color: #ffffff;
  background-color: #1f486c;
}

