<div class="container entity" data-scroll-spy="">
  <h1 data-scroll-fix=85>
    <i class="fa fa-user"></i>
    {{ ::pc.participant.bcr_patient_barcode }}
  </h1>

  <div class="col-lg-2">
    <aside data-scroll-fix=85>
      <div class="panel panel-default">
        <div class="list-group">
          <div class="list-group-item">
            <h4 data-spy="summary" class="current list-group-item-heading">
              <a data-scroll-to href="#summary" data-translate>Summary</a>
            </h4>
          </div>
          <div class="list-group-item">
            <h4 data-spy="clinical" class="list-group-item-heading">
              <a data-scroll-to href="#clinical" data-translate>Clinical</a>
            </h4>
          </div>
          <div class="list-group-item">
            <h4 data-spy="biospecimen" class="list-group-item-heading">
              <a data-scroll-to href="#biospecimen" data-translate>Biospecimen</a>
            </h4>
          </div>
          <div class="list-group-item">
            <h4 data-spy="annotations" class="list-group-item-heading">
              <a data-scroll-to href="#annotations" data-translate>Annotations</a>
            </h4>
          </div>
        </div>
      </div>
    </aside>
  </div>

  <div class="col-lg-10 entity-body">
    <section class="row" id="summary">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Summary</h3>
          </div>
          <table id="summary-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th scope="row" data-translate>Uuid</th>
              <td>{{ ::pc.participant.bcr_patient_uuid }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Barcode</th>
              <td>{{ ::pc.participant.bcr_patient_barcode }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Disease Type</th>
              <td>{{ ::pc.participant.admin.disease_code }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Program</th>
              <td>{{ ::pc.participant.admin.project_code}}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Status</th>
              <td>{{ ::pc.participant.clinical_cqcf.consent_or_death_status }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Files</th>
              <td>
                <a data-ui-sref="search.files({ 'filters':
                  {{ [{ name: 'participants.bcr_patient_uuid', value: pc.participant.bcr_patient_uuid }] | makeFilter }}
                })">
                  {{ ::pc.participant.files.length | number:0 }}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row" data-translate>Annotations</th>
              <td>
                <a data-scroll-to href="#annotations">
                 tbd {{ ::pc.participant.participant_annotations.length | number:0}}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row" data-translate>Project Code</th>
              <td>
                  tbd
<!--                  {{ pc.participant }}-->
                </td>
            </tr>
            <tr>
              <th scope="row" data-translate>Project Name</th>
              <td>tbd</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Experimental Strategy</h3>
          </div>
          <div class="panel-body" data-ng-if="!pc.participant.experiments.length">
            <h4 class="list-group-item-heading" data-translate>No experimental strategies were found.</h4>
          </div>
          <table id="experimental-strategy-table" class="table table-striped table-hover table-condensed table-bordered table-vertical" data-ng-if="pc.participant.experiments.length">
            <thead>
            <tr>
              <th scope="col" data-translate>Analysis</th>
              <th scope="col" data-translate>Samples</th>
              <th scope="col" data-translate>Files</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="experiment in pc.participant.experiments">
              <td>tbc {{ ::experiment.name }}</td>
              <td class="text-right">tbc {{ ::experiment.samples | number:0 }}</td>
              <td class="text-right">
                <a data-ui-sref="search.files({ 'filters':
                  {{ [{ name: 'participant_id', value: pc.participant.bcr_patient_uuid }] | makeFilter }}
                })">
                  tbc {{ ::experiment.files | number:0 }}
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Available Data 
<!--                {{pc.participant}}-->
              </h3>
          </div>
          <div class="panel-body" data-ng-if="!pc.participant.samples.length">
            <h4 class="list-group-item-heading" data-translate>No available data.</h4>
          </div>
          <table id="available-data-table" class="table table-striped table-hover table-condensed table-bordered table-vertical" data-ng-if="pc.participant.samples.length">
            <tbody>
            <tr data-ng-repeat="item in pc.participant.samples">
<!--              <th scope="row">-->
<!--                  Sample-->
<!--                </th>-->
              <td>
                <a data-ui-sref="search.files">
                    {{item.bcr_sample_barcode || 'tbd'}}
<!--                  {{ item.files | number:0 }}-->
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <section class="row" id="clinical">
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>
                Clinical
<!--                {{pc.participant}}-->
              </h3>
          </div>

          <table id="clinical-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th scope="row" data-translate>Gender</th>
              <td>{{ ::pc.participant.gender }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Vital Status</th>
              <td>{{ ::pc.participant.vital_status }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Key</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                <tr>
              <th scope="row" data-translate>Clinical</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                <tr>
              <th scope="row" data-translate>Exp</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                <tr>
              <th scope="row" data-translate>Array</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                <tr>
              <th scope="row" data-translate>Seq</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                <tr>
              <th scope="row" data-translate>CNV</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Meth</th>
              <td>tbc {{ pc.participant.key }}</td>
            </tr>
                					
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <biospecimen data-participant="pc.participant"></biospecimen>

  </div>
</div>
