<div class="container entity">
  <h1 data-translate>Participants</h1>
  <table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
    <tr>
      <th data-translate>ID</th>
      <th data-translate>Code</th>
      <th data-translate>Participant Number</th>
      <th data-translate>Disease Type</th>
      <th data-translate>Program</th>
      <th data-translate>Status</th>
      <th data-translate>Number of Data Files</th>
      <th data-translate>Number of Annotations</th>
      </tr>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="p in psc.participants.hits track by p.id">
      <td><a data-ui-sref="participant({ participantId : p.id })">{{ p.id }}</a></td>
      <td>{{ p.code }}</td>
      <td>{{ p.number }}</td>
      <td>{{ p.diseaseType }}</td>
      <td>{{ p.program }}</td>
      <td>{{ p.status }}</td>
      <td>
        <a data-ui-sref="files({ participantId: p.id })">
          {{ p.files.length }}
        </a>
      </td>
      <td>
        <a data-ui-sref="annotations({ participantId: p.id })">
          {{ p.annotations.length }}
        </a>
      </td>
      </tr>
    </tr>
    </tbody>
  </table>
</div>
