<div class="container entity">
  <h1>
    <i class="fa fa-user"></i>
    {{ ::pc.participant.participant_id }}
  </h1>

  <div class="col-lg-12">
    <section class="row" id="summary">
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Summary</h3>
          </div>
          <table id="summary-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th scope="row" data-translate>Participant UUID</th>
              <td>{{ ::pc.participant.participant_id }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Participant Barcode</th>
              <td>{{ ::pc.participant.submitter_id }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Project ID</th>
              <td>{{ ::pc.participant.project.project_id}}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Project Name</th>
              <td>{{ ::pc.participant.project.name}}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Disease Type</th>
              <td>{{ ::pc.participant.project.disease_type}}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Program</th>
              <td>{{ ::pc.participant.project.program.name }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Primary Site</th>
              <td>{{ ::pc.participant.project.primary_site }}
            </tr>
            <tr>
              <th scope="row" data-translate>Status</th>
              <td>{{ ::pc.participant.clinical.vital_status | humanify }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Number of Data Files</th>
              <td>
                <a data-ui-sref="search.files({ 'filters':
                  {{ [{ name: 'participants.participant_id', value: pc.participant.participant_id}] | makeFilter }}
                })">
                  {{ ::pc.participant.files.length | number:0 }}
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row" data-translate>Number of Annotations</th>
              <td>
                <a data-ng-if="pc.annotationIds.length"
                   data-ui-sref="annotations({ 'filters':
                    {{ [{ name: 'annotation_id', value: pc.annotationIds }] | makeFilter }} })">
                 {{ ::pc.annotationIds.length | number:0 }}
                </a>
                <span data-ng-if="!pc.annotationIds.length">0</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Experimental Strategy</h3>
          </div>
          <div class="panel-body" data-ng-if="!pc.participant.summary.experimental_strategies.length">
            <h4 class="list-group-item-heading" data-translate>No experimental strategies were found.</h4>
          </div>
          <entity-page-counts-table data-ng-if="pc.participant.summary.experimental_strategies.length" data-type="experimental-strategy" data-parent-field-name="participants.participant_id" data-parent-id="{{ pc.participant.participant_id }}" data-data="pc.participant.summary.experimental_strategies"></entity-page-counts-table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" data-translate>Available Data
              </h3>
          </div>
          <entity-page-counts-table data-type="available-data" data-parent-field-name="participants.participant_id" data-parent-id="{{ pc.participant.participant_id }}" data-data="pc.participant.summary.data_types"></entity-page-counts-table>
        </div>
      </div>
    </section>

    <section class="row" id="clinical">
      <div class="col-lg-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" data-translate>
                Clinical
            </h3>
            <button class="btn btn-default pull-right" data-translate data-ng-click="pc.DownloadClinicalXML()">
                Download Clinical XML
            </button>
          </div>

          <table id="clinical-table" class="table table-striped table-hover table-condensed table-bordered table-vertical">
            <tbody>
            <tr>
              <th scope="row" data-translate>Gender</th>
              <td>{{ ::pc.participant.clinical.gender | humanify }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Vital Status</th>
              <td>{{ ::pc.participant.clinical.vital_status | humanify }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>ICD10</th>
              <td>{{ pc.participant.clinical.icd_10 || '--' }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Ethnicity</th>
              <td>{{ pc.participant.clinical.ethnicity | humanify }}</td>
            </tr>
            <tr>
              <th scope="row" data-translate>Race</th>
              <td>{{ pc.participant.clinical.race | humanify }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </section>

    <biospecimen data-participant="pc.participant" data-expanded="true"></biospecimen>

  </div>
</div>
