<div class="row search-bar">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" data-translate>Query Builder</h3>
      </div>

      <textarea class="form-control"
                style="border:none;box-shadow: none"
                data-ng-model="sb.query"
                aria-label="Advanced Query"
                placeholder="Start Typing Your Query...."
                role="textbox">
      </textarea>

      <div class="panel-footer">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-default"
                    aria-label="{{ 'Share Query' | translate }}" data-translate>
              <i class="fa fa-share"></i> Share
            </button>
            </div>
            <div class="btn-group">
            <button class="btn btn-primary" data-ui-sref="search.files"
                    data-ng-disabled="sb.query" data-translate>
              <i class="fa fa-list"></i> Basic
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger"
                    data-ng-click="sb.resetQuery()"
                    aria-label="{{ 'Clear Query' | translate }}">
              <i class="fa fa-rotate-left"></i> Clear
            </button>
          </div>
          <div class="btn-group">
            <button class="btn btn-success" data-ng-click="sb.sendQuery()">
              <i class="fa fa-search"></i> Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">

    </div>
  </div>
</div>