#quick-search-modal {
  padding: 0;

  .no-results {
    text-align: center;
    line-height: 150px;
    font-size: 20px;
  }

  .search-input {
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 0 20px;

    .fa.fa-search {
      padding-top: 20px;
    }

    #quick-search-input {
      margin-bottom: 20px;
      border: 0;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .quick-search-list-container {
    border-top: 1px solid #ccc;
    margin-top: 38px;
    margin-left: -20px;
    margin-right: -20px;
  }

  #quick-search-list {
    padding-right: 0;

    .quick-search-result {
      padding: 15px 5px;
      list-style: none;
      margin-right: 0;

      i.fa, img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
      }

      &.selected, &:hover {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #1f486c;
        cursor: pointer;
      }

      .entity-id {
        vertical-align: sub;
      }

      .highlighted-terms {
        padding: 0;

        li {
          list-style: none;
          font-style: italic;
          font-size: 0.9em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .details-container {
    border-left: 1px solid #ccc;
    min-height: 350px;
  }

  .icon-row {
    padding: 20px;
    text-align: center;
  }
}

/** Quick Search Home Directive Styles **/
.quick-search-directive-container {
  position: relative;
  z-index: 1000;

  .quick-search-results-container {
    position: absolute;
    width: 100%;
    overflow: visible;
    margin: 1rem 0rem 0rem 0rem;
    list-style: none;
    font-size: 1.4rem;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    color: #000000;

    .quick-search-result-listing-container {
      &:before {
        width: 0;
        height: 0;
        top: -0.9rem;
        right: 50%;
        position: absolute;
        content: ' ';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }

      .quick-search-results-listing {
        padding: 0 0;
        list-style-type: none;
        margin: 0.1rem 0rem 0rem 0rem;
        overflow: auto;
        max-height: 500px;
      }

      .result-summary {
        text-align: center;
        line-height: 2.5rem;
      }

      .quick-search-result {
        color: #000000;
        transition: all 0.15s ease-in-out;
        padding: 1rem 0rem;
        display: table;
        width: 100%;

        > div {
          display: table-cell;
          vertical-align: middle;
          float: none;
        }

        .icon-container {
          text-align: center;
          background-color: transparent;
          overflow: visible;
          position: relative;
          display: inline-block;
          height: 48px;
          width: 48px;


          .outline {
            position:absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            transition: all 0.25s ease-in-out;
            transform: scale(0, 0);
            border-radius: 24px;
            z-index: 10;
          }

          .icon {
            margin-top: 1rem;
            position: relative;
            z-index: 100;
          }
        }

        &.selected .icon-container .outline {
          transform: scale(1, 1);
          background-color: #3D7FAF;
          color: #fff;
        }

        &.selected .icon {
          color: #fff;
        }



        .bolded {
          font-weight: bold;
        }

        &.row {
          margin: 0 0;
        }

        &.selected:nth-child(odd),
        &.selected {
          color: #ffffff;
          text-decoration: none;
          outline: 0;
          background-color: #1f486c;
          cursor: pointer;
        }

        &:nth-child(odd) {
          background-color: #efefef;
          color: #000;
        }
      }
    }

    &:before {
      width: 0;
      height: 0;
      top: -1rem;
      right: 50%;
      position: absolute;
      content: ' ';
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #ccc;
      border-bottom: 10px solid rgba(0, 0, 0, 0.15);
    }
  }
}
/** **/