<div class="modal-header">
  <h2 data-translate style="margin-top: 0px; margin-bottom: 0px">BAM Slicing</h2>
  <h3 data-translate>File name: {{bamc.file.file_name}}</h3>
</div>
<div class="modal-body">
  <label for="bed">
    Please enter one or more slices' genome coordinates below in <a href="https://genome.ucsc.edu/FAQ/FAQformat.html#format1" target="_blank">BED</a> format. 
    (<a data-ng-click="bamc.toggleExample()">{{bamc.exampleShowing ? 'Hide Example' : 'Show Example'}}</a>)
  </label>
  <div data-ng-if="bamc.exampleShowing">
    <pre>7:140505783-140511649
chr7:140505783-140511649
1	150505782	150511648
chr1	150505782	150511648</pre>
  </div>
  <textarea id="bed"
            class="form-control"
            data-ng-model="bedModel"
            data-ng-keydown="bamc.allowTab($event)"
            style="min-height: 200px; font-family:'Courier New', Courier, monospace"></textarea>
</div>
<div class="modal-footer">
  <span style="float: left">
    <!--or <button class="btn btn-warning" ng-click="bamc.cancel()" data-translate>Upload a BED file</button>-->
   </span>
 <button class="btn" ng-click="bamc.closeModal()" data-translate>Cancel</button>
 <button class="btn btn-primary"
         data-ng-disabled="placeholderShowing"
         data-ng-click="bamc.submit()"
         data-translate>Download</button>
</div>
