<div class="container entity">
  <div class="row">
    <h1 class="col-lg-12 col-md-12">
      <i class="fa fa-file-o"></i>
      {{ ::fc.file.file_id }}
      <span class="btn-group pull-right" style="margin-top: .3em">
        <add-to-cart-single-labelled class="btn-bordered" file="fc.file"></add-to-cart-single-labelled>
        <download-button class="btn-bordered" data-icon="fa-download" data-files=fc.file data-copy="Download" data-dlcopy="Downloading"></download-button>
        <bam-slicing-button class="btn-bordered" data-icon="fa-cutlery" data-files=fc.file data-copy="BAM Slicing" data-dlcopy="Slicing BAM" data-ng-if="fc.canBAMSlice()"></bam-slicing-button>
      </span>
    </h1>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <section class="row" id="summary">
        <div class="col-lg-7 col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title pull-left" data-translate>File Properties</h3>
            </div>

            <table id="properties-table"
                   class="table table-striped table-hover table-condensed table-bordered table-vertical">
              <tbody>
              <tr>
                <th scope="row" data-translate>Name</th>
                <td>{{ ::fc.file.file_name }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Access</th>
                <td>
                  <i data-ng-if="fc.file.access !== 'open'" class="fa fa-lock"></i>
                  <i data-ng-if="fc.file.access === 'open'" class="fa fa-unlock"></i>
                  <span data-ng-if="fc.file.access === 'open'" data-translate>Open</span>
                  <span data-ng-if="fc.file.access !== 'open'" data-translate>Controlled</span>
                </td>
              </tr>
              <tr>
                <th scope="row" data-translate>UUID</th>
                <td>{{ ::fc.file.file_id }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Submitter ID</th>
                <td>{{ ::fc.file.submitter_id || '--'}}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Data format</th>
                <td>{{ ::fc.file.data_format || '--' }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Size</th>
                <td>{{ ::fc.file.file_size | size }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>MD5 Checksum</th>
                <td>{{ ::fc.file.md5sum }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>State</th>
                <td>{{ ::fc.file.state | humanify }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Archive</th>
                <td data-ng-if="fc.file.archive">
                  {{ ::fc.file.archive.submitter_id || '--' }}
                  - rev {{ ::fc.file.archive.revision || '--'}}
                  (<a data-ui-sref="search.files({ 'filters': {{
                      [{ field: 'files.archive.archive_id', value: fc.file.archive.archive_id }] | makeFilter }}
                      })">
                    {{ fc.archiveCount }} files
                  </a>)
                </td>
                <td data-ng-if="!fc.file.archive">
                  --
                </td>
              </tr>
              <tr>
                <th scope="row" data-translate>Project ID</th>
                <td>
                  <span data-ng-repeat="p in fc.file.projects">
                    <a data-ui-sref="project({ projectId: p })" >
                      {{ p }}
                    </a>{{$last ? '' : ', '}}
                  </span>
                  <span data-ng-if="fc.file.projects.length === 0">
                    --
                  </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-5 col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" data-translate>Data Information</h3>
            </div>
            <table id="data-information-table" class="table table-striped table-hover table-condensed table-bordered">
              <tbody>
              <tr>
                <th scope="row" data-translate>Data Category</th>
                <td>{{ ::fc.file.data_category || '--' }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Data Type</th>
                <td>{{ ::fc.file.data_type || '--' }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Experimental Strategy</th>
                <td>{{ ::fc.file.experimental_strategy || '--' }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Platform</th>
                <td>{{ ::fc.file.platform || '--' }}</td>
              </tr>
              <!--tr>
                <th scope="row" data-translate>Data Submitter</th>
                <td>{{ ::fc.file.center.short_name || '--' }}</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Tag</th>
                <td>
                  <span data-ng-if="!fc.file.tags">--</span>
                  <span data-ng-if="fc.file.tags">{{ fc.file.tags.join(", ") }}</span>
                </td>
              </tr -->
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section class="row" id="participants">
        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-with-filter">
              <span class="panel-title">Associated Cases / Biospecimen</span>

              <span
                class="input-group"
                style="margin: 0 1.75rem 0 auto; width: 300px;"
                data-ng-if="fc.file.associated_entities.length"
              >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text"
                  class="form-control"
                  style="width: 28rem;"
                  placeholder="Type to filter cases."
                  title="Search…"
                  data-ng-model="fc.tableFilters.assocEntity">
              </span>
            </div>

            <div class="panel-body" data-ng-if="!fc.file.associated_entities.length">
              <h4 class="list-group-item-heading">No Cases Found.</h4>
            </div>

            <div class="long-scrollable-table" data-ng-if="fc.file.associated_entities.length">
              <div class="long-scrollable-table-container">
                <table
                  id="associated-cases-biospecimen-table"
                  class="table table-striped table-hover table-condensed table-bordered"
                  style="margin-bottom: 0;"
                >
                  <thead>
                  <tr>
                    <th class="sticky" scope="col" data-translate>
                      Entity ID
                      <div>Entity ID</div>
                    </th>
                    <th class="sticky" scope="col" data-translate>
                      Entity Type
                      <div>Entity Type</div>
                    </th>
                    <th class="sticky" scope="col" data-translate>
                      Annotations
                      <div
                        data-tooltip-append-to-body="true"
                        data-uib-tooltip="Number of annotations referring to the entity"
                      >
                        Entity Annotations
                      </div>
                    </th>
                    <th class="sticky" scope="col" data-translate>
                      Case UUID
                      <div>Case UUID</div>
                    </th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="e in fc.file.associated_entities | filter:fc.tableFilters.assocEntity track by e.entity_id">
                    <td class="id-cell">
                      <a
                        data-ng-if="e.entity_type === 'case'"
                        data-ui-sref="case({ caseId: e.case_id })"
                      >
                        {{ ::e.entity_id }}
                      </a>
                      <a
                        data-ng-if="e.entity_type !== 'case'"
                        data-ui-sref="case({ caseId: e.case_id, bioId: e.entity_id, '#': 'biospecimen' })"
                      >
                        {{ ::e.entity_id }}
                      </a>
                    </td>
                    <td>{{ ::e.entity_type | humanify }}</td>
                    <td class="text-right">
                      <a data-ui-sref="annotations({ 'filters':
                           {{ [{field: 'annotation_id', value: e.annotations }] | makeFilter }} })"
                         data-ng-if="e.annotations.length > 1">
                        {{ e.annotations.length }}
                      </a>
                      <a data-ui-sref="annotation({ annotationId: e.annotations[0] })"
                         data-ng-if="e.annotations.length === 1">
                        {{ e.annotations.length }}
                      </a>
                      <span data-ng-if="!e.annotations.length">0</span>
                    </td>
                    <td class="id-cell">
                      <a data-ui-sref="case({ caseId: e.case_id })">
                        {{ ::e.case_id }}
                      </a>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </section>

      <!-- Analysis/ Reference Genome Split Row Section -->
      <section class="row" id="analysis-split-ref-genome">
        <!-- analysis Table -->
        <div class="col-lg-6 col-md-6" data-ng-if="fc.tablesToDisplay.analysis">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Analysis</h3>
            </div>

            <div class="panel-body" data-ng-if="!fc.file.analysis">
              <h4 class="list-group-item-heading">No Analyses found.</h4>
            </div>

            <table id="-files-table" class="table table-striped table-hover table-condensed table-bordered"
                   data-ng-if="fc.file.analysis">
              <tbody>
              <tr>
                <th data-translate scope="row">Analysis ID</th>
                <td style="width: 64%">{{fc.file.analysis.analysis_id || '--'}}</td>
              </tr>
              <tr>
                <th data-translate scope="row">Workflow Type</th>
                <td>{{fc.file.analysis.workflow_type | humanify}}</td>
              </tr>
              <tr>
                <th data-translate scope="row">Workflow Completion Date</th>
                <td>{{fc.file.analysis.updated_datetime || '--' | date:'yyyy-MM-dd'}}</td>
              </tr>
              <tr>
                <th data-translate scope="row">Source Files</th>
                <td
                  data-ng-if="fc.file.analysis.input_files.length > 1"
                  data-ng-bind-html="fc.makeSearchPageLink(fc.file.analysis.input_files)"
                ></td>
                <td data-ng-if="fc.file.analysis.input_files.length === 1">
                  <a href="/files/{{fc.file.analysis.input_files[0].file_id}}">1</a>
                </td>
                <td data-ng-if="fc.file.analysis.input_files.length === 0">0</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Reference Genome Table -->
        <div class="col-lg-6 col-md-6" data-ng-if="fc.tablesToDisplay.referenceGenome">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reference Genome</h3>
            </div>

            <div class="panel-body" data-ng-if="false && !fc.file.referenceGenome.length">
              <h4 class="list-group-item-heading">No Reference Genome found.</h4>
            </div>

            <table id="reference-genome-files-table" class="table table-striped table-hover table-condensed table-bordered"
                   data-ng-if2="fc.file.referenceGenome.length">
              <thead>
              </thead>
              <tbody>
              <tr>
                <th scope="row" data-translate style="width: 22%">Genome Build</th>
                <td>GRCh38.p0</td>
              </tr>
              <tr>
                <th scope="row" data-translate>Genome Name</th>
                <td>GRCh38.d1.vd1</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <!-- Read Group Row Section -->
      <section class="row" id="readgroup-file" data-ng-if="fc.tablesToDisplay.readGroup">
        <!-- Read Group Table -->
        <div class="col-lg-12 col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading panel-with-filter">
              <span class="panel-title">Read Groups</span>

              <span
                class="input-group"
                style="margin: 0 1.75rem 0 auto; width: 300px;"
                data-ng-if="fc.file.analysis.metadata.read_groups"
              >
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text"
                  class="form-control"
                  style="width: 28rem;"
                  placeholder="Type to filter read groups."
                  title="Search…"
                  data-ng-model="fc.tableFilters.readGroup">
              </span>
            </div>

            <div class="panel-body" data-ng-if="!fc.file.analysis.metadata.read_groups">
              <h4 class="list-group-item-heading">No Read Groups found.</h4>
            </div>

            <div class="long-scrollable-table">
              <div class="long-scrollable-table-container">
                <table
                  id="readgroup-files-table"
                  class="table table-striped table-hover table-condensed table-bordered"
                  data-ng-if="fc.file.analysis.metadata.read_groups"
                  style="margin-bottom: 0;"
                >
                  <thead>
                    <tr>
                      <th class="sticky" scope="col" data-translate>
                        Read Group ID
                        <div>Read Group ID</div>
                      </th>
                      <th class="sticky" scope="col" data-translate>
                        Is Paired End
                        <div>Is Paired End</div>
                      </th>
                      <th class="sticky" scope="col" data-translate>
                        Read Length
                        <div>Read Length</div>
                      </th>
                      <th class="sticky" scope="col" data-translate>
                        Library Name
                        <div>Library Name</div>
                      </th>
                      <th class="sticky" scope="col" data-translate>
                        Sequencing Center
                        <div>Sequencing Center</div>
                      </th>
                      <th class="sticky" scope="col" data-translate>
                        Sequencing Date
                        <div>Sequencing Date</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr data-ng-repeat="r in fc.file.analysis.metadata.read_groups | filter:fc.tableFilters.readGroup track by r.read_group_id">
                    <td>{{r.read_group_id || '--'}}</td>
                    <td>{{r.is_paired_end | humanify}}</td>
                    <td>{{r.read_length || '--'}}</td>
                    <td>{{r.library_name || '--'}}</td>
                    <td>{{r.sequencing_center | humanify}}</td>
                    <td>{{r.sequencing_date || '--' | date:'yyyy-MM-dd'}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Metadata section removed until we start accepting files harmonized by others
        <section class="row" id="files">
        <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Metadata Files</h3>
            </div>

            <div class="panel-body" data-ng-if="!fc.file.metadata_files.length">
              <h4 class="list-group-item-heading">No Metadata Files Found.</h4>
            </div>

            <table id="metadata-files-table" class="table table-striped table-hover table-condensed table-bordered"
                   data-ng-if="fc.file.metadata_files.length">
              <thead>
                <tr>
                  <th scope="col" data-translate>File Name</th>
                  <th scope="col" data-translate>Data Category</th>
                  <th scope="col" data-translate>Data Type</th>
                  <th scope="col" data-translate>Data Format</th>
                  <th scope="col" data-translate>File Size</th>
                  <th scope="col" data-translate>Action</th>
                </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="f in fc.file.metadata_files track by f.file_id">
                <td class="id-cell"
                    data-uib-tooltip="{{::f.file_name}}"
                    data-tooltip-append-to-body="true"
                    data-tooltip-popup-delay="1000"
                    data-container="body"
                    >
                  <i class="fa fa-{{(f.access === 'controlled' ? 'lock' : 'unlock-alt')}}"></i>
                    {{::f.file_name}}
                </td>
                <td>{{ ::f.data_category || '--' }}</td>
                <td>{{ ::f.data_type || '--' }}</td>
                <td>{{ ::f.data_format || '--' }}</td>
                <td>{{ ::f.file_size | size }}</td>
                <td>
                  <data-download-button data-files="f"></download-button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>-->

      <!-- Downstream Analysis Files Section -->
      <section class="row" id="downstream-analysis-file" data-ng-if="fc.tablesToDisplay.downstreamAnalysis">
        <!-- Downstream Analysis Files Table -->
        <div class="col-lg-12 col-md-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Downstream Analyses Files</h3>
            </div>

            <div class="panel-body" data-ng-if="!fc.file.downstream_analyses.length">
              <h4 class="list-group-item-heading">No Downstream Analyses Files Found.</h4>
            </div>

            <div style="overflow:auto;">
              <table id="downstream-files-table" class="table table-striped table-hover table-condensed table-bordered"
                     data-ng-if="fc.file.downstream_analyses.length">
                <thead>
                  <tr>
                    <th scope="col" data-translate>File Name</th>
                    <th scope="col" data-translate>Data Category</th>
                    <th scope="col" data-translate>Data Type</th>
                    <th scope="col" data-translate>Data Format</th>
                    <th scope="col" data-translate>Analysis workflow</th>
                    <th scope="col" data-translate>File Size</th>
                    <th scope="col" data-translate>Action</th>
                  </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="outf in fc.file.downstream_analyses track by outf.file_id">
                  <td
                    class="id-cell"
                    data-uib-tooltip="{{outf.file_name}}"
                    data-tooltip-append-to-body="true"
                    data-tooltip-popup-delay="1000"
                  >
                    <a data-ng-href="files/{{outf.file_id}}">{{ ::outf.file_name || '--' }}</a>
                  </td>
                  <td>{{ ::outf.data_category || '--' }}</td>
                  <td>{{ ::outf.data_type || '--' }}</td>
                  <td>{{ ::outf.data_format || '--' }}</td>
                  <td>{{ ::outf.workflow_type || '--' }}</td>
                  <td>{{ ::outf.file_size | size }}</td>
                  <td>
                    <download-button class="btn-bordered" data-icon="fa-download" data-files="outf"></download-button>
                    <add-to-cart-single-icon data-file="outf"></add-to-cart-single-icon>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      </div>
    </div>
</div>
