<div class="container entity file">
<h1>
  <span class="entity-identifier">F</span>
  {{ fc.file.filename }}
</h1>

<section class="row">
  <div class="col-lg-12 col-md-12">
    <div class="row file-row">

      <div class="col-lg-7 col-md-7">
        <h3>
          <span data-translate>File Properties</span>
          <i class="fa download fa-download pull-right"></i>
          <button class="btn btn-default pull-right" data-ng-click="fc.file.inCart = !fc.file.inCart">
            <span data-ng-show="fc.file.inCart" data-translate>Remove from Cart</span>
            <span data-ng-show="!fc.file.inCart" data-translate>Add to Cart</span>
          </button>
        </h3>
        <table class="table table-striped table-hover table-condensed table-bordered">
          <tbody>
          <tr>
            <th scope="row" data-translate>File Name</th>
            <td>{{ fc.file.filename }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>File Access</th>
            <td>
              <i data-ng-if="!fc.file.access" class="fa fa-lock"></i>
              <i data-ng-if="fc.file.access" class="fa fa-unlock-alt"></i>
              <span data-ng-if="fc.file.access" data-translate>Public</span>
              <span data-ng-if="!fc.file.access" data-translate>Protected</span>
            </td>
          </tr>
          <tr>
            <th scope="row" data-translate>UUID</th>
            <td>{{ fc.file.uuid }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Barcode</th>
            <td>{{ fc.file.barcode }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data format</th>
            <td>{{ fc.file.format }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>File Size</th>
            <td>{{ fc.file.size }} GB</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Checksum</th>
            <td>{{ fc.file.checksum }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Published</th>
            <td>{{ fc.file.published | date }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Uploaded</th>
            <td>{{ fc.file.uploaded | date }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Modified</th>
            <td>{{ fc.file.modified | date }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>State</th>
            <td>{{ fc.file.state }}</td>
          </tr>
          <tr data-ng-if="fc.file.archive" class="archive-row">
            <th scope="row" data-translate>Archive</th>
            <td>
              {{ fc.file.archive.name }}
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-default dropdown-toggle">
                  A <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a>
                      <i class="fa fa-eye"></i>
                      <span data-translate>View Files in same Archive</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-folder-open"></i>
                      <span data-translate>Download Archive</span>
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-lg-5 col-md-5">
        <h3 data-translate>Data Information</h3>
        <table class="table table-striped table-hover table-condensed table-bordered">
          <tbody>
          <tr>
            <th scope="row" data-translate>Data Type</th>
            <td>{{ fc.file.dataType }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Subtype</th>
            <td>{{ fc.file.dataSubType }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Experimental Strategy</th>
            <td>{{ fc.file.experimentStrategy }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Program Status</th>
            <td>{{ fc.file.programStatus }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Platform</th>
            <td>{{ fc.file.platform }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Revision</th>
            <td>{{ fc.file.revision }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Version</th>
            <td>{{ fc.file.version }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Level</th>
            <td>{{ fc.file.level }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Submitter</th>
            <td>{{ fc.file.submitter }}</td>
          </tr>
          <tr>
            <th scope="row" data-translate>Data Submitted Since</th>
            <td>{{ fc.file.submittedSince | date }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>

<section class="row">
  <div class="col-lg-12 col-md-12">
    <h3>
      <span data-translate>Participants</span>
      <button class="btn btn-default pull-right" data-translate>Export Table</button>
    </h3>
    <table class="table table-striped table-hover table-condensed table-bordered">
      <thead>
      <tr>
        <th scope="col" data-translate>ID</th>
        <th scope="col" data-translate>Project</th>
        <th scope="col" data-translate>Disease</th>
        <th scope="col" data-translate>Sample</th>
        <th scope="col" data-translate>Portion</th>
        <th scope="col" data-translate>Analyte</th>
        <th scope="col" data-translate>Aliquot</th>
      </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="p in fc.file.participants track by p.id">
          <td><a data-ui-sref="participant({ participantId : p.id })">{{ p.id }}</a></td>
          <td><a data-ui-sref="project({ projectId : p.project.id })">{{ p.project.name }}</a></td>
          <td>{{ p.diseaseType }}</td>
          <td>{{ p.sample }}</td>
          <td>{{ p.portion }}</td>
          <td>{{ p.analyte }}</td>
          <td>{{ p.aliquot }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="row">
  <div class="col-lg-12 col-md-12">
    <h3>
      <span data-translate>Related Files</span>
      <button class="btn btn-default pull-right" data-translate>Export Table</button>
    </h3>
    <table class="table table-striped table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th scope="col" data-translate>File Name</th>
          <th scope="col" data-translate>File Type</th>
          <th scope="col" data-translate>Checksum</th>
          <th scope="col" data-translate>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="f in fc.file.related track by f.id">
          <td>{{ f.filename }}</td>
          <td>{{ f.format }}</td>
          <td>{{ f.checksum }}</td>
          <td>
            <a data-ui-sref="file({ fileId: f.id })" data-translate>
              View
            </a>
            /
            <a data-translate>
              Download
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="row">
  <div class="col-lg-12 col-md-12 pull-right">
    <h3 data-translate>File Content</h3>
    <xml-viewer id="xmlViewer" xml="fc.file.metadataXML"></xml-viewer>
  </div>
</section>
</div>
