.box-plot .axis path,
.box-plot .axis line,
.box-plot .decadeBar path {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.box-plot g text {
  fill: #888;
}

.box-plot .axis .tick text,
.box-plot .axis text {
  fill: #ccc;
  font-size: 1rem;
}

.box-plot .whisker path {
  stroke: #333;
}
.demographic-box-plot .box line {
  stroke: #1f77b4;
}
.diagnosis-box-plot .box line {
  stroke: #ff7f0e;
}
.treatment-box-plot .box line {
  stroke: #2ca02c;
}

.exposure-box-plot .box line {
  stroke: #9467bd;
}

.box-plot .point {
  color: #333;
}
