.boxplot .axis path,
.boxplot .axis line,
.boxplot .decadeBar path {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.boxplot g text {
  fill: #888;
}

.boxplot .axis .tick text,
.boxplot .axis text {
  fill: #ccc;
  font-size: 1rem;
}

.boxplot .whisker path {
  stroke: #333;
}
.demographic-boxplot .box line {
  stroke: #1f77b4;
}
.diagnosis-boxplot .box line {
  stroke: #ff7f0e;
}
.treatment-boxplot .box line {
  stroke: #2ca02c;
}

.exposure-boxplot .box line {
  stroke: #9467bd;
}

.boxplot .point {
  color: #333;
}
