<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="HeaderController.toggleCollapsed()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GDC Data Portal</a>
    </div>
    <nav class="navbar-collapse collapse navbar-responsive-collapse" data-collapse="HeaderController.isCollapsed"
         role="navigation" data-ng-click="HeaderController.collapse()">
      <ul class="nav navbar-nav">
        <li><a href="/projects">Project List</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </nav>
  </div>
</header>
