<div class="panel panel-default summary-panel">
  <div class="row">
    <div class="col-lg-12 spacing-left">
      <add-to-cart-all-button data-size="qc.files.pagination.total"></add-to-cart-all-button>
      <download-manifest-button
        classes="btn btn-primary"
        data-icon="fa-download"
        data-copy="Download Manifest"
        data-dlcopy="Downloading"
        data-ng-disabled="!qc.files.pagination.total"
        data-size="qc.files.pagination.total">
      </download-manifest-button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <count-card title="Files" icon="fa-file-o" data="qc.files.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="Cases" icon="fa-user" data="qc.participants.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="File Size" icon="fa-save" data="qc.summary.fs.value | size"></count-card>
  </div>
</div>

<div class="flex-visible-lg summary-cards">
  <div class="flex-column">
    <summary-card
      data-data="qc.summary['project.project_id'].buckets"
      height="177"
      data-mode="graph"
      data-config="qc.chartConfigs.projectIdChartConfig"
      data-grouping-title="Project"
      data-title="File Counts by Project"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary['project.primary_site'].buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Primary Site"
      data-config="qc.chartConfigs.primarySiteChartConfig"
      data-title="File Counts by Primary Site"
      data-show-cases="true">
    </summary-card>
  </div>
  <div class="flex-column">
    <summary-card
      data-data="qc.summary.access.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Level"
      data-config="qc.chartConfigs.accessChartConfig"
      data-title="File Counts by Access Level"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.data_type.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Data Type"
      data-config="qc.chartConfigs.dataTypeChartConfig"
      data-title="File Counts by Data Type"
      data-show-cases="true">
    </summary-card>
  </div>
  <div class="flex-column">
    <summary-card
      data-data="qc.summary.data_format.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Data Format"
      data-config="qc.chartConfigs.dataFormatChartConfig"
      data-title="File Counts by Data Format"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.experimental_strategy.buckets"
      height="177"
      data-grouping-title="Experimental Strategy"
      data-mode="graph"
      data-config="qc.chartConfigs.expStratChartConfig"
      data-title="File Counts by Experimental Strategy"
      data-show-cases="true">
    </summary-card>
  </div>
</div>

<div class="flex-visible-sm summary-cards">
  <div class="flex-column">
    <summary-card
      data-data="qc.summary['project.project_id'].buckets"
      height="177"
      data-mode="graph"
      data-config="qc.chartConfigs.projectIdChartConfig"
      data-grouping-title="Project"
      data-title="File Counts by Project"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary['project.primary_site'].buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Primary Site"
      data-config="qc.chartConfigs.primarySiteChartConfig"
      data-title="File Counts by Primary Site"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.access.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Level"
      data-config="qc.chartConfigs.accessChartConfig"
      data-title="File Counts by Access Level"
      data-show-cases="true">
    </summary-card>
  </div>

  <div class="flex-column">
    <summary-card
      data-data="qc.summary.data_type.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Data Type"
      data-config="qc.chartConfigs.dataTypeChartConfig"
      data-title="File Counts by Data Type"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.data_format.buckets"
      height="177"
      data-mode="graph"
      data-grouping-title="Data Format"
      data-config="qc.chartConfigs.dataFormatChartConfig"
      data-title="File Counts by Data Format"
      data-show-cases="true">
    </summary-card>
    <summary-card
      data-data="qc.summary.experimental_strategy.buckets"
      height="177"
      data-grouping-title="Experimental Strategy"
      data-mode="graph"
      data-config="qc.chartConfigs.expStratChartConfig"
      data-title="File Counts by Experimental Strategy"
      data-show-cases="true">
    </summary-card>
  </div>
</div>
