<div class="panel panel-default summary-panel">
  <div class="row">
    <div class="col-lg-12">
      <add-to-cart-all-button
         data-files="qc.files"
         data-size="{{qc.files.pagination.total}}"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <count-card title="Files" icon="fa-file-o" data="qc.files.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="Cases" icon="fa-user" data="qc.participants.pagination.total | number"></count-card>
  </div>
  <div class="col-sm-4">
    <count-card title="File Size" icon="fa-save" data="qc.summary.fs.value | size"></count-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.cases['cases.project.project_id'].buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.projectIdChartConfig"
                  data-grouping-title="Project"
                  data-title="File Counts by Project"></summary-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.cases['cases.project.primary_site'].buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.primarySiteChartConfig"
                  data-grouping-title="Primary Site"
                  data-title="File Counts by Primary Site"></summary-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.access.buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.accessChartConfig"
                  data-grouping-title="Level"
                  data-title="File Counts by Access Level"></summary-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.data_type.buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.dataTypeChartConfig"
                  data-grouping-title="Data Type"
                  data-title="File Counts by Data Type"></summary-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.data_format.buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.dataFormatChartConfig"
                  data-grouping-title="Data Format"
                  data-title="File Counts by Data Format"></summary-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <summary-card data-data="qc.summary.experimental_strategy.buckets"
                  height="177"
                  data-mode="graph"
                  data-config="qc.chartConfigs.expStratChartConfig"
                  data-grouping-title="Experimental Strategy"
                  data-title="File Counts by Experimental Strategy"></summary-card>
  </div>
</div>
