{
  "extends": ['@knit/socks-react'],
  "rules": {
    "arrow-body-style": 0,
    "camelcase": 0,
    "flowtype/require-valid-file-annotation": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-parameter-type": 0,
    "fp/no-let": 0,
    "fp/no-mutation": 0,
    "fp/no-mutating-methods": 0,
    "fp/no-this": 0,
    "react/prop-types": 0
  }
}
