#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #ebebeb;
  min-height: 51px;
  background-color: white;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

@media (max-width: 859px) {
  .header-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 860px) and (max-width: 1119px) {
  .header-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1120px) and (max-width: 1345px) {
  .header-hidden-md {
    display: none !important;
  }
}
