.bar-chart {
  .bar {
    fill: #cccccc;
  }

  .invisible-bar {
    fill: transparent;
  };

  .bar:hover {
    fill: #a9a9a9;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .c3-text {
    font-weight: 700;
  }

  .x.axis path {
    display: none;
  }

  .reports-chart {
    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .pie-text {
      font-size: 10px;
      color: white;
      fill: white;
    }

  }
}
