.donut-chart {

  path {
    stroke: #fff;
    stroke-width: 2px;
    transition: fill 250ms linear;
    transition-delay: 150ms;
  }

  path:hover {
    transition-delay: 0;
  }

  .chart-title {
    text-align: center;
  }

  .donut-chart-legend {
    width: 275px;
    position: absolute;
    z-index: 100000;

    h3 {
      padding-left: 20px;
      margin-top: 12px;
    }

    .donut-chart-color {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }
}

.pie-legend-text {
  font-size: 12px;
  font-family: Open Sans;
}

g.arc > path[state="true"] {
  cursor: pointer;
}